/* ##############################
# components - badge
################################*/
@mixin badge-default() {
  flex: none;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  @include ellipsis();
}
.badge-container {
  display: flex;
  gap: 5px;
}
.badge {
  @include badge-default();
  border-radius: 80px;
  background-color: #dfdfdf;
  padding: 0 12px;
  line-height: 28px;
  color: #787878;
  vertical-align: middle;
  &-white {
    background-color: var(--badge-white-background, #fff);
    color: #000;
  }
  // midm
  &-midm {
    border: 2px solid var(--badge-outline-border, #000);
    background-color: transparent;
    font-size: 16px;
    color: var(--badge-outline-color, #000);
  }
  &-outline {
    @include badge-default();
    border: 2px solid var(--badge-outline-border, #000);
    border-radius: 80px;
    background-color: transparent;
    line-height: 36px;
    padding: 0 20px;
    font-size: 16px;
    color: var(--badge-outline-color, #000);
    vertical-align: middle;
  }
  // 작업중
  &-outline.working {
    border-color: $color-primary-green;
    color: $color-primary-green;
  }
  // 대기중
  &-outline.waiting {
    border-color: $color-primary-skyblue;
    color: $color-primary-skyblue;
  }
  // 답변완료
  &-outline.finish {
    border-color: $color-primary-info;
    color: $color-primary-info;
  }
  // 등록신청중
  &-outline.regist-apply {
    border-color: $color-primary-skyblue;
    color: $color-primary-skyblue;
  }
  // 등록신청반려
  &-outline.regist-reject {
    border-color: $color-primary-orange;
    color: $color-primary-orange;
  }
  // 등록완료
  &-outline.regist-complete {
    border-color: $color-primary-info;
    color: $color-primary-info;
  }
}
.badge-txt {
  @include badge-default();
  &.update {
    font-size: 18px;
    color: $color-primary-skyblue;
  }
  &.new {
    font-size: 18px;
    color: $color-primary-orange;
  }
  // 등록신청중
  &.regist-apply {
    font-size: 18px;
    color: $color-primary-skyblue;
  }
  // 등록신청반려
  &.regist-reject {
    font-size: 18px;
    color: $color-primary-orange;
  }
  &.regist-complete {
    font-size: 18px;
    color: $color-primary-info;
  }
}
