/* ##############################
# components - pagination
################################*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
  .page-item {
    flex: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-align: center;
    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled).is-active {
      background-color: #000;
      color: #fff;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .first,
  .prev,
  .next,
  .last {
    background: no-repeat 50% 50%;
    font-size: 0;
  }

  .first {
    background-image: url("../images/ico_pagination_first.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_first_w.svg");
    }
  }
  .prev {
    background-image: url("../images/ico_pagination_prev.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_prev_w.svg");
    }
  }
  .next {
    background-image: url("../images/ico_pagination_next.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_next_w.svg");
    }
  }
  .last {
    background-image: url("../images/ico_pagination_last.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_last_w.svg");
    }
  }
}
@include mobile {
  .pagination {
    gap: 5px;
    max-width: 100%;
    margin-top: 30px;
    overflow: hidden;
    .first,
    .last {
      display: none;
    }
  }
}
/* ##############################
# components - notice text
################################*/
.txt-notice {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  &::before {
    content: "";
    flex: none;
    display: block;
    background: url("../images/ico_txt_notice.svg") no-repeat 50% 50% / cover;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  > * {
    margin: 0 3px;
  }
  &.color-info::before {
    background-image: url("../images/ico_txt_notice_gray.svg");
  }
  &.center {
    justify-content: center;
  }
}
/* ##############################
# components - search (검색영역)
################################*/
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
  .search-category {
    width: 250px;
  }
  .search-input {
    margin-right: auto;
  }
  .search-total {
    flex: 1 1 auto;
    font-weight: 500;
    color: #555;
    strong {
      font-weight: 800;
      color: inherit;
    }
  }
  .count-select,
  .filter-select {
    width: 150px;
  }
  .search-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    width: 100%;
    .filter-select {
      margin-left: auto;
    }
  }
}

.search-input {
  position: relative;
  border: 2px solid #000;
  display: inline-flex;
  &.type2 {
    border-color: #ccc;
    background-color: #fff;
  }
  .search-ipt {
    flex: 1;
    max-width: calc(100% - 42px);
    padding: 10px 0 10px 20px;
    text-align: left;
  }
  .search-btn {
    flex: none;
    background: url("../images/ico_search_btn.svg") no-repeat 50% 50%;
    width: 42px;
    height: 48px;
    font-size: 0;
    &:hover {
      opacity: 0.5;
    }
  }
}
@include tablet {
  .search-container {
    flex-wrap: wrap;
    justify-content: flex-end;
    .search-input {
      width: calc(100% - 270px);
      margin-right: 0;
    }
  }
}
@include mobile {
  .search-container {
    .search-category,
    .search-input {
      width: 100%;
    }
    .search-filter {
      .filter-select {
        width: 100%;
      }
    }
  }
}

/* ##############################
# components - image
################################*/
.img-container {
  position: relative;
  margin: 20px 0;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

/* ##############################
# components - emtpy(게시글이 없습니다)
################################*/
.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: 100%;
  min-height: 100%;
  height: 500px;
  text-align: center;
  font-size: 24px;
  color: #838383;
  &::before {
    content: "";
    display: block;
    background: transparent no-repeat 50% 50% / cover;
    background-image: url("../images/ico_empty.svg");
    width: 60px;
    height: 60px;
  }
}
@include mobile {
  .empty-container {
    font-size: 16px;
    gap: 10px;
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

/* ##############################
# components - loading, pageing loader
################################*/
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}
.loading-txt {
  font-size: 14px;
  font-weight: 600;
  color: #787878;
}
.loading-loader {
  display: block;
  position: relative;
  width: 100px;
  height: 18px;
  -webkit-mask: radial-gradient(circle closest-side, #fff 94%, #0000) 0 0/25%
      100%,
    linear-gradient(#fff 0 0) center/calc(100% - 10px) calc(100% - 10px)
      no-repeat;
  mask: radial-gradient(circle closest-side, #fff 94%, #0000) 0 0/25% 100%,
    linear-gradient(#fff 0 0) center/calc(100% - 10px) calc(100% - 10px)
      no-repeat;
  background: linear-gradient(#4ff3ff 0 0) left/0% 100% no-repeat #000;
  animation: bblprg 2s infinite linear;
}

@keyframes bblprg {
  100% {
    background-size: 100% 100%;
  }
}

.page-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.page-loading.is-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-loading .loading {
  gap: 25px;
  background-color: #fff;
  max-width: 340px;
  max-height: 190px;
  padding: 50px 70px;
}

/* ##############################
# components - code, caption
################################*/
code {
  padding: 2px 5px;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgb(175 184 193 / 20%);
  border-radius: 6px;
}
.caption {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #787878;
}
/* ##############################
# components - table
################################*/
.table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  tr {
    background-color: #fff;
    &:nth-child(2n) {
      background-color: #f6f8fa;
      border-top: 1px solid #d8dee4;
    }
  }
  th {
    background-color: #ffffff;
    font-weight: 600;
  }
  th,
  td {
    border: 1px solid #d0d7de;
    padding: 6px 13px;
  }
}

/* ##############################
# components - quick menu(퀵메뉴)
################################*/
.quick {
  &-container {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0;
  }
  &-tit {
    background-color: #f4f4f4;
    padding: 9px 16px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
  }
  &-content {
    position: relative;
    overflow: hidden;
    transition: height .3s;
    .link {
      display: block;
      width: 100%;
      padding: 6px 40px;
      line-height: 1.25;
      font-weight: 400;
      font-size: 14px;
      color: #333;
      &:hover {
        background-color: rgba(53, 212, 248, 0.05);
        color: #35d4f8;
        text-decoration: underline;
        &::before {
          background-color: #35d4f8;
        }
      }
    }
    > .link::before {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      left: 30px;
      background-color: #333;
      border-radius: 50%;
      width: 3px;
      height: 3px;
    }
  }
  &-link-sub {
  }
}
// PC 해상도
@include desktop {
  .quick {
    flex: none;
    border-right: 1px solid #f4f4f4;
    width: 210px;
  }
  .quick-container {
    position: sticky;
    top: 80px;
  }
  .quick-collapse {
    display: none;
  }
}
@include tablet {
  .quick {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    z-index: 99;
    overflow: hidden;
    transition: all 0.2s;
    &.is-open {
      width: 296px;
      height: auto;
      .quick-container {
        opacity: 1;
        transition-delay: 0s;
        max-height: calc(100vh - 160px);
        overflow: auto;
      }
    }
  }
  .quick-container {
    position: absolute;
    left: 0;
    bottom: 30px;
    border: 2px solid #160c0c;
    border-radius: 20px;
    width: 226px;
    padding: 20px 10px 40px;
    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.18s;
  }
  .quick-collapse {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    border-radius: 15px;
    width: 65px;
    height: 65px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 2px);
      display: block;
      border-radius: 6px;
      background-color: #fff;
      width: 25px;
      height: 4px;
      transition: transform 0.3s;
    }
    &::after {
      transform: rotate(90deg);
    }
    &.is-open {
      border-top-left-radius: 0;
      &::after {
        transform: rotate(0);
      }
    }
  }
}

@include mobile {
  .quick {
    left: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    &.is-open {
      width: 266px;
    }
  }
  .quick-container {
    bottom: 20px;
    padding: 15px 15px 30px;
  }
  .quick-collapse {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    &::before,
    &::after {
      content: "";
      left: calc(50% - 10px);
      width: 20px;
    }
  }
}

/* ##############################
# components - multi column(design)
################################*/
.multi-column {
  display: flex;
  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    > p {
      text-align: center;
    }
    &-num {
      font-size: 18px;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #00d1ff;
    }
    &-title {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
    }
    &-txt {
      margin-top: 18px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
