/* ##############################
# components - input[text]
################################*/
.ipt {
  border: 2px solid #ccc;
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
}

.ipt-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  .select-container {
    flex: none;
    width: 200px;
  }
  .ipt {
    flex: 1;
  }
  .btn-container {
    gap: inherit;
  }
}
@include mobile {
  .ipt-container {
    flex-direction: column;
    .select-container,
    .btn-container {
      width: 100%;
      .btn {
        flex: 1;
      }
    }
  }
}

/* ##############################
# components - checkbox
################################*/
.chk {
  position: relative;
  display: inline-flex;
  align-items: center;
  .chk-ipt {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    &:not(:disabled):hover + .chk-label:before,
    &:not(:disabled):focus + .chk-label:before {
      border-color: #000;
    }
    &:disabled + .chk-label {
      color: #ccc;
      cursor: auto;
      opacity: 0.5;
    }
    &:disabled + .chk-label:before {
      background-color: #ccc;
    }
  }
  .chk-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    &::before {
      content: "";
      display: block;
      border: 1px solid #ccc;
      border-radius: 50%;
      background: #fff no-repeat 50% 50%;
      background-image: url("../images/ico_chk_chekcd.svg");
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
  .chk-ipt:checked + .chk-label:before {
    background-color: #000;
  }
}
/* ##############################
# components - radio
################################*/
.rdo {
  position: relative;
  position: relative;
  display: inline-flex;
  align-items: center;
  .rdo-ipt {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    &:not(:disabled):hover + .rdo-label:before,
    &:not(:disabled):focus + .rdo-label:before {
      border-color: #000;
    }
    &:disabled + .rdo-label {
      color: #ccc;
      cursor: auto;
    }
    &:disabled + .rdo-label:before {
      background-color: #ccc;
    }
  }
  .rdo-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    &::before {
      content: "";
      display: block;
      border: 1px solid #ccc;
      border-radius: 50%;
      background: #fff no-repeat 50% 50%;
      background-image: url("../images/ico_chk_chekcd.svg");
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }
  }
  .rdo-ipt:checked + .rdo-label:before {
    background-color: #000;
  }
}

/* ##############################
# components - textarea
################################*/
.textarea-container {
  position: relative;
  width: 100%;
  padding-bottom: 48px;
  .textarea-count {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    color: #787878;
    .count {
      color: #000;
    }
  }
}
