html,
body {
  background-color: var(--background);
  font-family: $font-famliy;
  font-weight: $font-weight;
  font-size: $font-size;
  color: var(--color, #000);
  line-height: $line-height;
  word-break: keep-all;
  transition: color 0.3s;
  transition-delay: 0s;
}

button {
  cursor: pointer;
}
::placeholder {
  color: #787878;
  font-size: 14px;
  font-weight: 400;
}
textarea {
  border: 1px solid #ccc;
  width: 100%;
  padding: 20px;
  height: 150px;
  resize: none;
  &:read-only {
    border-color: transparent;
  }
}

.flex-direction-vertical {
  flex-direction: column;
}
.flex-direction-column {
  flex-direction: column;
}

@for $i from 0 to 10 {
  $margin: $i * 10;
  .mt#{$margin} {
    margin-top: $margin * 1px;
  }
  .mb#{$margin} {
    margin-bottom: $margin * 1px;
  }
  .ml#{$margin} {
    margin-left: $margin * 1px;
  }
  .mr#{$margin} {
    margin-right: $margin * 1px;
  }
}

:root {
  --background: #fff;
  --color: #000;
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
}
.dark-theme {
  --background: #000;
  --color: #fff;
  --header-gnb-background: #1f1f1f;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
}

@include desktop {
  .br-pc {
    display: initial;
  }
  .br-mo {
    display: none;
  }
}
@include tablet-only {
  .br-pc {
    display: initial;
  }
  .br-mo {
    display: none;
  }
}
@include mobile {
  .br-pc {
    display: none;
  }
  .br-mo {
    display: initial;
  }
}
