html,
body {
  background-color: var(--background);
  font-family: $font-famliy;
  font-weight: $font-weight;
  font-size: $font-size;
  color: var(--color, #000);
  line-height: $line-height;
  word-break: keep-all;
  transition: color 0.3s;
  transition-delay: 0s;
}

button {
  cursor: pointer;
}

:root {
  --background: #fff;
  --color: #000;
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
}
.dark-theme {
  --background: #000;
  --color: #fff;
  --header-gnb-background: #1f1f1f;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
}
