:root {
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
  --gnb-logo: url("../images/img_logo.svg");
  --gnb-logo-labs: url("../images/img_labs_logo.svg");
  --gnb-icon-open: url("../images/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/ico_arrow_42.svg");
  --gnb-mobile-background: #fff;
  --main-header-color: #000;
  --footer-color: #787878;
  --footer-policy-color: #000;
}

.dark-theme {
  --header-gnb-background: #1f1f1f;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
  --gnb-logo: url("../images/darkmode/img_logo.svg");
  --gnb-logo-labs: url("../images/darkmode/img_labs_logo.svg");
  --gnb-icon-open: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/darkmode/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/darkmode/ico_arrow_42.svg");
  --gnb-mobile-background: #000;
  --main-header-color: #fff;
  --footer-color: #787878;
  --footer-policy-color: #fff;
}

/* ##############################
# layout - Header
################################*/
:root {
  --1dep-arrow: url("../images/ico_gnb_arrow.svg");
  --1dep-link: url("../images/ico_link_24_000.svg");
  --2dep-background: #f4f4f4;
}

.dark-theme {
  --1dep-arrow: url("../images/darkmode/ico_gnb_arrow.svg");
  --1dep-link: url("../images/ico_link_24_fff.svg");
  --2dep-background: #1f1f1f;
}

.header {
  position: relative;
  background-color: #000;
  color: #fff;
  z-index: 999;
}
.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 16px 0;
  color: inherit;
}
.header .logo {
  flex: none;
  background: url("../images/darkmode/img_logo.svg") no-repeat 50% 50%/contain;
  width: 214px;
  height: 28px;
  padding: 10px 0;
  font-size: 0;
  z-index: 9;
}
.header .labs-logo {
  flex: none;
  background: url("../images/darkmode/img_labs_logo.svg") no-repeat 50% 50%/contain;
  width: 75px;
  height: 28px;
  margin-left: 8px;
  font-size: 0;
  z-index: 9;
}
.header .btn-gnb {
  display: none;
  position: absolute;
  top: 0px;
  right: 18px;
  background: no-repeat 50% 50%;
  width: 38px;
  height: 80px;
  font-size: 0;
  color: transparent;
  z-index: 9;
}
.header .btn-gnb.open {
  background-image: var(--gnb-icon-open-white);
}
.header .btn-gnb.close {
  position: fixed;
  background-image: var(--gnb-icon-close);
}
.header .header-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  color: #fff;
}
.header .gnb {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  color: inherit;
}
.header .gnb-menu {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.header .gnb-menu:hover, .header .gnb-menu.is-active {
  text-decoration: underline;
}
.header .gnb-menu .ico-link {
  background: url("../images/ico_link_24_fff.svg") no-repeat 50% 50%/13px;
  width: 20px;
  height: 20px;
}
.header .gnb-1dep {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
.header .gnb-1dep > .gnb-menu::after {
  content: "";
  display: block;
  background: url("../images/darkmode/ico_gnb_arrow.svg") no-repeat 50% 50%/contain;
  width: 16px;
  height: 16px;
  margin-left: 2px;
}
.header .gnb-1dep > .gnb-menu:hover::after, .header .gnb-1dep > .gnb-menu.is-active::after {
  transform: rotate(180deg);
}
.header .gnb-2dep {
  display: none;
  font-size: 16px;
  font-weight: 500;
}
.header .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-left: auto;
  color: #fff;
}
.header .info .info-menu {
  padding: 10px 0 10px 34px;
  font-size: 18px;
  font-weight: 600;
  color: inherit;
}
.header .info .info-menu.ground {
  background: url("../images/darkmode/ico_gnb_my.svg") no-repeat 0 50%;
}
.header .info .info-menu.logout {
  background: url("../images/ico_gnb_logout.svg") no-repeat 0 50%;
  color: #838383;
}
.header .info .info-menu.login {
  background: url("../images/ico_gnb_login.svg") no-repeat 0 50%;
  color: #838383;
}
.header .info .info-menu.sign {
  padding-left: 0;
  color: #838383;
}
.header .btn-theme {
  display: block;
  flex: 0 0 auto;
  position: relative;
  border: 1px solid var(--header-gnb-toggle-border, #ccc);
  background-color: var(--header-gnb-toggle, #ccc);
  border-radius: 28px;
  width: 80px;
  height: 40px;
  font-size: 0;
}
.header .btn-theme::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  background-color: var(--header-gnb-toggle-icon, #fff);
  border-radius: 28px;
  width: 28px;
  aspect-ratio: 1/1;
  transition: all 0.3s;
}
.header .btn-theme::after {
  content: "W";
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  width: 28px;
  aspect-ratio: 1/1;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  transition: all 0.3s;
}
.header .btn-theme.toggle::before {
  left: 44px;
}
.header .btn-theme.toggle::after {
  content: "B";
  right: 40px;
}

.main .header {
  background-color: transparent;
  color: var(--main-header-color);
}
.main .header .header-menu {
  color: inherit;
}
.main .header .header-menu::before {
  background-color: var(--gnb-mobile-background);
}
.main .header .logo {
  background-image: var(--gnb-logo);
}
.main .header .labs-logo {
  background-image: var(--gnb-logo-labs);
}
.main .header .btn-gnb.open {
  background-image: var(--gnb-icon-open);
}
.main .header .btn-gnb.close {
  background-image: var(--gnb-icon-close);
}
.main .header .btn-theme {
  display: block;
}
.main .header .gnb-1dep .gnb-menu::after {
  background-image: var(--1dep-arrow);
}
.main .header .gnb-1dep .gnb-menu .ico-link {
  background-image: var(--1dep-link);
}
.main .header .info {
  color: var(--main-header-color);
}
.main .header .info .info-menu.ground {
  background-image: var(--gnb-icon-ground);
}

@media (min-width: 1440px) {
  .header-container {
    max-width: 1390px;
    margin: 0 auto;
  }
  .header .labs-logo {
    margin-right: 40px;
  }
  .header .btn-theme {
    margin-left: 20px;
  }
  .header .gnb-1dep.is-active .gnb-2dep {
    display: flex;
  }
  .header .gnb-2dep {
    position: absolute;
    top: 36px;
    flex-direction: column;
    gap: 4px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px 10px;
  }
  .header .gnb-2dep .gnb-menu {
    color: #fff;
    white-space: nowrap;
  }
  .header .info .info-menu.ground.is-active {
    background-image: url("../images/ico_gnb_my_active.svg");
    color: #35D4F8;
  }
}
@media (max-width: 1439px) {
  .header {
    color: #000;
  }
  .header.is-show {
    right: 0;
    background-color: var(--gnb-mobile-background);
  }
  .header.is-show .logo {
    background-image: var(--gnb-logo);
  }
  .header.is-show .labs-logo {
    background-image: var(--gnb-logo-labs);
  }
  .header.is-show .header-menu {
    right: 0;
  }
  .header.is-show .gnb-1dep .gnb-menu::after {
    background-image: var(--1dep-arrow);
  }
  .header.is-show .gnb-1dep .gnb-menu .ico-link {
    background-image: var(--1dep-link);
  }
  .header.is-show .btn-theme {
    opacity: 0;
  }
  .header.is-show .btn-gnb.open {
    display: none;
  }
  .header.is-show .btn-gnb.close {
    display: block;
  }
  .header-container {
    height: 80px;
    padding: 0 30px;
  }
  .header .btn-theme {
    margin-left: auto;
    margin-right: 35px;
  }
  .header .btn-gnb.close {
    display: none;
  }
  .header .btn-gnb.open {
    display: block;
  }
  .header .header-menu {
    position: fixed;
    top: 80px;
    right: -100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--gnb-mobile-background);
    padding: 0;
    width: 100vw;
    height: calc(100% - 80px);
    overflow-y: auto;
    z-index: 5;
    color: var(--main-header-color);
  }
  .header .gnb {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
  }
  .header .gnb .gnb-menu {
    width: 100%;
    padding: 16px 40px;
  }
  .header .gnb-1dep {
    width: 100%;
  }
  .header .gnb-1dep.is-active .gnb-2dep {
    display: block;
  }
  .header .gnb .gnb-2dep {
    background-color: var(--2dep-background);
  }
  .header .gnb .gnb-2dep .gnb-menu:hover {
    color: #35D4F8;
  }
  .header .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    padding: 20px 30px;
    color: inherit;
  }
  .header .info .info-menu {
    margin: 7px 10px;
  }
  .header .info .info-menu.ground {
    border: 2px solid var(--visual-link-border);
    border-radius: 80px;
    background-image: var(--gnb-icon-ground);
    background-position: 20px 50%;
    padding: 10px 20px 10px 44px;
    margin: 0 0 60px 0;
    line-height: 22px;
  }
  .header .info .info-menu.ground.is-active {
    background-image: url("../images/darkmode/ico_gnb_my.svg");
    background-color: #000;
    color: #fff;
  }
}
@media (max-width: 742px) {
  .header.is-show {
    overflow: visible;
  }
  .header.is-show .labs-logo {
    left: 20px;
  }
  .header-container {
    height: 60px;
  }
  .header .logo {
    width: 160px;
    height: 21px;
  }
  .header .labs-logo {
    position: fixed;
    top: 74px;
    left: 100vw;
    transition: 0.3s;
  }
  .header .btn-theme {
    width: 56px;
    height: 30px;
    margin-right: 20px;
  }
  .header .btn-theme::before {
    top: 2px;
    left: 2px;
    width: 24px;
  }
  .header .btn-theme::after {
    top: 1px;
    right: 2px;
    width: 24px;
    font-size: 16px;
  }
  .header .btn-theme.toggle::before {
    left: 28px;
  }
  .header .btn-theme.toggle::after {
    right: 26px;
  }
  .header .btn-gnb {
    background-position-x: 0;
    right: 0;
    width: 40px;
    height: 60px;
  }
  .header .header-menu {
    top: 0;
    height: 100%;
  }
  .header .header-menu::before {
    content: "";
    flex: none;
    position: sticky;
    top: 0;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 116px;
    z-index: 1;
  }
}
/* ##############################
# layout - footer
################################*/
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ededed;
  max-width: 1392px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 64px;
  color: var(--footer-color, #787878);
  line-height: 28px;
}
.footer .copyright {
  font-size: inherit;
  margin-right: auto;
}
.footer .term {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.footer .term-txt,
.footer .policy-txt {
  font-size: inherit;
}
.footer .policy-txt {
  color: var(--footer-policy-color, #000);
}

@media (min-width: 743px) and (max-width: 1439px) {
  .footer {
    padding: 50px 50px 101px;
  }
}
@media (max-width: 742px) {
  .footer {
    flex-direction: column-reverse;
    padding: 60px 27px 64px;
    font-size: 14px;
  }
  .footer .copyright {
    margin-top: 20px;
  }
}
/* ##############################
# layout - container
################################*/
.dark-theme {
  color: var(--color, #fff);
}

.wrap {
  position: relative;
  background-color: #ededed;
  width: 100%;
  min-height: 100vh;
}
.wrap.main {
  background-color: var(--background, #000);
  max-width: 1392px;
  margin: 0 auto;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
}
.container-header {
  background: #000 no-repeat 100% 100%/contain;
  padding: 64px 60px;
  margin-bottom: 40px;
  color: #fff;
}
.container-header .page-title {
  margin-bottom: 14px;
  line-height: 55px;
  font-size: 48px;
  font-weight: 700;
}
.container-header .page-txt {
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #000;
  border-bottom: 1px solid #000;
  padding: 40px;
  margin-bottom: 40px;
}
.section-title.type2 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 60px;
}
.section-title .title {
  line-height: 42px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 7px;
}
.section-title .txt {
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
}
.section-title .badge-container,
.section-title .btn-container {
  margin-left: auto;
}

.container-detail {
  background-color: #fff;
  padding: 60px;
}

.container-edit {
  background-color: #fff;
  padding: 60px;
}
.container-edit .section-title {
  border: 0 none;
  padding: 0;
  margin-bottom: 20px;
}
.container-edit .section-title .title {
  font-size: 28px;
}
.container-edit .section-title .txt {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #787878;
}
.container-edit .section-title .btn-container {
  margin-left: auto;
}

.docs .container-header {
  background-image: url("../images/img_page_title_docs.svg");
}

.demo .container-header {
  background-image: url("../images/img_page_title_demo.svg");
}

.sampleCode .container-header {
  background-image: url("../images/img_page_title_sampleCode.svg");
}

.applications .container-header {
  background-image: url("../images/img_page_title_applications.svg");
}

.forum .container-header {
  background-image: url("../images/img_page_title_forum.svg");
}

.myGround .container-header {
  background-image: url("../images/img_page_title_myground.svg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.builder .container-header {
  background-image: url("../images/img_page_title_docs.svg");
}

@media (max-width: 1439px) {
  .container {
    padding: 0 50px;
  }
  .container-edit,
  .container-detail {
    padding: 30px;
  }
  .container-header .page-txt {
    font-size: 14px;
    line-height: 22px;
  }
  .section-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-title .btn-container {
    margin: 20px auto 0 0;
  }
  .section-title .badge-container {
    margin-left: 0;
  }
  .main .container {
    padding: 0;
  }
  .docs .container-header {
    background-position: calc(100% + 48px) calc(100% + 18px);
  }
  .sampleCode .container-header {
    background-position: calc(100% + 60px) 100%;
  }
  .applications .container-header {
    background-position: calc(100% + 40px) 100%;
  }
  .forum .container-header {
    background-position: calc(100% + 40px) 100%;
  }
  .myGround .container-header {
    background-image: url("../images/img_page_title_myground_m.svg");
    background-position: 100% 100%;
    background-size: auto;
    text-align: left;
  }
}
@media (max-width: 742px) {
  .container {
    padding: 0 27px;
  }
  .container-edit,
  .container-detail {
    padding: 20px;
  }
  .container-edit > .section-title,
  .container-detail > .section-title {
    align-items: center;
  }
  .container-edit > .section-title .badge-container,
  .container-detail > .section-title .badge-container {
    flex-direction: column;
    margin-left: 0;
  }
  .container-header {
    background-size: auto;
    height: 400px;
    margin-bottom: 20px;
    padding: 50px 20px 0px;
    text-align: center;
  }
  .container-header .page-title {
    font-size: 30px;
    line-height: 36px;
  }
  .section-title {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .section-title .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-title .btn-container {
    width: 100%;
  }
  .section-title .btn-container .btn {
    flex: 1 1 auto;
  }
  .docs .container-header,
  .demo .container-header,
  .sampleCode .container-header,
  .applications .container-header,
  .myGround .container-header {
    background-size: 320px;
    background-position: center 100%;
  }
  .forum .container-header {
    background-size: 530px;
    background-position: calc(50% - 16px) 100%;
  }
  .myGround .container-header {
    text-align: center;
  }
}
/* ##############################
# layout - top button
################################*/
.top-btn {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 15px;
  background: #fff;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 0;
  transition: all 0.3s;
}
.top-btn::before, .top-btn::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 6px;
  background-color: #000;
  width: 18px;
  height: 4px;
}
.top-btn::before {
  left: calc(50% - 14px);
  top: calc(50% - 2px);
  rotate: -45deg;
}
.top-btn::after {
  right: calc(50% - 14px);
  top: calc(50% - 2px);
  rotate: 45deg;
}
@media (max-width: 742px) {
  .top-btn {
    right: 20px;
    bottom: 20px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }
  .top-btn::before, .top-btn::after {
    width: 12px;
  }
  .top-btn::before {
    left: calc(50% - 9px);
  }
  .top-btn::after {
    right: calc(50% - 9px);
  }
}

.main .top-btn {
  background-color: #ededed;
}