// default
$font-famliy: 'pretendard', 'Malgun Gothic';
$font-weight: 500;
$font-size: 16px;
$font-color: #000;
$line-height: 28px;

// color
$color-primary-green: #13de48;
$color-primary-skyblue: #4ff3ff;
$color-primary-orange: #ff6800;
$color-primary-info: #929292;

$color-fff: #fff;
$color-000: #000;
