@import "abstracts/variable";
@import "abstracts/mixin";

:root {
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
  --gnb-logo: url("../images/img_logo.svg");
  --gnb-icon-open: url("../images/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/ico_arrow_42.svg");
  --gnb-mobile-background: #fff;
  --main-header-color: #000;
  --footer-color: #787878;
  --footer-policy-color: #000;
}
.dark-theme {
  --header-gnb-background: #1f1f1f;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
  --gnb-logo: url("../images/darkmode/img_logo.svg");
  --gnb-icon-open: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/darkmode/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/darkmode/ico_arrow_42.svg");
  --gnb-mobile-background: #000;
  --main-header-color: #fff;
  --footer-color: #787878;
  --footer-policy-color: #fff;
}
@import "layouts/header";
@import "layouts/footer";
@import "layouts/container";
