.dark-theme {
  color: var(--color, #fff);
}
.wrap {
  position: relative;
  background-color: #ededed;
  width: 100%;
  &.main {
    background-color: var(--background, #000);
    max-width: 1392px;
    margin: 0 auto;
  }
  .container {
    max-width: 1392px;
    margin: 0 auto;
  }
}

.container {
  &-header {
    background: #000 no-repeat 100% 50% / contain;
    padding: 64px 60px;
    color: #fff;
    .page-title {
      margin-bottom: 14px;
      line-height: 55px;
      font-size: 48px;
      font-weight: 700;
    }
    .page-txt {
      line-height: 30px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
