.dark-theme {
  color: var(--color, #fff);
}
.wrap {
  position: relative;
  background-color: #ededed;
  width: 100%;
  &.main {
    background-color: var(--background, #000);
    max-width: 1392px;
    margin: 0 auto;
  }
  .container {
    max-width: 1392px;
    margin: 0 auto;
  }
}

.container {
  &-header {
    background: #000 no-repeat 100% 100% / contain;
    padding: 64px 60px;
    margin-bottom: 40px;
    color: #fff;
    .page-title {
      margin-bottom: 14px;
      line-height: 55px;
      font-size: 48px;
      font-weight: 700;
    }
    .page-txt {
      line-height: 30px;
      font-size: 18px;
      font-weight: 400;
    }
    // images
    &.demo {
      background-image: url("../images/img_page_title_demo.svg");
    }
    &.sampleCode{
      background-image: url("../images/img_page_title_sampleCode.svg");
    }
  }
}
@include tablet {
  .container {
    padding: 0 50px;
  }
  .main .container{
    padding: 0;
  }
}
@include mobile {
  .container {
    padding: 0 27px;
  }
  .container-header {
    background-size: 0;
    background-color: transparent;
    margin-bottom: 0;
    padding: 47px 0 31px;
    text-align: center;
    color: #000;
  }
}
