// color
// var(--color, #f4f4f4);
:root {
  --footer-color: #787878;
  --footer-policy-color: #000;
}
.dark-theme {
  --footer-color: #787878;
  --footer-policy-color: #fff;
}
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 64px;
  color: var(--footer-color, #787878);
  line-height: 28px;
  .copyright {
    font-size: inherit;
    margin-right: auto;
  }
  .term {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
  .term-txt,
  .policy-txt {
    font-size: inherit;
  }
  .policy-txt {
    color: var(--footer-policy-color, #000);
  }
}

@include tablet-only {
  .footer {
    padding: 50px 50px 101px;
  }
}
@include mobile {
  .footer {
    flex-direction: column-reverse;
    padding: 60px 27px 64px;
    font-size: 14px;
    .copyright {
      margin-top: 20px;
    }
  }
}
