@import "abstracts/variable";
@import "abstracts/mixin";

:root {
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
  --gnb-logo: url("../images/img_logo.svg");
  --gnb-logo-white: url("../images/darkmode/img_logo.svg");
  --gnb-logo-labs: url("../images/img_labs_logo.svg");
  --gnb-logo-labs-on: url("../images/img_labs_logo_on.svg");
  --gnb-logo-labs-white: url("../images/darkmode/img_labs_logo.svg");
  --gnb-logo-labs-white-on: url("../images/darkmode/img_labs_logo_on.svg");
  --gnb-icon-open: url("../images/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-login: url("../images/ico_gnb_login_000.svg");
  --gnb-icon-logout: url("../images/ico_gnb_logout_000.svg");
  --gnb-icon-ground: url("../images/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/ico_gnb_arrow.svg");
  --gnb-icon-menu-white: url("../images/darkmode/ico_gnb_arrow.svg");
  --gnb-icon-link: url("../images/ico_link_24_000.svg");
  --gnb-icon-link-white: url("../images/ico_link_24_fff.svg");
  --gnb-mobile-background: #fff;
  --main-header-color: #000;
  --footer-color: #787878;
  --footer-policy-color: #000;
}
.dark-theme {
  --header-gnb-background: #000;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
  --gnb-logo: url("../images/darkmode/img_logo.svg");
  --gnb-logo-white: url("../images/img_logo.svg");
  --gnb-logo-labs: url("../images/darkmode/img_labs_logo.svg");
  --gnb-logo-labs-on: url("../images/darkmode/img_labs_logo_on.svg");
  --gnb-logo-labs-white: url("../images/img_labs_logo.svg");
  --gnb-logo-labs-white-on: url("../images/img_labs_logo_on.svg");
  --gnb-icon-open: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/ico_gnb_close.svg");
  --gnb-icon-login: url("../images/ico_gnb_login_fff.svg");
  --gnb-icon-logout: url("../images/ico_gnb_logout_fff.svg");
  --gnb-icon-ground: url("../images/darkmode/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/darkmode/ico_gnb_arrow.svg");
  --gnb-icon-menu-white: url("../images/ico_gnb_arrow.svg");
  --gnb-icon-link: url("../images/ico_link_24_fff.svg");
  --gnb-icon-link-white: url("../images/ico_link_24_fff.svg");
  --gnb-mobile-background: #000;
  --main-header-color: #fff;
  --footer-color: #787878;
  --footer-policy-color: #fff;
}
@import "layouts/header";
@import "layouts/footer";
@import "layouts/container";
