// color
// var(--color, #f4f4f4);
:root {
  --badge-white-background: #fff;
  --badge-outline-border: #000;
  --badge-outline-color: #000;
}
.dark-theme {
  --badge-white-background: #fff;
  --badge-outline-border: #fff;
  --badge-outline-color: #fff;
}
@mixin badge-default() {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  @include ellipsis();
}
.badge-container {
  display: flex;
  gap: 5px;
}
.badge {
  @include badge-default();
  border-radius: 80px;
  background-color: #dfdfdf;
  max-width: 120px;
  padding: 0 12px;
  line-height: 28px;
  color: #787878;
  &-white {
    background-color: var(--badge-white-background, #fff);
    color: #000;
  }
  &-outline {
    border: 2px solid var(--badge-outline-border, #000);
    background-color: transparent;
    color: var(--badge-outline-color, #000);
  }
}
.badge-txt {
  @include badge-default();
  &.primary {
    font-size: 18px;
    color: #00d1ff;
  }
  &.secondary {
    font-size: 18px;
    color: #ff6b00;
  }
  &.info {
    font-size: 18px;
    color: #929292;
  }
}
