@mixin badge-default() {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  line-height: 1;
}
.badge {
  @include badge-default();
  border-radius: 80px;
  &-white {
    background-color: #fff;
    padding: 6px 12px;
  }
  &-outline{
    border: 2px solid #000;
    background-color: transparent;
    padding: 6px 12px;
  }
}
.txt {
  &-new {
    color: #ff6b00;
  }
  &-update {
    color: #00d1ff;
  }
}
