// color
// var(--color, #f4f4f4);
:root {
  --card-background: #f4f4f4;
  --card-icon-bookmark: url("../images/ico_bookmark_b.svg");
  --card-icon-bookmark-active: url("../images/ico_bookmark_b_active.svg");
  --card-icon-arrow: url("../images/ico_arrow_42.svg");
  --card-icon-midm: url("../images/img_midm.svg");
  --card-icon-hits: url("../images/ico_view_24.svg");
  --card-icon-like: url("../images/ico_like_24.svg");
  --card-icon-commnet: url("../images/ico_comment_24.svg");
  --card-view-color: #000;
}
.dark-theme {
  --card-background: #1f1f1f;
  --card-icon-bookmark: url("../images/darkmode/ico_bookmark.svg");
  --card-icon-bookmark-active: url("../images/darkmode/ico_bookmark_active.svg");
  --card-icon-arrow: url("../images/darkmode/ico_arrow_42.svg");
  --card-icon-midm: url("../images/darkmode/img_midm.svg");
  --card-icon-hits: url("../images/darkmode/ico_view_24.svg");
  --card-icon-like: url("../images/darkmode/ico_like_24.svg");
  --card-icon-commnet: url("../images/darkmode/ico_comment_24.svg");
  --card-view-color: #787878;
}

.card {
  position: relative;
  display: block;
  background-color: var(--card-background, #f4f4f4);
  width: 321px;
  height: 321px;
  .card-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    gap: 11px;
    margin-bottom: 18px;
    .card-view {
      background: no-repeat 0% 50%;
      padding-left: 31px;
      color: var(--card-view-color);
      .count {
        line-height: 24px;
        font-size: 18px;
        font-weight: 700;
      }
      &.hits {
        background-image: var(--card-icon-hits);
        color: #787878;
      }
      &.like {
        background-image: var(--card-icon-like);
      }
      &.comment {
        background-image: var(--card-icon-commnet);
      }
    }
    .card-view + .badge {
      margin-left: auto;
    }
    .card-bookmark {
      background: no-repeat 100% 50%;
      background-image: var(--card-icon-bookmark);
      width: 40px;
      height: 40px;
      margin-left: auto;
      padding: 20px 0;
      font-size: 0;
      color: transparent;
      &.is-active {
        background-image: var(--card-icon-bookmark-active);
      }
    }
  }
  .card-body {
    display: block;
    margin-bottom: 30px;
    .card-txt {
      @include ellipsis(2);
      line-height: 26px;
      font-size: 24px;
      font-weight: 700;
    }
    .card-detail {
      margin-top: 17px;
      @include ellipsis(3);
      line-height: 22px;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .card-foot {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.link::before {
      content: "";
      position: absolute;
      left: 40px;
      bottom: 44px;
      display: block;
      background: var(--card-icon-arrow) no-repeat 50% 50%;
      width: 42px;
      height: 42px;
    }
    &.midm::after {
      content: "";
      position: absolute;
      right: 40px;
      bottom: 40px;
      display: block;
      background: var(--card-icon-midm) no-repeat 50% 50%;
      width: 72px;
      height: 72px;
      margin-left: auto;
    }
    .foot-api{
      display: inline-flex;
      gap: 5px;
    }
    .foot-author {
      margin-left: auto;
      font-size: 18px;
      text-align: right;
      color: #787878;
      > dt {
        line-height: 26px;
        font-weight: 700;
      }
    }
  }
}
// hover effect
.card .card-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid transparent;
  width: 100%;
  height: 100%;
  padding: 40px;
  transition: all 0.3s;
}
.card-hover-1 .card:hover .card-hover {
  border-color: $color-primary-1;
  .card-txt {
    color: $color-primary-1;
  }
}
.card-hover-2 .card:hover .card-hover {
  border-color: $color-primary-2;
  .card-txt {
    color: $color-primary-2;
  }
}
.card-hover-3 .card:hover .card-hover {
  border-color: $color-primary-3;
  .card-txt {
    color: $color-primary-3;
  }
}

// layout
.card-container {
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .title-tit {
      font-size: 30px;
      font-weight: 700;
    }
    .title-link {
      background: url("../images/ico_link_20.svg") no-repeat 100% 50%;
      padding-right: 29px;
      font-size: 24px;
      font-weight: 500;
      color: #787878;
    }
  }
}
.card-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 36px;
}

// responsive
@include tablet-only {
  .card-container {
    padding: 0 50px;
  }
  .card-list {
    flex-wrap: wrap;
    gap: 40px;
  }
  .card {
    width: calc(50vw - ((100vw - 100%) / 2) - 20px);
    height: calc(50vw - 70px);
    max-height: 321px;
  }
}
@include mobile {
  .card-container {
    padding: 0 27px;
  }
  .card-list {
    flex-direction: column;
    gap: 30px;
  }
  .card {
    width: calc(100vw - (100vw - 100%));
    height: calc(100vw - 54px);
  }
}
