.card {
  position: relative;
  display: block;
  background-color: #f4f4f4;
  width: 321px;
  height: 321px;
  .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: all 0.3s;
  }
  .card-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    margin-bottom: 28px;
    .card-bookmark {
      background: url("../images/ico_bookmark_b.svg") no-repeat 100% 50%;
      width: 40px;
      height: 40px;
      margin-left: auto;
      padding: 20px 0;
      font-size: 0;
      color: transparent;
    }
  }
  .card-body {
    display: block;
    margin-bottom: 30px;
    .card-txt {
      @include ellipsis(2);
      line-height: 42px;
      font-size: 30px;
      font-weight: 700;
    }
    .card-detail {
      display: none;
      width: 320px;
      margin-top: 30px;
      font-weight: 500;
      font-size: 24px;
    }
  }
  .card-foot {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.link::before {
      content: "";
      display: block;
      background: url("../images/img_card_arrow.svg") no-repeat 50% 50%;
      width: 30px;
      height: 72px;
    }
    &.midm::after {
      content: "";
      display: block;
      background: url("../images/img_midm.svg") no-repeat 50% 50%;
      width: 72px;
      height: 72px;
      margin-left: auto;
    }
  }
}
.card:hover {
  z-index: 1;
  .card-hover {
    background-color: $color-primary-3;
    width: 480px;
    height: 480px;
    padding: 60px;
    .badge.txt-new,
    .badge.txt-update {
      color: #fff;
    }
    .card-body .card-detail {
      display: block;
    }
  }
}

.card-container {
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .title-tit {
      font-size: 30px;
      font-weight: 700;
    }
    .title-link {
      padding-right: 42px;
      font-size: 24px;
      font-weight: 500;
      color: #787878;
    }
  }
}
.card-list {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}

@include tablet {
  .card-container {
    padding: 0 50px;
  }
  .card-list {
    flex-wrap: wrap;
    gap: 40px;
  }
  .card {
    max-width: 606px;
    width: calc(50vw - 79px);
    height: calc(50vw - 79px);
    .card-hover,
    &:hover .card-hover {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: calc(50vw - 79px);
      height: calc(50vw - 79px);
      padding: 40px;
      transition: all 0.3s;
      .card-body .card-detail {
        display: none;
      }
    }
  }
}
@include mobile {
  .card-container {
    padding: 0 27px;
  }
  .card-list {
    flex-direction: column;
    gap: 30px;
  }
  .card {
    max-width: none;
    width: calc(100vw - 54px);
    height: calc(100vw - 54px);
    .card-hover,
    &:hover .card-hover {
      width: calc(100vw - 54px);
      height: calc(100vw - 54px);
    }
  }
}
