.container-detail {
  .section-title {
    align-items: flex-start;
    border: 0 none;
    padding: 0;
    margin: 0;
    text-align: left;
    gap: 20px;
    .title-container {
      width: 100%;
      .title {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }
    .badge-container {
      gap: 10px;
      .badge-link {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
    .func-container {
      flex: none;
      display: flex;
      gap: 20px;
    }
    .btn-bookmark {
      margin: 0 auto;
    }
    .chk {
      .chk-label {
        font-size: 20px;
        font-weight: 700;
      }
      .chk-label:before {
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin-right: 7px;
      }
      .chk-ipt:hover + .chk-label:before,
      .chk-ipt:active + .chk-label:before {
        background-color: transparent;
        opacity: 0.5;
      }
      .chk-ipt:checked + .chk-label:before {
        background-color: transparent;
      }
      &.chk-like {
        .chk-label:before,
        .chk-ipt:hover + .chk-label:before,
        .chk-ipt:active + .chk-label:before {
          background-image: url("../images/ico_like_24.svg");
        }
        .chk-ipt:checked + .chk-label:before {
          background-image: url("../images/ico_like_active_24.svg");
        }
      }
      &.chk-bookMark {
        .chk-label:before,
        .chk-ipt:hover + .chk-label:before,
        .chk-ipt:active + .chk-label:before {
          background-image: url("../images/ico_bookmark_b.svg");
        }
        .chk-ipt:checked + .chk-label:before {
          background-image: url("../images/ico_bookmark_b_active.svg");
        }
      }
    }
  }
  .detail-container {
    padding: 30px 0;
    .txt {
      font-size: 18px;
    }
    .txt + .txt {
      margin-top: 30px;
    }
  }
  .img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    &.has-caption {
      flex-direction: column;
      align-items: center;
      .caption {
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #787878;
      }
    }
  }

  .sub-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}
@include desktop {
  .container-detail {
    .title-container {
      max-width: calc(100% - 300px);
      margin-right: auto;
    }
  }
}
@include tablet-only {
  .container-detail {
    .section-title {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
@include mobile {
  .container-detail {
    .section-title {
      .badge-container {
        flex-wrap: wrap;
        dt {
          width: 100%;
        }
      }
      .func-container {
        flex-direction: column;
        width: 100%;
        .chk-like {
          flex: 1;
          justify-content: center;
        }
        .btn-link {
          flex: 1;
        }
      }
    }
  }
}
// 게시판 기본
.board {
  position: relative;
  border-top: 2px solid #000;
  &-header {
    display: none;
    border-bottom: 1px solid #ccc;
    padding: 30px 40px;
  }
  &-link {
    border-bottom: 1px solid #ccc;
    &-title {
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      @include ellipsis;
    }
    &-detail {
      display: none;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
    }
  }
  .collapse-list {
    .board-link {
      grid-template-rows: repeat(1, 46px);
    }
    .collapse .board-link {
      grid-template-rows: auto;
    }
  }
  .collapse {
    display: none;
    border-top: 1px solid transparent;
    background: #d4d4d4;
    overflow: hidden;
    &.is-collapse {
      border-color: #000;
    }
    .collapse-content {
      grid-template-rows: auto;
      text-align: left;
    }
    .collapse-title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 700;
      &::before {
        content: "";
        flex: none;
        display: block;
        background: url("../images/ico_cmt_reply.svg") no-repeat 50% 50%;
        width: 24px;
        height: 24px;
      }
    }
    .collapse-detail {
      margin-top: 10px;
      font-size: 18px;
    }
  }
}

@include desktop {
  .board {
    &-header {
      display: grid;
      grid-template-rows: repeat(1, 26px);
      align-items: center;
      .board-title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
    }
    &-link {
      display: grid;
      grid-template-rows: repeat(1, 86px);
      align-items: center;
      padding: 30px 40px;
      .link-grid {
        text-align: center;
        font-size: 18px;
        &[data-column="content"] {
          width: 600px;
        }
      }
      &-detail {
        @include ellipsis(2);
      }
    }
    .collapse.is-collapse {
      display: grid;
    }
  }
}
@include tablet {
  .board {
    &-link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      padding: 25px 30px;
    }
    .link-grid {
      &[data-column="category"] {
        margin-right: auto;
      }
      &[data-column="content"] {
        order: 1;
        width: 100%;
      }
      &[data-column="view"],
      &[data-column="comment"] {
        order: 0;
      }
      &[data-column="auth"],
      &[data-column="date"] {
        order: 1;
        color: #787878;
      }
      &[data-column="auth"] {
        font-weight: 700;
      }
    }
    &-view {
      background: no-repeat 0% 50%;
      height: 26px;
      padding-left: 31px;
      color: var(--card-view-color);
      &.hits {
        background-image: var(--card-icon-hits);
        color: #787878;
      }
      &.comment {
        background-image: var(--card-icon-commnet);
      }
    }
    .collapse.is-collapse {
      display: flex;
    }
  }
}

@include mobile {
  .board {
    &-link {
      padding: 25px 0;
    }
    .link-grid {
      &[data-column="date"] {
        width: calc(100% - 80px);
      }
      &[data-column="view"],
      &[data-column="comment"] {
        order: 2;
      }
    }
    .collapse {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
