.container-detail {
  .section-title {
    align-items: flex-start;
    border: 0 none;
    padding: 0;
    margin: 0;
    text-align: left;
    gap: 20px;
    .title-container {
      width: 100%;
      .title {
        font-size: 28px;
      }
    }
    .badge-container {
      gap: 10px;
      dt {
        margin-right: 10px;
      }
    }
    .func-container {
      flex: none;
      display: flex;
      gap: 20px;
    }
    .chk.chk-like {
      .chk-label {
        font-size: 20px;
        font-weight: 700;
      }
      .chk-label:before {
        background-color: transparent;
        background-image: url("../images/ico_like_24.svg");
        border: none;
        margin-right: 7px;
      }
      .chk-ipt:hover + .chk-label:before,
      .chk-ipt:active + .chk-label:before {
        background-image: url("../images/ico_like_24.svg");
        background-color: transparent;
        opacity: 0.5;
      }
      .chk-ipt:checked + .chk-label:before {
        background-color: transparent;
        background-image: url("../images/ico_like_active_24.svg");
      }
    }
  }
  .detail-container {
    padding: 30px 0;
    .txt {
      font-size: 18px;
    }
    .txt + .txt {
      margin-top: 30px;
    }
  }
  .img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    &.has-caption {
      flex-direction: column;
      align-items: center;
      .caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #787878;
      }
    }
  }

  .sub-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}
@include desktop {
  .container-detail {
    .title-container {
      max-width: calc(100% - 300px);
      margin-right: auto;
    }
  }
}
@include tablet-only {
  .container-detail {
    .section-title {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
@include mobile {
  .container-detail {
    .section-title {
      .badge-container {
        flex-wrap: wrap;
        dt {
          width: 100%;
        }
      }
      .func-container {
        width: 100%;
        .btn-link {
          flex: 1;
        }
      }
    }
  }
}
