/* ##############################
# components - form(작성하기)
################################*/
.form-container + .form-container {
  margin-top: 50px;
}
.form-header {
  border: 0 none;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  .title {
    font-size: 20px;
    font-weight: 700;
  }
}

.form {
  border-top: 3px solid #000;
  > .txt {
    padding: 40px;
  }
}
.form-subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 25px 20px;
  border-bottom: 1px solid #000;
}
.form-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 25px 20px;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-color: #000;
  }
  &-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
.form-editor {
  border-bottom: 1px solid #ccc;
  padding: 25px 20px;
}
.ck.ck-content:not(.ck-comment__input *) {
  height: 250px;
  overflow-y: auto;
}
.form-textarea {
  height: 250px;
}
.form-subtitle,
.form-item {
  > .ipt-container,
  > .file-list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  .btn-container {
    flex-wrap: wrap;
    gap: 5px;
    &:only-child {
      margin-left: auto;
    }
  }
}

@include tablet-only {
  .form-footer {
    padding-top: 10px;
    .txt-notice {
      width: 100%;
      & + .btn-container {
        margin-left: auto;
        margin-top: 20px;
      }
    }
  }
}

@include mobile {
  .form-header {
    .title {
      font-size: 16px;
    }
    .txt {
      font-size: 14px;
    }
  }
  .form-subtitle,
  .form-item {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    .form-textarea,
    > .txt {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .form-textarea {
      width: 100%;
    }
  }
  .form-footer {
    padding-top: 10px;
    .txt-notice {
      width: 100%;
    }
    .btn-container {
      margin-top: 20px;
      width: 100%;
      .btn,
      .btn-txt {
        flex: 1;
      }
    }
  }
}

// 상세보기
.form-detail-container {
  margin-bottom: 60px;
}
.form-detail-header {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 3px solid #000;
  border-bottom: 1px solid #000;
  padding: 25px 20px;
  .title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      font-size: 24px;
      font-weight: 700;
    }
  }
  .edit-author {
    margin-left: auto;
    font-size: 18px;
    text-align: right;
    color: #787878;
    > dt {
      line-height: 26px;
    }
    > dd {
      margin-top: 6px;
    }
  }
}
.form-detail-content {
  > .txt {
    padding: 40px;
  }
  .fileUpload-container {
    border-top: 1px solid #ccc;
    padding: 30px 20px;
  }
}
.form-detail-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding-top: 20px;
  .btn-container {
    gap: 5px;
    &:only-child {
      margin-left: auto;
    }
  }
}

@include desktop {
  .form-detail-footer {
    padding-top: 10px;
  }
}

@include tablet {
  .form-detail-footer {
    padding-top: 10px;
  }
}

@include mobile {
  .form-detail-header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    .title {
      font-size: 24px;
    }
    .edit-author {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 0;
      width: 100%;
      gap: 6px;
      > dd {
        margin: 0;
      }
    }
  }
  .form-detail-content {
    > .txt {
      padding: 30px 0;
    }
    .fileUpload-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .form-detail-footer {
    .btn-container {
      margin-top: 20px;
      width: 100%;
      .btn,
      .btn-txt {
        flex: 1;
      }
    }
  }

  .form-editor {
    padding-left: 0;
    padding-right: 0;
  }
}
