.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
  .page-item {
    flex: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-align: center;
    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled).is-active {
      background-color: #000;
      color: #fff;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .first,
  .prev,
  .next,
  .last {
    background: no-repeat 50% 50%;
    font-size: 0;
  }

  .first {
    background-image: url("../images/ico_pagination_first.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_first_w.svg");
    }
  }
  .prev {
    background-image: url("../images/ico_pagination_prev.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_prev_w.svg");
    }
  }
  .next {
    background-image: url("../images/ico_pagination_next.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_next_w.svg");
    }
  }
  .last {
    background-image: url("../images/ico_pagination_last.svg");
    &:not(:disabled):hover {
      background-image: url("../images/ico_pagination_last_w.svg");
    }
  }
}
.txt-notice {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  &::before {
    content: "";
    flex: none;
    display: block;
    background: url("../images/ico_txt_notice.svg") no-repeat 50% 50% / cover;
    width: 24px;
    height: 24px;
    line-height: 28px;
    margin-right: 10px;
  }
  > * {
    margin: 0 3px;
    line-height: 1;
  }
  &.color-info::before {
    background-image: url("../images/ico_txt_notice_gray.svg");
  }
  &.center {
    justify-content: center;
  }
}
.color {
  &-primary {
  }
  &-secondary {
    color: $color-primary-orange;
  }
  &-info {
    color: #787878;
  }
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  .search-category {
    width: 250px;
  }
  .search-input {
    margin-right: auto;
  }
  .search-total {
    flex: 1 1 aut;
    font-weight: 500;
    strong {
      font-weight: 800;
    }
  }
  .filter-select {
    width: 150px;
  }
}

.search-input {
  position: relative;
  border: 2px solid #000;
  display: inline-flex;
  .search-ipt {
    flex: 1;
    padding: 10px 0 10px 20px;
  }
  .search-btn {
    flex: none;
    background: url("../images/ico_search_btn.svg") no-repeat 50% 50%;
    width: 42px;
    height: 48px;
    font-size: 0;
  }
}
.img-container {
  position: relative;
  margin: 20px 0;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

@include tablet {
  .search-container {
    flex-wrap: wrap;
    justify-content: flex-end;
    .search-input {
      width: calc(100% - 270px);
      margin-right: 0;
    }
  }
}
@include mobile {
  .search-container {
    .search-category,
    .search-input {
      width: 100%;
    }
  }
}

.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: 100%;
  min-height: 100%;
  height: 500px;
  text-align: center;
  font-size: 24px;
  color: #838383;
  &::before {
    content: "";
    display: block;
    background: transparent no-repeat 50% 50%;
    background-image: url("../images/ico_empty.svg");
    width: 60px;
    height: 60px;
  }
}
@include mobile {
  .empty-container {
    font-size: 16px;
    &::before {
      width: 30px;
      height: 30px;
    }
  }
}
// loading
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}
.loading-txt {
  font-size: 14px;
  font-weight: 600;
  color: #787878;
}
.loading-loader {
  display: block;
  position: relative;
  width: 100px;
  height: 18px;
  -webkit-mask: radial-gradient(circle closest-side, #fff 94%, #0000) 0 0/25%
      100%,
    linear-gradient(#fff 0 0) center/calc(100% - 10px) calc(100% - 10px)
      no-repeat;
  mask: radial-gradient(circle closest-side, #fff 94%, #0000) 0 0/25% 100%,
    linear-gradient(#fff 0 0) center/calc(100% - 10px) calc(100% - 10px)
      no-repeat;
  background: linear-gradient(#4ff3ff 0 0) left/0% 100% no-repeat #000;
  animation: bblprg 2s infinite linear;
}

@keyframes bblprg {
  100% {
    background-size: 100% 100%;
  }
}

.page-loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.page-loading.is-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-loading .loading {
  gap: 25px;
  background-color: #fff;
  max-width: 340px;
  max-height: 190px;
  padding: 50px 70px;
}

code {
  padding: 2px 5px;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgb(175 184 193 / 20%);
  border-radius: 6px;
}
.caption {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #787878;
}
.table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  tr {
    background-color: #fff;
    &:nth-child(2n) {
      background-color: #f6f8fa;
      border-top: 1px solid #d8dee4;
    }
  }
  th {
    background-color: #ffffff;
    font-weight: 600;
  }
  th,
  td {
    border: 1px solid #d0d7de;
    padding: 6px 13px;
  }
}

.quick {
  &-title {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 700;
  }
  &-link {
    display: flex;
    flex-direction: column;
    .link {
      display: flex;
      align-items: center;
      &.main {
        line-height: 40px;
        font-weight: 500;
        font-size: 16px;
        color: #787878;
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      &.sub {
        line-height: 30px;
        font-weight: 400;
        font-size: 14px;
        &::before {
          content: "";
          display: block;
          background-color: #000;
          border-radius: 50%;
          width: 2px;
          height: 2px;
          margin-left: 3px;
          margin-right: 8px;
        }
      }
      &:hover,
      &:active,
      &.is-active {
        font-weight: 700;
        text-decoration: underline;
        color: #000;
        &::after {
          content: "";
          display: block;
          background: url("../images/ico_quick_arrow.svg") no-repeat 50% 50%;
          width: 15px;
          height: 15px;
          margin-left: 15px;
        }
      }
    }
  }
}
@include desktop {
  .quick-container{
    position: sticky;
    top: 150px;
  }
  .quick {
    position: absolute;
    left: calc(50% - 906px);
    top: -60px;
    width: 210px;
  }
}
@include tablet {
  .quick {
  }
}
@include mobile {
  .quick {
  }
}
