:root {
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
  --gnb-logo: url("../images/img_logo.svg");
  --gnb-icon-open: url("../images/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/ico_arrow_42.svg");
  --gnb-mobile-background: #fff;
  --main-header-color: #000;
  --footer-color: #787878;
  --footer-policy-color: #000;
}

.dark-theme {
  --header-gnb-background: #1f1f1f;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
  --gnb-logo: url("../images/darkmode/img_logo.svg");
  --gnb-icon-open: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/darkmode/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/darkmode/ico_arrow_42.svg");
  --gnb-mobile-background: #000;
  --main-header-color: #fff;
  --footer-color: #787878;
  --footer-policy-color: #fff;
}

/* ##############################
# layout - Header
################################*/
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  padding: 33px 50px;
  z-index: 999;
}
.header .logo {
  background: url("../images/darkmode/img_logo.svg") no-repeat 50% 50%/contain;
  width: 150px;
  height: 19px;
  padding: 10px 0;
  margin-right: 60px;
  font-size: 0;
  font-weight: 800;
}
.header .btn-gnb {
  display: none;
  position: absolute;
  background: no-repeat 50% 50%;
  font-size: 0;
  color: transparent;
}
.header .btn-gnb.open {
  top: 0px;
  right: 18px;
  background-image: var(--gnb-icon-open-white);
  width: 38px;
  height: 70px;
}
.header .btn-gnb.close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-image: var(--gnb-icon-close);
  width: 22px;
  height: 22px;
}
.header .header-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.header .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  gap: 28px;
  color: inherit;
}
.header .gnb .gnb-menu {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
}
.header .gnb .gnb-menu:hover, .header .gnb .gnb-menu:active, .header .gnb .gnb-menu.is-active {
  color: #35D4F8;
}
.header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  color: inherit;
}
.header .info .info-menu {
  padding: 10px 0 10px 34px;
  font-size: 18px;
  font-weight: 600;
  color: inherit;
}
.header .info .info-menu.ground {
  background: url("../images/darkmode/ico_gnb_my.svg") no-repeat 0 50%;
}
.header .info .info-menu.logout {
  background: url("../images/ico_gnb_logout.svg") no-repeat 0 50%;
  color: #838383;
}
.header .info .info-menu.login {
  background: url("../images/ico_gnb_login.svg") no-repeat 0 50%;
  color: #838383;
}
.header .btn-theme {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  border: 1px solid var(--header-gnb-toggle-border, #ccc);
  background-color: var(--header-gnb-toggle, #ccc);
  border-radius: 28px;
  width: 80px;
  height: 40px;
  font-size: 0;
}
.header .btn-theme::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  background-color: var(--header-gnb-toggle-icon, #fff);
  border-radius: 28px;
  width: 28px;
  height: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .btn-theme::after {
  content: "W";
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .btn-theme.toggle::before {
  left: 44px;
}
.header .btn-theme.toggle::after {
  content: "B";
  right: 40px;
}

.main .header {
  background-color: transparent;
  color: var(--main-header-color);
}
.main .header .header-menu {
  color: inherit;
}
.main .header .logo {
  background-image: var(--gnb-logo);
}
.main .header .btn-gnb.open {
  background-image: var(--gnb-icon-open);
}
.main .header .btn-gnb.close {
  background-image: var(--gnb-icon-close);
}
.main .header .info .info-menu.ground {
  background-image: var(--gnb-icon-ground);
}

@media (min-width: 1440px) {
  .btn-theme {
    margin-left: 30px;
  }
  .main .header {
    padding: 33px 0;
  }
  .main .header .gnb {
    margin-left: 0;
  }
  .header .info .info-menu.ground.is-active {
    background-image: url("../images/ico_gnb_my_active.svg");
    color: #35D4F8;
  }
}
@media (max-width: 1439px) {
  .header {
    height: 70px;
    padding: 0 30px;
    color: #000;
  }
  .header .logo {
    width: 115px;
    height: 21px;
    margin-right: auto;
  }
  .header .btn-theme {
    margin-left: auto;
    margin-right: 35px;
  }
  .header .btn-gnb {
    display: block;
  }
  .header .header-menu {
    position: fixed;
    top: 0;
    right: -100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: var(--gnb-mobile-background);
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    z-index: 5;
    color: var(--main-header-color);
  }
  .header .header-menu.is-show {
    right: 0;
  }
  .header .gnb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding-top: 92px;
    min-height: 653px;
  }
  .header .gnb .gnb-menu {
    position: relative;
    display: block;
    padding: 13px 40px;
    width: 100%;
    font-weight: 400;
  }
  .header .gnb .gnb-menu:hover, .header .gnb .gnb-menu:active, .header .gnb .gnb-menu.is-active {
    color: var(--main-header-color);
    font-weight: 700;
  }
  .header .gnb .gnb-menu:hover::after, .header .gnb .gnb-menu:active::after, .header .gnb .gnb-menu.is-active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 40px;
    display: block;
    background: var(--gnb-icon-menu) no-repeat 50% 50%/contain;
    width: 27px;
    height: 54px;
  }
  .header .info {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header .info .info-menu {
    position: absolute;
  }
  .header .info .info-menu.ground {
    top: 30px;
    left: 40px;
    border: 2px solid var(--visual-link-border);
    border-radius: 80px;
    background-image: var(--gnb-icon-ground);
    background-position: 20px 50%;
    padding: 10px 20px 10px 44px;
    line-height: 22px;
  }
  .header .info .info-menu.ground.is-active {
    background-image: url("../images/darkmode/ico_gnb_my.svg");
    background-color: #000;
    color: #fff;
  }
  .header .info .info-menu.logout {
    right: 40px;
    top: 550px;
  }
}
/* ##############################
# layout - footer
################################*/
.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ededed;
  max-width: 1392px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 64px;
  color: var(--footer-color, #787878);
  line-height: 28px;
}
.footer .copyright {
  font-size: inherit;
  margin-right: auto;
}
.footer .term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
.footer .term-txt,
.footer .policy-txt {
  font-size: inherit;
}
.footer .policy-txt {
  color: var(--footer-policy-color, #000);
}

@media (min-width: 743px) and (max-width: 1439px) {
  .footer {
    padding: 50px 50px 101px;
  }
}
@media (max-width: 742px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 60px 27px 64px;
    font-size: 14px;
  }
  .footer .copyright {
    margin-top: 20px;
  }
}
/* ##############################
# layout - container
################################*/
.dark-theme {
  color: var(--color, #fff);
}

.wrap {
  position: relative;
  background-color: #ededed;
  width: 100%;
  min-height: 100vh;
}
.wrap.main {
  background-color: var(--background, #000);
  max-width: 1392px;
  margin: 0 auto;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
}
.container-header {
  background: #000 no-repeat 100% 100%/contain;
  padding: 64px 60px;
  margin-bottom: 40px;
  color: #fff;
}
.container-header .page-title {
  margin-bottom: 14px;
  line-height: 55px;
  font-size: 48px;
  font-weight: 700;
}
.container-header .page-txt {
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #000;
  border-bottom: 1px solid #000;
  padding: 40px;
  margin-bottom: 40px;
}
.section-title .title {
  line-height: 42px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 7px;
}
.section-title .txt {
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
}
.section-title .badge-container,
.section-title .btn-container {
  margin-left: auto;
}

.container-detail {
  background-color: #fff;
  padding: 60px;
}

.container-edit {
  background-color: #fff;
  padding: 60px;
}
.container-edit .section-title {
  border: 0 none;
  padding: 0;
  margin-bottom: 20px;
}
.container-edit .section-title .title {
  font-size: 28px;
}
.container-edit .section-title .txt {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #787878;
}
.container-edit .section-title .btn-container {
  margin-left: auto;
}

.docs .container-header {
  background-image: url("../images/img_page_title_docs.svg");
}

.demo .container-header {
  background-image: url("../images/img_page_title_demo.svg");
}

.sampleCode .container-header {
  background-image: url("../images/img_page_title_sampleCode.svg");
}

.applications .container-header {
  background-image: url("../images/img_page_title_applications.svg");
}

.forum .container-header {
  background-image: url("../images/img_page_title_forum.svg");
}

.myGround .container-header {
  background-image: url("../images/img_page_title_myground.svg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

@media (max-width: 1439px) {
  .container {
    padding: 0 50px;
  }
  .container-edit,
  .container-detail {
    padding: 30px;
  }
  .container-header .page-txt {
    font-size: 14px;
    line-height: 22px;
  }
  .section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-title .btn-container {
    margin: 20px auto 0 0;
  }
  .section-title .badge-container {
    margin-left: 0;
  }
  .main .container {
    padding: 0;
  }
  .docs .container-header {
    background-position: calc(100% + 48px) calc(100% + 18px);
  }
  .sampleCode .container-header {
    background-position: calc(100% + 60px) 100%;
  }
  .applications .container-header {
    background-position: calc(100% + 40px) 100%;
  }
  .forum .container-header {
    background-position: calc(100% + 40px) 100%;
  }
  .myGround .container-header {
    background-image: url("../images/img_page_title_myground_m.svg");
    background-position: 100% 100%;
    background-size: auto;
    text-align: left;
  }
}
@media (max-width: 742px) {
  .container {
    padding: 0 27px;
  }
  .container-edit,
  .container-detail {
    padding: 20px;
  }
  .container-edit > .section-title,
  .container-detail > .section-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-edit > .section-title .badge-container,
  .container-detail > .section-title .badge-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .container-header {
    background-size: auto;
    height: 400px;
    margin-bottom: 20px;
    padding: 50px 20px 0px;
    text-align: center;
  }
  .container-header .page-title {
    font-size: 30px;
    line-height: 36px;
  }
  .section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .section-title .btn-container {
    width: 100%;
  }
  .section-title .btn-container .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .docs .container-header,
  .demo .container-header,
  .sampleCode .container-header,
  .applications .container-header,
  .myGround .container-header {
    background-size: 320px;
    background-position: center 100%;
  }
  .forum .container-header {
    background-size: 530px;
    background-position: calc(50% - 16px) 100%;
  }
  .myGround .container-header {
    text-align: center;
  }
}