@import "../css/lib/sweetalert2.min.css";
@import "../css/lib/swiper-bundle.css";
@import "../css/lib/fileup.css";
@import "../css/lib/codemirror.css";
/* ##############################
# lib - file uploder
################################*/
.fileUpload-container {
  position: relative;
  width: 100%;
}

.fileUpload-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.fileUpload-title .title {
  font-size: 18px;
  font-weight: 700;
}
.fileUpload-title .txt {
  color: #787878;
}
.fileUpload-title .txt strong {
  color: #000;
  font-weight: 700;
}

.file-label {
  display: block;
  background-color: transparent;
  background: transparent no-repeat 20px 50%;
  background-image: url("../images/ico_file_upload.svg");
  border: 2px solid #000;
  border-radius: 80px;
  padding: 10px 20px 10px 44px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}
.file-label:hover {
  opacity: 0.5;
}

.file-ipt {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.file-ipt:disabled + .file-label {
  cursor: default;
}

.drag-zone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  background: #f4f4f4;
  margin-bottom: 20px;
  line-height: 1.2;
  padding: 30px 0;
  text-align: center;
  color: #787878;
  cursor: -webkit-grab;
  cursor: grab;
}
.drag-zone .drag-txt {
  background: transparent no-repeat 0 50%;
  background-image: url("../images/ico_file_file_78.svg");
  padding-left: 30px;
}

.drag-zone.over {
  opacity: 0.5;
}

.file-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.file-item {
  border: 2px solid #ededed;
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding: 11px 20px;
  max-width: none;
  font: 500 16px "pretendard", "Malgun Gothic";
  line-height: 28px;
}
.file-item .description {
  background: transparent no-repeat 0 50%;
  background-image: url("../images/ico_file_file.svg");
  padding-left: 34px;
  color: #787878;
}
.file-item .description .file-name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.file-item .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.file-item .controls {
  margin: 0;
  margin-left: auto;
}
.file-item.api .description {
  background-image: url("../images/ico_file_api.svg");
}

button.file-item:hover {
  opacity: 0.5;
}

@media (max-width: 742px) {
  .fileUpload-container {
    padding-left: 0;
    padding-right: 0;
  }
  .fileUpload-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drag-zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .drag-zone .drag-txt {
    display: none;
  }
  .file-item .controls {
    margin-top: 10px;
  }
  .file-item .data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* ##############################
# lib - codeMirror
################################*/
.CodeMirror {
  border: 1px solid #ccc;
  line-height: 1.2;
}

/* ##############################
# lib - sweet alert
################################*/
.swal2-close {
  position: absolute;
  top: 0;
  right: 0;
}

.swal2-icon-info {
  border-top-color: #ff6b00;
}

.swal2-icon-success {
  border-top-color: #00d1ff;
}

/* ##############################
# lib - swiper
################################*/
:root {
  --swiper-navigation-size: 59px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: -83px;
  --swiper-navigation-color: #989898;
  --swiper-pagination-color: #1f1f1f;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #b3b3b3;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 20px;
}

@media (max-width: 1624px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
@media (min-width: 1440px) {
  .swiper-pagination {
    display: none;
  }
}