@charset "UTF-8";
/******************************************
# DATE   :  
# AUTHOR : yujinkim
# DEVICE : WEB
******************************************/
/*반응형 화면 크기*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "../css/lib/swiper-bundle.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* ----------------------------------------------------------
	# Font face
---------------------------------------------------------- */
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-Thin"), url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-ExtraLight"), url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-Light"), url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-Regular"), url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-Medium"), url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-SemiBold"), url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-Bold"), url("../fonts/Pretendard-Bold.woff") format("woff"), url("../fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-ExtraBold"), url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: local("Pretendard-Black"), url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
html,
body {
  background-color: var(--background);
  font-family: "pretendard", "Malgun Gothic";
  font-weight: 500;
  font-size: 16px;
  color: var(--color, #000);
  line-height: 28px;
  word-break: keep-all;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

button {
  cursor: pointer;
}

:root {
  --background: #fff;
  --color: #000;
  --header-gnb-background: #fff;
  --header-gnb-toggle: #ccc;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: transparent;
  --svg-icon-color: #000;
}

.dark-theme {
  --background: #000;
  --color: #fff;
  --header-gnb-background: #1f1f1f;
  --header-gnb-toggle: transparent;
  --header-gnb-toggle-icon: #fff;
  --header-gnb-toggle-border: #fff;
  --svg-icon-color: #fff;
}

@media (min-width: 1440px) {
  .br-pc {
    display: initial;
  }
  .br-mo {
    display: none;
  }
}
@media (min-width: 743px) and (max-width: 1439px) {
  .br-pc {
    display: initial;
  }
  .br-mo {
    display: none;
  }
}
@media (max-width: 742px) {
  .br-pc {
    display: none;
  }
  .br-mo {
    display: initial;
  }
}
.dark-theme {
  color: var(--color, #fff);
}

.wrap {
  position: relative;
  background-color: #ededed;
  width: 100%;
}
.wrap.main {
  background-color: var(--background, #000);
  max-width: 1392px;
  margin: 0 auto;
}
.wrap .container {
  max-width: 1392px;
  margin: 0 auto;
}

.container-header {
  background: #000 no-repeat 100% 100%/contain;
  padding: 64px 60px;
  margin-bottom: 40px;
  color: #fff;
}
.container-header .page-title {
  margin-bottom: 14px;
  line-height: 55px;
  font-size: 48px;
  font-weight: 700;
}
.container-header .page-txt {
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.docs .container-header {
  background-image: url("../images/img_page_title_docs.svg");
}

.demo .container-header {
  background-image: url("../images/img_page_title_demo.svg");
}

.sampleCode .container-header {
  background-image: url("../images/img_page_title_sampleCode.svg");
}

.applications .container-header {
  background-image: url("../images/img_page_title_applications.svg");
}

.forum .container-header {
  background-image: url("../images/img_page_title_forum.svg");
}

.myGround .container-header {
  background-image: url("../images/img_page_title_myground.svg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

@media (max-width: 1439px) {
  .container {
    padding: 0 50px;
  }
  .container-header .page-txt {
    font-size: 14px;
    line-height: 22px;
  }
  .main .container {
    padding: 0;
  }
  .docs .container-header {
    background-position: calc(100% + 48px) calc(100% + 18px);
  }
  .sampleCode .container-header {
    background-position: calc(100% + 60px) 100%;
  }
  .applications .container-header {
    background-position: calc(100% + 40px) 100%;
  }
  .forum .container-header {
    background-position: calc(100% + 40px) 100%;
  }
  .myGround .container-header {
    background-image: url("../images/img_page_title_myground_m.svg");
    background-position: 100% 100%;
    background-size: auto;
    text-align: left;
  }
}
@media (max-width: 742px) {
  .container {
    padding: 0 27px;
  }
  .container-header {
    background-size: auto;
    height: 400px;
    margin-bottom: 30px;
    padding: 50px 20px 0px;
    text-align: center;
  }
  .container-header .page-title {
    font-size: 30px;
    line-height: 36px;
  }
  .docs .container-header,
  .demo .container-header,
  .sampleCode .container-header,
  .applications .container-header,
  .myGround .container-header {
    background-size: 320px;
    background-position: center 100%;
  }
  .forum .container-header {
    background-size: 530px;
    background-position: calc(50% - 16px) 100%;
  }
  .myGround .container-header {
    text-align: center;
  }
}
:root {
  --gnb-logo: url("../images/img_logo.svg");
  --gnb-icon-open: url("../images/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/ico_arrow_42.svg");
  --gnb-mobile-background: #fff;
  --main-header-color: #000;
}

.dark-theme {
  --gnb-logo: url("../images/darkmode/img_logo.svg");
  --gnb-icon-open: url("../images/darkmode/ico_gnb_open.svg");
  --gnb-icon-open-white: url("../images/ico_gnb_open.svg");
  --gnb-icon-close: url("../images/darkmode/ico_gnb_close.svg");
  --gnb-icon-close-white: url("../images/ico_gnb_close.svg");
  --gnb-icon-ground: url("../images/darkmode/ico_gnb_my.svg");
  --gnb-icon-menu: url("../images/darkmode/ico_arrow_42.svg");
  --gnb-mobile-background: #000;
  --main-header-color: #fff;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  padding: 33px 50px;
  z-index: 999;
}
.header .logo {
  background: var(--gnb-logo) no-repeat 50% 50%/contain;
  width: 150px;
  height: 19px;
  padding: 10px 0;
  margin-right: 60px;
  font-size: 0;
  font-weight: 800;
}
.header .btn-gnb {
  display: none;
  position: absolute;
  background: no-repeat 50% 50%;
  font-size: 0;
  color: transparent;
}
.header .btn-gnb.open {
  top: 0px;
  right: 18px;
  background-image: var(--gnb-icon-open-white);
  width: 38px;
  height: 70px;
}
.header .btn-gnb.close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-image: var(--gnb-icon-close);
  width: 22px;
  height: 22px;
}
.header .header-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  gap: 28px;
}
.header .gnb .gnb-menu {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}
.header .gnb .gnb-menu:hover, .header .gnb .gnb-menu:active, .header .gnb .gnb-menu.is-active {
  color: #4ff3ff;
}
.header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}
.header .info .info-menu {
  padding: 10px 0 10px 34px;
  font-size: 18px;
  font-weight: 600;
}
.header .info .info-menu.ground {
  background: url("../images/darkmode/ico_gnb_my.svg") no-repeat 0 50%;
}
.header .info .info-menu.logout {
  background: url("../images/ico_gnb_logout.svg") no-repeat 0 50%;
  color: #838383;
}
.header .info .info-menu.login {
  background: url("../images/ico_gnb_login.svg") no-repeat 0 50%;
  color: #838383;
}
.header .btn-theme {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  border: 1px solid var(--header-gnb-toggle-border, #ccc);
  background-color: var(--header-gnb-toggle, #ccc);
  border-radius: 28px;
  width: 80px;
  height: 40px;
  font-size: 0;
}
.header .btn-theme::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  background-color: var(--header-gnb-toggle-icon, #fff);
  border-radius: 28px;
  width: 28px;
  height: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .btn-theme::after {
  content: "W";
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .btn-theme.toggle::before {
  left: 44px;
}
.header .btn-theme.toggle::after {
  content: "B";
  right: 40px;
}

.main .header {
  background-color: transparent;
  color: var(--main-header-color);
}
.main .header .btn-gnb.open {
  background-image: var(--gnb-icon-open);
}
.main .header .btn-gnb.close {
  background-image: var(--gnb-icon-close);
}
.main .header .info .info-menu.ground {
  background-image: var(--gnb-icon-ground);
}

@media (min-width: 1440px) {
  .btn-theme {
    margin-left: 30px;
  }
  .main .header {
    padding: 33px 0;
  }
  .main .header .gnb {
    margin-left: 0;
  }
  .header .info .info-menu.ground .is-active {
    background-image: url("../images/ico_gnb_my_active.svg");
    color: #4ff3ff;
  }
}
@media (max-width: 1439px) {
  .header {
    height: 70px;
    padding: 0 30px;
  }
  .header .logo {
    width: 115px;
    height: 21px;
    margin-right: auto;
  }
  .header .btn-theme {
    margin-left: auto;
    margin-right: 35px;
  }
  .header .btn-gnb {
    display: block;
  }
  .header .header-menu {
    position: fixed;
    top: 0;
    right: -100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: var(--gnb-mobile-background);
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    color: var(--main-header-color);
  }
  .header .header-menu.is-show {
    right: 0;
  }
  .header .gnb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 92px;
  }
  .header .gnb .gnb-menu {
    position: relative;
    display: block;
    padding: 13px 40px;
    width: 100%;
    font-weight: 400;
  }
  .header .gnb .gnb-menu:hover, .header .gnb .gnb-menu:active, .header .gnb .gnb-menu.is-active {
    color: var(--main-header-color);
    font-weight: 700;
  }
  .header .gnb .gnb-menu:hover::after, .header .gnb .gnb-menu:active::after, .header .gnb .gnb-menu.is-active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 40px;
    display: block;
    background: var(--gnb-icon-menu) no-repeat 50% 50%/contain;
    width: 27px;
    height: 54px;
  }
  .header .info {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header .info .info-menu {
    position: absolute;
  }
  .header .info .info-menu.ground {
    top: 30px;
    left: 40px;
    border: 2px solid var(--visual-link-border);
    border-radius: 80px;
    background-image: var(--gnb-icon-ground);
    background-position: 20px 50%;
    padding: 10px 20px 10px 44px;
    line-height: 22px;
  }
  .header .info .info-menu.ground.is-active {
    background-image: url("../images/darkmode/ico_gnb_my.svg");
    background-color: #000;
    color: #fff;
  }
  .header .info .info-menu.logout {
    right: 40px;
    bottom: 56px;
  }
}
:root {
  --footer-color: #787878;
  --footer-policy-color: #000;
}

.dark-theme {
  --footer-color: #787878;
  --footer-policy-color: #fff;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1392px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 64px;
  color: var(--footer-color, #787878);
  line-height: 28px;
}
.footer .copyright {
  font-size: inherit;
  margin-right: auto;
}
.footer .term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
.footer .term-txt,
.footer .policy-txt {
  font-size: inherit;
}
.footer .policy-txt {
  color: var(--footer-policy-color, #000);
}

@media (min-width: 743px) and (max-width: 1439px) {
  .footer {
    padding: 50px 50px 101px;
  }
}
@media (max-width: 742px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 60px 27px 64px;
    font-size: 14px;
  }
  .footer .copyright {
    margin-top: 20px;
  }
}
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #9e9e9e;
}
.breadcrumb .breadcrumb-link {
  position: relative;
  padding-left: 19px;
  font-size: 20px;
  font-weight: 700;
}
.breadcrumb .breadcrumb-link:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  background-color: #9e9e9e;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}
.breadcrumb .breadcrumb-link:last-child {
  color: #333;
}
.breadcrumb .breadcrumb-link:first-child {
  padding-left: 28px;
}
.breadcrumb .breadcrumb-link:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  background: url("../images/ico_breadcrumb.svg") no-repeat 50% 50%;
  width: 18px;
  height: 20px;
}

:root {
  --badge-white-background: #fff;
  --badge-outline-border: #000;
  --badge-outline-color: #000;
}

.dark-theme {
  --badge-white-background: #fff;
  --badge-outline-border: #fff;
  --badge-outline-color: #fff;
}

.badge {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  border-radius: 80px;
  background-color: #dfdfdf;
  max-width: 120px;
  padding: 0 12px;
  line-height: 28px;
  color: #787878;
}
.badge-white {
  background-color: var(--badge-white-background, #fff);
  color: #000;
}
.badge-outline {
  border: 2px solid var(--badge-outline-border, #000);
  background-color: transparent;
  color: var(--badge-outline-color, #000);
}

.badge-txt {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.badge-txt.primary {
  font-size: 18px;
  color: #00d1ff;
}
.badge-txt.secondary {
  font-size: 18px;
  color: #ff6b00;
}
.badge-txt.info {
  font-size: 18px;
  color: #929292;
}

:root {
  --card-background: #f4f4f4;
  --card-icon-bookmark: url("../images/ico_bookmark_b.svg");
  --card-icon-bookmark-active: url("../images/ico_bookmark_b_active.svg");
  --card-icon-arrow: url("../images/ico_arrow_42.svg");
  --card-icon-midm: url("../images/img_midm.svg");
  --card-icon-hits: url("../images/ico_view_24.svg");
  --card-icon-like: url("../images/ico_like_24.svg");
  --card-icon-commnet: url("../images/ico_comment_24.svg");
  --card-view-color: #000;
}

.dark-theme {
  --card-background: #1f1f1f;
  --card-icon-bookmark: url("../images/darkmode/ico_bookmark.svg");
  --card-icon-bookmark-active: url("../images/darkmode/ico_bookmark_active.svg");
  --card-icon-arrow: url("../images/darkmode/ico_arrow_42.svg");
  --card-icon-midm: url("../images/darkmode/img_midm.svg");
  --card-icon-hits: url("../images/darkmode/ico_view_24.svg");
  --card-icon-like: url("../images/darkmode/ico_like_24.svg");
  --card-icon-commnet: url("../images/darkmode/ico_comment_24.svg");
  --card-view-color: #787878;
}

.card {
  position: relative;
  display: block;
  background-color: var(--card-background, #f4f4f4);
  width: 321px;
  height: 321px;
}
.card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  gap: 11px;
  margin-bottom: 14px;
}
.card .card-head .card-view {
  background: no-repeat 0% 50%;
  line-height: 1;
  padding-left: 31px;
  color: var(--card-view-color);
}
.card .card-head .card-view .count {
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}
.card .card-head .card-view.hits {
  background-image: var(--card-icon-hits);
  color: #787878;
}
.card .card-head .card-view.like {
  background-image: var(--card-icon-like);
}
.card .card-head .card-view.comment {
  background-image: var(--card-icon-commnet);
}
.card .card-head .card-view + .badge-txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: auto;
}
.card .card-head .card-bookmark {
  background: no-repeat 100% 50%;
  background-image: var(--card-icon-bookmark);
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 20px 0;
  font-size: 0;
  color: transparent;
}
.card .card-head .card-bookmark.is-active {
  background-image: var(--card-icon-bookmark-active);
}
.card .card-body {
  display: block;
}
.card .card-body .card-txt {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  line-height: 26px;
  font-size: 24px;
  font-weight: 700;
}
.card .card-body .card-detail {
  margin-top: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  line-height: 22px;
  font-weight: 400;
  font-size: 14px;
}
.card .card-foot {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card .card-foot.link::before {
  content: "";
  position: absolute;
  left: 40px;
  bottom: 50px;
  display: block;
  background: var(--card-icon-arrow) no-repeat 50% 50%;
  width: 42px;
  height: 42px;
}
.card .card-foot.midm::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  background: var(--card-icon-midm) no-repeat 50% 50%/cover;
  width: 60px;
  height: 60px;
  margin-left: auto;
}
.card .card-foot .foot-api {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}
.card .card-foot .foot-author {
  margin-top: auto;
  margin-left: auto;
  font-size: 18px;
  text-align: right;
  color: #787878;
}
.card .card-foot .foot-author > dt {
  line-height: 26px;
  font-weight: 700;
}
.card .card-foot .foot-author > dd {
  font-weight: 400;
}

.card .card-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid transparent;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-hover-1 .card:hover .card-hover {
  border-color: #13de48;
}
.card-hover-1 .card:hover .card-hover .card-txt {
  color: #13de48;
}

.card-hover-2 .card:hover .card-hover {
  border-color: #4ff3ff;
}
.card-hover-2 .card:hover .card-hover .card-txt {
  color: #4ff3ff;
}

.card-hover-3 .card:hover .card-hover {
  border-color: #ff6800;
}
.card-hover-3 .card:hover .card-hover .card-txt {
  color: #ff6800;
}

.card-container .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.card-container .card-title .title-tit {
  font-size: 30px;
  font-weight: 700;
}
.card-container .card-title .title-link {
  background: url("../images/ico_link_20.svg") no-repeat 100% 50%;
  padding-right: 29px;
  font-size: 24px;
  font-weight: 500;
  color: #787878;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}

.card-swiper-container {
  position: relative;
}

@media (min-width: 743px) and (max-width: 1439px) {
  .card-swiper-container {
    margin: 0 -50px;
    padding-bottom: 50px;
  }
  .card-swiper-container .swiper {
    padding: 0 50px;
  }
  .card-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  .card {
    width: calc(50vw - (100vw - 100%) / 2 - 20px);
    max-height: 321px;
  }
}
@media (max-width: 742px) {
  .card-swiper-container {
    margin: 0 -27px;
    padding-bottom: 50px;
  }
  .card-swiper-container .swiper {
    padding: 0 27px;
  }
  .card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .card {
    width: calc(100vw - (100vw - 100%));
  }
}
:root {
  --swiper-navigation-size: 59px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: -83px;
  --swiper-navigation-color: #989898;
  --swiper-pagination-color: #b3b3b3;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #1f1f1f;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 20px;
}

@media (max-width: 1624px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
:root {
  --visual-link-background: transparent;
  --visual-link-border: #000;
  --visual-link-color: #000;
  --visual-link-icon: url("../images/btn_ico_guide.svg");
  --visual-link-icon-hover: url("../images/darkmode/btn_ico_guide.svg");
  --visual-link-hover-background: #000;
  --visual-link-hover-color: #fff;
  --card-icon-hits: url("../images/ico_view_24.svg");
  --card-hits-hover-icon: url("../images/darkmode/btn_ico_guide.svg");
}

.dark-theme {
  --visual-link-background: #000;
  --visual-link-border: #fff;
  --visual-link-color: #fff;
  --visual-link-icon: url("../images/darkmode/btn_ico_guide.svg");
  --visual-link-icon-hover: url("../images/btn_ico_guide.svg");
  --visual-link-hover-background: #fff;
  --visual-link-hover-color: #000;
}

.main .visual-container {
  position: relative;
  background: url("../images/img_visual_main.svg") no-repeat 50% 100%;
  width: 100%;
  height: 427px;
  margin-top: 70px;
  margin-bottom: 109px;
  text-align: center;
}
.main .visual-container .visual-text {
  margin-bottom: 35px;
  line-height: 70px;
  font-size: 55px;
  font-weight: 700;
}
.main .visual-container .visual-link {
  display: inline-block;
  border: 2px solid var(--visual-link-border, #000);
  border-radius: 80px;
  background: var(--visual-link-background, transparent) var(--visual-link-icon) no-repeat 41px 50%;
  padding: 15px 40px 15px 65px;
  font-weight: 800;
  line-height: 26px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main .visual-container .visual-link:hover {
  background-image: var(--visual-link-icon-hover);
  border-color: #000;
  background-color: var(--visual-link-hover-background, transparent);
  color: var(--visual-link-hover-color, #000);
}

.main .card-container + .card-container {
  margin-top: 79px;
}
.main .card-container .card .card-head {
  margin-bottom: 27px;
}
.main .card-container .card .card-txt {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  line-height: 42px;
  font-size: 30px;
}
.main .card-container .card .card-detail {
  display: none;
  -webkit-line-clamp: 3;
  width: 320px;
  margin-top: 30px;
  line-height: 32px;
  font-weight: 500;
  font-size: 24px;
}

@media (min-width: 1440px) {
  .main .card:hover {
    z-index: 10;
  }
  .main .card:hover .card-hover {
    width: 480px;
    height: 480px;
    padding: 60px;
    color: #000;
  }
  .main .card:hover .card-hover .card-view.hits {
    background-image: url("../images/ico_view_24_hover.svg");
    color: #000;
  }
  .main .card:hover .card-hover .badge-txt.new,
  .main .card:hover .card-hover .badge-txt.update {
    color: #fff;
  }
  .main .card:hover .card-hover .card-body .card-detail {
    display: -webkit-box;
  }
  .main .card:hover .card-hover .card-foot .foot-author {
    color: #000;
  }
  .main .card-list .card:nth-child(4n):hover .card-hover,
  .main .swiper-slide-next + .card + .card:hover .card-hover {
    left: auto;
    right: 0;
  }
  .main .card-hover-1 .card:hover .card-hover {
    border-color: transparent;
    background-color: #13de48;
  }
  .main .card-hover-1 .card:hover .card-hover .card-txt {
    color: #000;
  }
  .main .card-hover-2 .card:hover .card-hover {
    border-color: transparent;
    background-color: #4ff3ff;
  }
  .main .card-hover-2 .card:hover .card-hover .card-txt {
    color: #000;
  }
  .main .card-hover-3 .card:hover .card-hover {
    border-color: transparent;
    background-color: #ff6800;
  }
  .main .card-hover-3 .card:hover .card-hover .card-txt {
    color: #000;
  }
  .main .card-swiper-container {
    height: 321px;
  }
  .main .card-swiper-container .swiper:hover {
    height: 480px;
  }
}
@media (min-width: 743px) and (max-width: 1439px) {
  .main .visual-container {
    height: 427px;
    margin-top: 50px;
    margin-bottom: 118px;
  }
  .main .card-container {
    padding: 0 50px;
  }
  .main .card-container + .card-container {
    margin-top: 88px;
  }
}
@media (max-width: 742px) {
  .main .visual-container {
    background: url("../images/img_visual_main_m.svg") no-repeat 50% 100%;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .main .visual-container .visual-text {
    margin-bottom: 30px;
    line-height: 42px;
    font-size: 30px;
  }
  .main .card-container {
    padding: 0 27px;
  }
  .main .card-container .card-title .title-tit {
    font-size: 24px;
  }
  .main .card-container .card-title .title-link {
    font-size: 18px;
  }
  .main .card-container .card {
    min-height: 321px;
  }
  .main .card-container .card .card-txt {
    font-size: 24px;
    line-height: 26px;
  }
  .main .card-container + .card-container {
    margin-top: 60px;
  }
}

.applications .card-container + .card-container {
  margin-top: 88px;
}
.applications .card-swiper-container {
  position: relative;
}