@charset "UTF-8";
.mainGenieDeveloper .gd-item:hover .ico-arr {
  background-image: url("../images/icon_arrow_on.svg");
}

.mainImageArea.main .mainTextArea h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.mainImageArea.main .mainTextArea .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

/* 공지사항 */
.mainNotice.l-content {
  padding-top: 120px;
  padding-bottom: 0;
}
.mainNotice .btn-seeall {
  position: absolute;
  top: 120px;
  right: 0;
}
.mainNotice .notice-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  border-top: 3px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  padding: 30px 40px;
}
.mainNotice .notice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: #000;
}
.mainNotice .notice-badge {
  flex: none;
  border: 1px solid #000;
  border-radius: 80px;
  width: 114px;
  padding: 6px 0;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
}
.mainNotice .notice-title {
  flex: 1 1 auto;
  max-width: 1032px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.mainNotice .notice-title:hover {
  color: #00d9c3;
  text-decoration: underline;
}
.mainNotice .notice-date {
  flex: none;
  font-size: 18px;
  color: inherit;
}

/* Use Case */
/* Tech */
.l-cardList.main {
  background: linear-gradient(180deg, rgba(53, 243, 232, 0.3) 0%, rgba(151, 71, 255, 0.3) 100%);
}
.l-cardList.main .card-item:hover {
  background-color: #000;
  color: #fff;
}

/* Genie Developer */
.mainGenieDeveloper .ico-arr {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.mainGenieDeveloper .gd-list {
  display: flex;
  align-items: center;
  gap: 36px;
}
.mainGenieDeveloper .gd-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 334px;
  color: #000;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
}
.mainGenieDeveloper .gd-item::before {
  content: "";
  flex: none;
  display: block;
  background: transparent no-repeat 50% 50%/contain;
  width: 234px;
  aspect-ratio: 1/1;
  margin: 30px;
  color: #000;
}
.mainGenieDeveloper .gd-item.api::before {
  background-image: url("../images/img_main_api.png");
}
.mainGenieDeveloper .gd-item.data::before {
  background-image: url("../images/img_main_data.png");
}
.mainGenieDeveloper .gd-item:hover {
  background-color: #000;
  color: #fff;
  box-shadow: none;
}
.mainGenieDeveloper .gd-item:hover.api::before {
  background-image: url("../images/img_main_api_on.png");
}
.mainGenieDeveloper .gd-item:hover.data::before {
  background-image: url("../images/img_main_data_on.png");
}
.mainGenieDeveloper .gd-content {
  padding: 40px;
  color: inherit;
}
.mainGenieDeveloper .gd-content .title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: inherit;
}
.mainGenieDeveloper .gd-content .content {
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  word-break: keep-all;
  transition: none;
}

/* Facebook */
.mainFacebook {
  background: linear-gradient(180deg, #5c4eff 0%, #012c80 100%);
}
.mainFacebook .l-title {
  color: #fff;
}
.mainFacebook .fb-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 33px;
}
.mainFacebook .fb-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 440px;
  height: 496px;
  transition: none;
}
.mainFacebook .fb-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 0;
}
.mainFacebook .fb-item .fb-thumb {
  flex: none;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.mainFacebook .fb-item .fb-thumb::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: none;
}
.mainFacebook .fb-item .fb-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.mainFacebook .fb-item .fb-content {
  position: relative;
  flex: 1;
  padding: 40px;
  transition: none;
}
.mainFacebook .fb-item .fb-content .content {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  transition: none;
}
.mainFacebook .fb-item .fb-content .date {
  font-size: 18px;
  font-weight: 400;
  color: #787878;
  transition: none;
}
.mainFacebook .fb-item:hover::before {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-image: linear-gradient(329.91deg, #00d9c3 0%, #5c4eff 49.56%, #9747ff 100%);
}
.mainFacebook .fb-item:hover .fb-thumb::after {
  opacity: 1;
}
.mainFacebook .fb-item:hover .fb-content {
  background-color: #000;
}
.mainFacebook .fb-item:hover .fb-content .content,
.mainFacebook .fb-item:hover .fb-content .date {
  color: #fff;
}

@media (max-width: 1439px) {
  .mainImageArea.main .mainTextArea .desc {
    height: 72px;
  }
  .mainNotice .btn-seeall {
    right: 24px;
  }
  .mainGenieDeveloper .gd-list {
    flex-direction: column;
    gap: 30px;
  }
  .mainFacebook .fb-list {
    gap: 20px;
  }
  .mainFacebook .fb-item {
    flex: 0 1 auto;
    width: calc(50% - 15px);
    height: 386px;
  }
  .mainFacebook .fb-item .fb-thumb {
    height: 200px;
  }
  .mainFacebook .fb-item .fb-content {
    padding: 30px;
  }
  .mainFacebook .fb-item .fb-content .content {
    line-height: 22px;
    font-size: 14px;
  }
  .mainFacebook .fb-item .fb-content .date {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .mainImageArea.main .mainTextArea .desc {
    height: 66px;
  }
  .mainNotice .btn-seeall {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
  }
  .mainNotice .notice-list {
    padding: 0;
  }
  .mainNotice .notice-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 16px;
  }
  .mainNotice .notice-item:not(:first-child) {
    border-top: 1px solid #000;
  }
  .mainNotice .notice-title {
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
  .mainNotice .notice-date {
    margin-left: auto;
  }
  .mainGenieDeveloper .ico-arr {
    right: 30px;
    bottom: 30px;
  }
  .mainGenieDeveloper .gd-list {
    gap: 20px;
  }
  .mainGenieDeveloper .gd-item {
    flex-direction: column;
    height: 516px;
    padding: 30px;
  }
  .mainGenieDeveloper .gd-item::before {
    width: 220px;
    margin: 0 auto;
  }
  .mainGenieDeveloper .gd-content {
    padding: 0;
    margin: 30px 0 0;
  }
  .mainGenieDeveloper .gd-content .title {
    font-size: 28px;
  }
  .mainGenieDeveloper .gd-content .content {
    line-height: 22px;
    font-size: 14px;
  }
  .mainFacebook .fb-item {
    width: calc(100vw - 40px);
    height: 348px;
  }
  .mainFacebook .fb-item .fb-thumb {
    height: 160px;
  }
}