@charset "utf-8";
/* header 시작 */

header {width:100%;border-bottom: 1px solid #ccc;-webkit-backdrop-filter: saturate(180%) blur(20px);backdrop-filter: saturate(180%) blur(20px);background-color: rgba(255,255,255,0.72);position: fixed;z-index: 1001;}
header .header_inner {position:relative;width: 100%;height: 69px;margin:0 auto;padding: 0 28px;border-bottom: 1px solid #aaa;border-top: 4px solid rgb(43 183 179);display: flex;background-color: rgba(255,255,255,1); }

/* 로고영역 */
.logo_nav_wrapper {display: flex;/* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */}
.logo {background: url(../images/header_logo.png) 0 center no-repeat;width: 149px;height: 0;display: block;padding: 62px 0 0 0;overflow: hidden;margin: 0px 4px 0 0;background-size: contain;}


/* 지니 그라운드 로고 */
.logo_nav_wrapper_ground {display: flex;/* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */align-items: center;}
.logo_ground {background: url(../images/img_logo.svg) center center no-repeat;/*width: 149px;*//* height: 0; */display: block;/* padding: 62px 0 0 0; */overflow: hidden;margin: 0px 14px 0 36px;background-size: 110px;display: flex;align-items: center;background-color: #2cb7b3;justify-content: center;font-size: 16px;color: transparent;border-radius: 40px;width: 154px;height: 37px;}
.logo_ground:hover { background-color:#333;  }


/* 메뉴영역 */
.nav_wrapper {width: 100%;/* margin: 0 auto; *//* display: grid; *//* grid-template-columns: 1fr 1fr; */}
.menuArea {/* display: flex; *//* flex-grow: 1; *//* justify-content: space-between; */width: 100%;/* flex-shrink: 1; *//* flex-basis: fit-content; */}
.openCloseMenu {  }

nav {position:relative;display: flex;/* width: 100%; *//* justify-content: space-between; *//* grid-template-columns: 1fr 1fr; */}            
nav > ul {display: flex;/* justify-content: space-between; */gap: 0 35px;margin: 0 auto;justify-content: center;width: fit-content;}
nav ul li.MenuVisible {  }
nav ul li.MenuVisible > a { color:#2bb7b3; font-weight:600;  }
nav ul li { height: 65px; white-space: nowrap; }             
nav > ul > li > a {display:block;height:inherit;padding: 22px 0 38px 0;line-height: initial;}
nav ul li ul {  -webkit-transition: opacity 0s !important; transition: opacity 0s !important;}
nav ul li ul li {height: 37px;align-items: center;display: flex;padding: 0 3px 0 9px;}
nav ul li ul li a{display:block;height: 29px;padding: 0 15px;margin: 9px 0 0 0;}
nav ul li a {font-size: 16px;color: #333;font-weight: 600;}
nav > ul > li.here > a , nav > ul > li > a:hover {color: #0d9d99; border-bottom: 2px solid #2bb7b3;}
nav > ul > li.here{  }
nav ul li ul li a {color: #333;font-size: 14px;height: auto;margin: 0;padding: 0;}
nav ul li ul li a:hover, nav ul li ul li a.select {color: #0d9d99;}
.on {position:absolute; display: flex;justify-content: space-around; column-gap: 19px;}
.off {top:-9999999px; position:absolute; opacity:0; }
.on li a, .off li a {display:block;} 
nav ul li ul { right: auto; }
nav ul li:nth-child(1) ul {transform: translateX(15px);}
nav ul li:nth-child(2) ul { transform: translateX(0%); }
nav ul li:nth-child(3) ul {transform: translateX(-31%);}
nav ul li:nth-child(4) ul {transform: translateX(-48%);}
nav ul li:nth-child(5) ul {transform: translateX(0%);}
nav ul li:nth-child(6) ul {/* transform: translateX(00%); */}
nav ul li:first-child ul {  }
nav ul li:last-child  ul{ transform: translateX(-50%);}



nav ul.header_items li:nth-child(1) ul {transform: translateX(-125px);}
nav ul.header_items li:nth-child(2) ul {transform: translateX(10px);}
nav ul.header_items li:nth-child(3) ul {transform: translateX(-31%);}
nav ul.header_items li:nth-child(4) ul {transform: translateX(-48%);}
nav ul.header_items li:nth-child(5) ul {transform: translateX(0%);}
nav ul.header_items li:nth-child(6) ul {/* transform: translateX(00%); */}
nav ul.header_items li:first-child ul {  }
nav ul.header_items li:last-child  ul{ transform: translateX(-50%);}



/* 기타메뉴 */
.header_items {display: flex;gap: 0 25px;margin: initial;}
.header_items ul {display: flex;align-items: center;}
.header_items li {  }
.header_items li.MenuVisible > a { color:#2bb7b3; font-weight:400;  }
.header_items a{color: #333;font-size: 14px;font-weight: 400;}
.header_items a:hover { color:#2bb7b3;  }
.header_items li:nth-child(2) ul {transform: translateX(-35%);}
.header_items ul li ul li {   }
.header_items ul li ul li a {  font-size: 12px;font-weight: 400; }
.header_items ul li ul li a:hover,.header_items ul li ul li a.select {  font-size: 12px;  }
.header_items li span {  }
.header_items li a.userIcon {/* padding: 22px 0 0 0; */}
.header_items li a.userIcon::before {content: '';background: url(../images/icon_user.svg) 0 0 no-repeat;width: 19px;height: 19px;display: inline-flex;vertical-align: middle;background-size: cover;margin: -2px 5px 0 0;}


/* header 끝 */


/* 구글 번역 */
body { position: static !important; top:0px !important; }
.VIpgJd-ZVi9od-ORHb { display:none !important; }
.VIpgJd-ZVi9od-ORHb-OEVmcd { display:none !important;height:0 !important; visibility:hidden !important;  }
#google_translate_element {margin: 20px 0 0 5px;}
/*.goog-te-gadget img {display: none;}*/ /*   구글 아이콘 지우기 */
.goog-te-combo, .VIpgJd-ZVi9od-ORHb *, .VIpgJd-ZVi9od-SmfZ *, .VIpgJd-ZVi9od-xl07Ob *, .VIpgJd-ZVi9od-vH1Gmf *, .VIpgJd-ZVi9od-l9xktf * { color:#333 !important; font-weight:normal !important; }
.VIpgJd-ZVi9od-xl07Ob-OEVmcd { box-shadow:none !important;  }
.goog-te-gadget-simple { border-radius:3px; padding:3px; }
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {  border:0 !important; }


@media screen and (max-width: 1400px){

		/* header 시작 */

		header {width:100%;border-bottom: 1px solid #ccc;-webkit-backdrop-filter: saturate(180%) blur(20px);backdrop-filter: saturate(180%) blur(20px);background-color: rgba(255,255,255,0.72);position: fixed;z-index: 1001;}
		header .header_inner {position:relative;width: 100%;height: 69px;margin:0 auto;padding: 0 28px;border-bottom: 1px solid #aaa;border-top: 4px solid rgb(43 183 179);display: flex;background-color: rgba(255,255,255,1); }

		/* 로고영역 */
		.logo_nav_wrapper {display: flex;/* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */}
		.logo {background: url(../images/header_logo.png) 0 center no-repeat;width: 139px;height: 0;display: block;padding: 62px 0 0 0;overflow: hidden;margin: 2px 4px 0 0;background-size: contain;}

		/* 지니 그라운드 로고 */
		.logo_nav_wrapper_ground {display: flex;/* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */align-items: center;}
		.logo_ground {/* background: url(../images/header_logo.png) 0 center no-repeat; */width: 149px;/* height: 0; */display: block;/* padding: 62px 0 0 0; */overflow: hidden;margin: 0px 14px 0 10px;background-size: 79px;display: flex;/* align-items: center; *//* background-color: #2cb7b3; *//* justify-content: center; *//* font-size: 14px; *//* color: #fff; *//* border-radius: 6px; */width: 104px;height: 37px;}


		/* 메뉴영역 */
		.nav_wrapper {width: 100%;margin: 0 auto; }
		.menuArea {display: flex;/* flex-grow: 1; */justify-content: space-between;width: 100%;/* flex-shrink: 1; *//* flex-basis: fit-content; */}
		.openCloseMenu {  }

		nav {position:relative;display: flex;width: 100%;justify-content: space-between;}            
		nav > ul {display: flex;justify-content: space-between;gap: 0 27px;}
		nav ul li.MenuVisible {  }
		nav ul li.MenuVisible > a { color:#2bb7b3; font-weight:600;  }
		nav ul li { height: 65px; white-space: nowrap; }             
		nav > ul > li > a {display:block;height:inherit;padding: 24px 0 38px 0;line-height: initial;}
		nav ul li ul {  -webkit-transition: opacity 0s !important; transition: opacity 0s !important;}
		nav ul li ul li {height: 37px;align-items: center;display: flex;padding: 0 2px 0 7px;}
		nav ul li ul li a{display:block;height: 29px;padding: 0 15px;margin: 9px 0 0 0;}
		nav ul li a {font-size: 14px;color: #333;font-weight: 600;}
		nav > ul > li.here > a , nav > ul > li > a:hover {color: #0d9d99; border-bottom: 2px solid #2bb7b3;}
		nav > ul > li.here{  }
		nav ul li ul li a {color: #333;font-size: 13px;height: auto;margin: 0;padding: 0;}
		nav ul li ul li a:hover, nav ul li ul li a.select {color: #0d9d99;}
		.on {position:absolute; display: flex;justify-content: space-around; column-gap: 19px;}
		.off {top:-9999999px; position:absolute; opacity:0; }
		.on li a, .off li a {display:block;} 
		nav ul li ul { right: auto; }
		nav ul li:nth-child(1) ul {transform: translateX(15px);}
		nav ul li:nth-child(2) ul { transform: translateX(0%); }
		nav ul li:nth-child(3) ul {transform: translateX(-31%);}
		nav ul li:nth-child(4) ul {transform: translateX(-48%);}
		nav ul li:nth-child(5) ul {transform: translateX(0%);}
		nav ul li:nth-child(6) ul {/* transform: translateX(00%); */}
		nav ul li:first-child ul {  }
		nav ul li:last-child  ul{ transform: translateX(-50%);}

		nav ul.header_items li:nth-child(1) ul {transform: translateX(-100px);}
		nav ul.header_items li:nth-child(2) ul {/* transform: translateX(-85px); */}
		nav ul.header_items li:nth-child(3) ul {transform: translateX(-31%);}
		nav ul.header_items li:nth-child(4) ul {transform: translateX(-48%);}
		nav ul.header_items li:nth-child(5) ul {transform: translateX(0%);}
		nav ul.header_items li:nth-child(6) ul {/* transform: translateX(00%); */}
		nav ul.header_items li:first-child ul {  }
		nav ul.header_items li:last-child  ul{ transform: translateX(-50%);}


		/* 기타메뉴 */
		.header_items {display: flex;gap: 0 18px;}
		.header_items ul {display: flex;align-items: center;}
		.header_items li {  }
		.header_items li.MenuVisible > a { color:#2bb7b3; font-weight:300;  }
		.header_items a{color: #333; font-size: 12px;font-weight: 300;}
		.header_items a:hover { color:#2bb7b3;font-weight: 300;  }
		.header_items li:nth-child(2) ul {transform: translateX(-35%);}
		.header_items ul li ul li {   }
		.header_items ul li ul li a {  font-size: 12px;font-weight: 300; }
		.header_items ul li ul li a:hover,.header_items ul li ul li a.select {  font-size: 12px;  font-weight: 300;}
		.header_items li span {  }
		.header_items li a.userIcon { padding: 24px 0 0 0; }
		.header_items li a.userIcon::before {content: '';background: url(../images/icon_user.svg) 0 0 no-repeat;width: 19px;height: 19px;display: inline-flex;vertical-align: middle;background-size: cover;margin: -2px 5px 0 0;}


		/* header 끝 */


}


@media screen and (max-width: 1250px){


		/* header 시작 */

		header {width:100%;/* height: 107px; */border-bottom: 1px solid #ccc;-webkit-backdrop-filter: saturate(180%) blur(20px);backdrop-filter: saturate(180%) blur(20px);background-color: rgba(255,255,255,0.72);position: fixed;z-index: 1001;}
		header .header_inner {position:relative;width: 100%;height: 69px;margin:0 auto;padding: 0 28px;border-bottom: 1px solid #aaa;border-top: 4px solid rgb(43 183 179);display: flex;background-color: rgba(255,255,255,1);/* flex: 1; */}

		/* 로고영역 */
		.logo_nav_wrapper {display: flex;/* justify-content: space-between; *//* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */}
		.logo {background: url(../images/header_logo.png) 0 center no-repeat;width: 119px;height: 0;display: block;padding: 62px 0 0 0;overflow: hidden;margin: 2px 4px 0 0;background-size: contain;}


		/* 지니 그라운드 로고 */
		.logo_nav_wrapper_ground {display: flex;/* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */align-items: center;}
		.logo_ground {/* background: url(../images/header_logo.png) 0 center no-repeat; *//* width: 149px; *//* height: 0; *//* display: block; *//* padding: 62px 0 0 0; *//* overflow: hidden; *//* margin: 0px 14px 0 10px; *//* background-size: contain; *//* display: flex; *//* align-items: center; *//* background-color: #2cb7b3; *//* justify-content: center; *//* font-size: 12px; *//* color: #fff; *//* border-radius: 6px; *//* width: 87px; *//* height: 33px; */}


		/* 메뉴영역 */
		.nav_wrapper {width: 100%;margin: 0 auto;/* align-content: center; *//* justify-content: center !important; *//* flex-basis: 460px; */display: flex;/* justify-content: center; */}
		nav {position:relative;display: flex;width: 100%;justify-content: space-between;}            
		nav > ul {display: flex;justify-content: space-between;gap: 0 19px;}
		nav ul li.MenuVisible {  }
		nav ul li.MenuVisible > a { color:#2bb7b3; font-weight:600;  }
		nav ul li {/* float:left; */height: 65px;/* font-weight:600; */white-space: nowrap;/* padding: 0 19px 0 0; */}             
		nav > ul > li > a {display:block;height:inherit;padding: 24px 0 38px 0;line-height: initial;}
		nav ul li ul {  -webkit-transition: opacity 0s !important; transition: opacity 0s !important;}
		nav ul li ul li {height: 37px;align-items: center;display: flex;/* border-bottom: 1px solid #eee; */padding: 0 0 0 6px;}
		nav ul li ul li a{display:block;height: 29px;padding: 0 15px;margin: 9px 0 0 0;}
		nav ul li a {font-size: 13px;color: #333;font-weight: 600;}
		nav > ul > li.here > a , nav > ul > li > a:hover {color: #0d9d99;/* font-weight: 500; */border-bottom: 2px solid #2bb7b3;}
		nav > ul > li.here{/* border-bottom: 3px solid #2bb7b3; */}

		nav ul li ul li a {color: #333;font-size: 12px;height: auto;margin: 0;padding: 0;}
		nav ul li ul li a:hover, nav ul li ul li a.select {color: #0d9d99;}
		.on {position:absolute;/* left: 50%; *//* width: 100%; *//* z-index:10; */display: flex;justify-content: space-around;/* transform: translateX(-50%); */column-gap: 15px;}
		.off {top:-9999999px; position:absolute; opacity:0; }
		.on li a, .off li a {display:block;} 


		nav ul li ul {/* left: 0; */right: auto;/* transform: translateX(-50%); */}


		nav ul li:nth-child(1) ul {transform: translateX(15px);}
		nav ul li:nth-child(2) ul { transform: translateX(0%); }
		nav ul li:nth-child(3) ul {/* transform: translateX(-28%); */}
		nav ul li:nth-child(4) ul {transform: translateX(-50%);}
		nav ul li:nth-child(5) ul {transform: translateX(0%);}
		nav ul li:nth-child(6) ul { }
		nav ul li:first-child ul { }
		nav ul li:last-child  ul{/*right: 0;left: auto;transform: translateX(-20px);*/}

		nav ul.header_items li:nth-child(1) ul {transform: translateX(-90px);}
		nav ul.header_items li:nth-child(2) ul {/* transform: translateX(-70px); */}
		nav ul.header_items li:nth-child(3) ul {transform: translateX(-31%);}
		nav ul.header_items li:nth-child(4) ul {transform: translateX(-48%);}
		nav ul.header_items li:nth-child(5) ul {transform: translateX(0%);}
		nav ul.header_items li:nth-child(6) ul {/* transform: translateX(00%); */}
		nav ul.header_items li:first-child ul {  }
		nav ul.header_items li:last-child  ul{ transform: translateX(-50%);}

		/* 기타메뉴 */
		.header_items {display: flex;gap: 0 15px;}
		.header_items ul {display: flex;align-items: center;}
		.header_items li {  }
		.header_items li.MenuVisible > a { color:#2bb7b3; font-weight:300;  }
		.header_items a{color: #333;/* padding: 0 15px; */font-size: 11px;font-weight: 300;}
		.header_items a:hover { color:#2bb7b3;font-weight: 300;  }
		.header_items li:nth-child(2) ul {transform: translateX(-35%);}
		.header_items ul li ul li {   }
		.header_items ul li ul li a {  font-size: 12px;font-weight: 300; }
		.header_items ul li ul li a:hover,.header_items ul li ul li a.select {  font-size: 12px;  font-weight: 300;}
		.header_items li span {  }
		.header_items li a.userIcon {/* height: 15px; *//* display: block; *//* float: left; *//* margin: 0 5px 0 0; */padding: 24px 0 0 0;/* display: flex; */}
		.header_items li a.userIcon::before {content: '';background: url(../images/icon_user.svg) 0 0 no-repeat;width: 19px;height: 19px;display: inline-flex;vertical-align: middle;background-size: cover;margin: -2px 5px 0 0;}


		.openCloseMenu {/* display: none; */}


		.menuArea {display: flex;/* flex-grow: 1; */justify-content: space-between;width: 100%;/* text-align: center; *//* flex-shrink: 1; *//* flex-basis: fit-content; */}

		/* header 끝 */
		/*------------------------------------------------------*/

        
}

@media screen and (max-width: 1040px){


		header {height: 67px;background-color: rgba(255,255,255,1);backdrop-filter: blur(0px);overflow: hidden;}
        .openMenu header {height: auto;background-color: rgba(255,255,255,0.7);backdrop-filter: blur(30px);overflow: auto;/* position: absolute; */}
        .openMenu header:hover { height: auto; }
        header .header_inner {flex-direction: column;/* width: 50%; */padding: 0;/* align-content: flex-start; *//* justify-items: center; */border-bottom: 0;/* background-color: rgba(255,255,255,0); */height: 69px;height: auto;}
        
        /* 로고영역 */
        .logo_nav_wrapper {border-bottom: 1px solid #aaa;background-color: rgba(255,255,255,1);display: flex;flex: 1;}
        .logo {display: flex;/* justify-items: center; *//* background: url(../images/header_logo.png) center center no-repeat; */margin: 0 auto;width: 139px;/* padding: 41px 0 0 0; */}

        /* 지니 그라운드 로고 */
		.logo_nav_wrapper_ground {display: flex;/* flex-grow: 1; *//* flex-shrink: 1; *//* flex-basis: fit-content; */align-items: center;display: block;position: fixed;right: 10px;top: 16px;}
		.logo_ground {/* background: url(../images/header_logo.png) 0 center no-repeat; *//* width: 159px; *//* height: 0; *//* display: block; *//* padding: 62px 0 0 0; *//* overflow: hidden; */margin: 0px 5px 0 0;background-size: 82px;/* display: flex; *//* align-items: center; *//* background-color: #2cb7b3; *//* justify-content: center; *//* font-size: 14px; *//* color: #fff; *//* border-radius: 6px; */width: 110px;height: 34px;}

		
        /* 메뉴영역 */
        .nav_wrapper {     width: 100%; opacity: 0;  }
        .openMenu .nav_wrapper {width: 100%;opacity: 1;/* justify-content: flex-start; */display: block;overflow: hidden;}
        nav {overflow: hidden;flex-direction: column;}            
        nav > ul {flex-direction: column;align-items: self-start;padding: 10px;width: 100%;}
        nav ul li.MenuVisible {  }
        nav ul li.MenuVisible > a {    }
        nav ul li {height: auto;padding: 4px 10px;width: 100%;text-align: left;}             
        nav > ul > li > a {padding: 0 0 5px 5px;font-size: 21px;border-bottom: 2px solid #ddd;font-weight: 600;}
        nav ul li ul {   }
        nav ul li ul li {height: auto;padding: 4px 0 4px 0;}
        nav ul li ul li::before {content: '·';margin: 0 5px 0 0;font-size: 17px;}

        nav ul li a {}
        nav > ul > li.here > a , nav > ul > li > a:hover {  }

        nav > ul > li.here {height: auto;width: 100%;}
        nav ul li ul li a {font-size: 16px;}
        nav ul li ul li a:hover, nav ul li ul li a.select {  }
        .on {flex-direction: column;position: relative;/* left: auto; */top: auto;height: auto;z-index: auto;justify-content: flex-start;}
        .off {flex-direction: column;position: relative;/* left: auto; */top: auto;height: auto;z-index: auto;justify-content: flex-start;opacity: 1;}
        .on li a, .off li a {} 

        nav ul li ul {padding: 2px 0 3px 19px;}

        nav ul li:nth-child(1) ul {transform: translateX(15px);}
		nav ul li:nth-child(2) ul { }
		nav ul li:nth-child(3) ul {transform: translateX(0);}
		nav ul li:nth-child(4) ul {right: auto;left: auto;transform: translateX(0px);}
		nav ul li:nth-child(5) ul {right: auto;transform: translateX(0px);}
		nav ul li:nth-child(6) ul { }
		nav ul li:first-child ul { }
		nav ul li:last-child  ul{right: 0;left: auto;transform: translateX(-20px);}
        nav ul li:first-child ul {/* left: 0; */transform: translateX(0);right: auto;}
        nav ul li:last-child  ul{right: auto;transform: translateX(0);}

        


        body.openMenu  {overflow: hidden;}

        /* 기타메뉴 */
        .header_items {padding: 0 10px 19px 0px; opacity: 0;}
        .header_items ul li ul li a:hover, .header_items ul li ul li a.select {  font-size: 12px;  font-weight: 600;}
        nav > ul.header_items > li.here > a , nav > ul.header_items > li > a:hover {  border: 0; }
        .openMenu  .header_items {padding: 0 10px 29px 0px;opacity: 1;justify-content: flex-start;margin: 10px 0 20px 0;}
        .header_items ul {flex-direction: column;align-items: start;margin: 7px 0 0 10px;}
        .header_items li {margin: 0;padding: 8px 0 4px 22px;font-size: 15px;border: 0;}
        .header_items a {font-size: 16px;border: 0;font-weight: 500 !important;}
        .header_items a:hover { font-size: 16px;border: 0;font-weight: 500; }
        .header_items li:last-child {   }
        .header_items li:nth-child(2) ul {transform: translateX(0);margin: 0;}
        .header_items li span {  }
        .header_items li.userIcon {background: none; }
        .header_items li ul li {padding: 5px 0;}
        .header_items li a.userIcon {  padding: 24px 0 0 4px; border: 0 !important;}
        .header_items li a.userIcon::before { display: none; }
        .header_items li a.userIcon::after {content: '';background: url(../images/icon_user.svg) 0 0 no-repeat;width: 20px;height: 20px;display: inline-flex;vertical-align: middle;background-size: cover;margin: -3px 0 0 7px;}

        .menuArea {display: block; overflow: scroll;height: 0vh;}
        .openMenu .menuArea {display: block;flex: initial;/* flex-direction: column; */overflow: scroll;height: calc(100vh - 150px);}
        /* header 끝 */
        /*------------------------------------------------------*/

        main {/* width: 100%; *//* height: calc(100vh - 67px); *//* overflow: auto; *//* filter: blur(0px); *//* opacity: 1; *//* top: 67px; */padding: 67px 0 0 0;}
        .openMenu main {width: 100%;/* height: calc(100vh - 68px); *//* overflow: hidden; */filter: blur(2px);opacity: 0.5;}
        .openMenu footer {width: 100%;/* height: calc(100vh - 68px); */overflow: hidden;filter: blur(2px);opacity: 0.5;}
        .openCloseMenu {/* display: flex; */position: absolute;top: 0;left: 10px;/* width: 54px; *//* text-align: center; *//* justify-content: flex-end; *//* align-items: center; *//* object-fit: cover; */height: 63px;}
        .openCloseMenu span {display: flex;font-size: 40px;color: #888;/* vertical-align: middle; *//* object-fit: cover; *//* height: 63px; *//* justify-content: center; */}                    
        .openCloseMenu span::before {content: '≡';vertical-align: middle;font-size: 40px;line-height: 1.6em;}
        .openCloseMenu.openMenu span::before {content: '×';/* vertical-align: middle; */}

        nav ul.header_items ul {flex-direction: column;align-items: start;margin: 7px 0 0 0;}
        nav ul.header_items li:nth-child(1) ul { transform: translateX(0px); }
		nav ul.header_items li:nth-child(2) ul { transform: translateX(0px); }
		nav ul.header_items li:nth-child(3) ul { transform: translateX(0px); }
		nav ul.header_items li:nth-child(4) ul { transform: translateX(0px); }
		nav ul.header_items li:nth-child(5) ul { transform: translateX(0px); }


}


@media screen and (max-width: 600px){


}



