@charset "UTF-8";
main {
  padding: 0;
  min-height: 100vh;
}

/* common */
.br-pc {
  display: initial;
}

.br-mo {
  display: none;
}

.l-content {
  position: relative;
  width: 100%;
  max-width: 1392px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

.l-titlebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}

.l-title {
  color: #000;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
}

.l-desc {
  font-size: 18px;
}

.btn-seeall {
  display: block;
  background: url("../images/icon_seeall.svg") no-repeat right 12px top 15px;
  width: 130px;
  margin-left: auto;
  padding: 9px 40px 9px 12px;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  transition: none;
}
.btn-seeall:hover {
  background-image: url("../images/icon_seeall_on.svg");
  color: #00d9c3;
}

.ico-arr {
  display: block;
  background: transparent url("../images/icon_arrow.svg") no-repeat 50% 50%/cover;
  width: 42px;
  aspect-ratio: 1/1;
}

.l-cardList .card-item:hover .ico-arr, .l-useCase .case-item:hover .ico-arr {
  background-image: url("../images/icon_arrow_on.svg");
}

/* visual */
.mainImageArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 600px;
  text-align: center;
  overflow: hidden;
  /* owl nav button custom*/
}
.mainImageArea figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.mainImageArea figure span {
  display: block;
  background: no-repeat 50% 50%/cover;
  width: 100%;
  height: 100%;
}
.mainImageArea figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.mainImageArea .owl-theme .owl-dots .owl-dot.active span {
  background-color: #00d9c3;
}
.mainImageArea .owl-carousel .owl-nav button.owl-prev {
  left: 104px;
}
.mainImageArea .owl-carousel .owl-nav button.owl-next {
  right: 104px;
}

.mainTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 80px 0;
  color: #fff;
}
.mainTextArea h2 {
  display: block;
  width: calc(100% - 500px);
  margin-top: 137px;
  line-height: 1;
  font-size: 48px;
  font-weight: 500;
  color: inherit;
  text-align: center;
}
.mainTextArea h2::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 30px;
  height: 4px;
  margin: 20px auto 0;
}
.mainTextArea .fc-primary {
  color: #00ffde;
}
.mainTextArea .desc {
  width: calc(100% - 500px);
  margin-top: 20px;
  height: 60px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: inherit;
}
.mainTextArea a {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 25px auto 50px auto;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
}
.mainTextArea a:hover {
  background-color: #fff;
  color: #000;
}

/* Use Case */
.l-useCase .btn-seeall {
  position: absolute;
  right: 0;
}
.l-useCase .ico-arr {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.l-useCase .case-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}
.l-useCase .case-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 514px;
  transition: none;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.l-useCase .case-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #9747ff -1.82%, #5c4eff 48.91%, #00d9c3 100%);
  opacity: 0;
  z-index: 0;
}
.l-useCase .case-item:hover {
  transform: translate(-10px, -10px);
  box-shadow: none;
}
.l-useCase .case-item:hover::before {
  transform: translate(10px, 10px);
  opacity: 1;
}
.l-useCase .case-thumb {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.l-useCase .case-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.l-useCase .case-content {
  position: relative;
  flex: 1;
  background-color: #fff;
  padding: 34px 40px;
  transition: none;
}
.l-useCase .case-content .title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.l-useCase .case-content .content {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  transition: none;
}

/* Tech */
.l-cardList .btn-seeall {
  margin: 60px auto 0;
}
.l-cardList .ico-arr {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.l-cardList .card-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 36px;
}
.l-cardList .card-item {
  position: relative;
  background-color: #fff;
  border: 3px solid #fff;
  border-image-slice: 1;
  width: 440px;
  aspect-ratio: 1/1;
  min-height: 298px;
  padding: 40px;
  transition: none;
  color: #000;
}
.l-cardList .card-item:hover {
  border-image-source: linear-gradient(126.72deg, #9747ff 0%, #5c4eff 51.04%, #00d9c3 100%);
}
.l-cardList .card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 128px;
}
.l-cardList .card-title .badge {
  background-color: #f4f4f4;
  border-radius: 80px;
  line-height: 1;
  padding: 6px 12px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.l-cardList .card-title .title {
  height: 84px;
  margin-top: auto;
  font-size: 30px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  color: inherit;
  transition: none;
}
.l-cardList .card-content {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  color: inherit;
  transition: none;
}

@media (max-width: 1439px) {
  .l-content {
    max-width: 860px;
    width: calc(100vw - 40px);
  }
  .l-useCase .case-list {
    gap: 30px;
  }
  .l-useCase .case-item {
    width: 415px;
  }
  .l-cardList .card-list {
    gap: 30px;
  }
  .l-cardList .card-item {
    width: 415px;
  }
}
@media (max-width: 426px) {
  .br-pc {
    display: none;
  }
  .br-mo {
    display: initial;
  }
  .l-content {
    max-width: calc(100vw - 40px);
    padding: 60px 0;
  }
  .btn-seeall {
    background-position: right 6px top 10px;
    background-size: 20px 20px;
    width: 96px;
    padding: 6px 30px 6px 8px;
    font-size: 18px;
  }
  .ico-arr {
    width: 28px;
    height: 28px;
  }
  .mainTextArea {
    padding: 0 30px;
  }
  .mainTextArea h2 {
    width: 100%;
    font-size: 24px;
  }
  .mainTextArea h2::after {
    width: 20px;
    height: 2px;
    margin-top: 16px;
  }
  .mainTextArea .desc {
    width: 100%;
    margin-top: 16px;
    line-height: 22px;
    font-size: 14px;
  }
  .mainTextArea a {
    margin-top: 60px;
    margin-bottom: 96px;
  }
  .l-useCase .btn-seeall {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
  }
  .l-useCase .ico-arr {
    right: 30px;
    bottom: 30px;
  }
  .l-useCase .case-list {
    gap: 20px;
  }
  .l-useCase .case-item {
    width: calc(100vw - 40px);
  }
  .l-useCase .case-content .title {
    font-size: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
  .l-useCase .case-content .content {
    font-size: 14px;
  }
  .l-cardList .btn-seeall {
    margin: 20px 0 0 auto;
  }
  .l-cardList .ico-arr {
    right: 30px;
    bottom: 30px;
  }
  .l-cardList .card-list {
    gap: 20px;
  }
  .l-cardList .card-item {
    width: calc(100vw - 40px);
    padding: 30px;
  }
  .l-cardList .card-title .title {
    font-size: 28px;
  }
  .l-cardList .card-content {
    font-size: 14px;
  }
}
.mainImageArea.midm {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(94.2deg, #9748ff 0%, #5f4eff 50.52%, #35f3e8 100%);
}
.mainImageArea.midm .mainTextArea h2 {
  margin-top: 175px;
}
.mainImageArea.midm .mainTextArea .desc > p + p {
  margin-top: 12px;
}

.midmFeature.l-content {
  padding-top: 120px;
}
.midmFeature .feature-list {
  display: flex;
  justify-content: center;
}
.midmFeature .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: no-repeat 50% 50%/cover;
  width: 400px;
  aspect-ratio: 1/1;
  margin: 0 -23px;
  overflow: hidden;
  color: #000;
  transition: none;
}
.midmFeature .feature-item:hover {
  color: #fff;
  z-index: 1;
}
.midmFeature .feature-item:hover .feature-title::after {
  background-color: #fff;
}
.midmFeature .feature-item:nth-child(1) {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 217, 195, 0.8) 0%, rgba(0, 217, 195, 0.2) 100%);
}
.midmFeature .feature-item:nth-child(1):hover {
  background-image: url("../images/img_midm_feature_01.png");
}
.midmFeature .feature-item:nth-child(2) {
  background: radial-gradient(50% 50% at 50% 50%, rgba(92, 78, 255, 0.8) 0%, rgba(92, 78, 255, 0.2) 100%);
}
.midmFeature .feature-item:nth-child(2):hover {
  background-image: url("../images/img_midm_feature_02.png");
}
.midmFeature .feature-item:nth-child(3) {
  background: radial-gradient(50% 50% at 50% 50%, rgba(151, 71, 255, 0.8) 0%, rgba(151, 71, 255, 0.2) 100%);
}
.midmFeature .feature-item:nth-child(3):hover {
  background-image: url("../images/img_midm_feature_03.png");
}
.midmFeature .feature-title {
  line-height: 1.2;
  font-size: 28px;
  font-weight: 700;
  color: inherit;
}
.midmFeature .feature-title::after {
  content: "";
  display: block;
  background-color: #000;
  width: 30px;
  height: 2px;
  margin: 40px auto;
}
.midmFeature .feature-desc {
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  color: inherit;
}

.l-useCase.midm {
  background: linear-gradient(180deg, rgba(151, 71, 255, 0.3) 0%, rgba(92, 78, 255, 0.15) 50.52%, rgba(53, 243, 232, 0) 100%);
}
.l-useCase.midm .l-content {
  padding-top: 120px;
}
.l-useCase.midm .btn-seeall {
  top: 160px;
}

.l-cardList.midm .l-content {
  padding-top: 120px;
}
.l-cardList.midm .ico-arr {
  right: 30px;
  bottom: 30px;
}
.l-cardList.midm .card-item {
  height: 346px;
  aspect-ratio: auto;
  padding: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.l-cardList.midm .card-item:hover {
  background-color: #f4f4f4;
}
.l-cardList.midm .card-title {
  height: 148px;
  line-height: 32px;
  font-size: 28px;
}
.l-cardList.midm .card-title .icon {
  flex: none;
  background: #f4f4f4 no-repeat 50% 50%/contain;
  border-radius: 50%;
  width: 64px;
  aspect-ratio: 1/1;
  font-size: 0;
  color: transparent;
}
.l-cardList.midm .card-title .icon.api01 {
  background-image: url("../images/icon_midm_api_01.png");
}
.l-cardList.midm .card-title .icon.api02 {
  background-image: url("../images/icon_midm_api_02.png");
}
.l-cardList.midm .card-title .icon.api03 {
  background-image: url("../images/icon_midm_api_03.png");
}
.l-cardList.midm .card-title .icon.api04 {
  background-image: url("../images/icon_midm_api_04.png");
}
.l-cardList.midm .card-title .icon.api05 {
  background-image: url("../images/icon_midm_api_05.png");
}
.l-cardList.midm .card-title .icon.api06 {
  background-image: url("../images/icon_midm_api_06.png");
}
.l-cardList.midm .card-title .icon.api07 {
  background-image: url("../images/icon_midm_api_07.png");
}
.l-cardList.midm .card-title .icon.api08 {
  background-image: url("../images/icon_midm_api_08.png");
}
.l-cardList.midm .card-title .icon.api09 {
  background-image: url("../images/icon_midm_api_09.png");
}
.l-cardList.midm .card-title .icon.api10 {
  background-image: url("../images/icon_midm_api_10.png");
}
.l-cardList.midm .card-title .icon.api11 {
  background-image: url("../images/icon_midm_api_11.png");
}
.l-cardList.midm .card-title .icon.api12 {
  background-image: url("../images/icon_midm_api_12.png");
}
.l-cardList.midm .card-title .title {
  margin-top: 20px;
  height: 148px;
}
.l-cardList.midm .card-content {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.l-cardList.midm .card-info {
  position: absolute;
  bottom: 44px;
  left: 30px;
  display: flex;
  align-items: center;
  margin-top: auto;
  color: #787878;
}
.l-cardList.midm .card-info > em {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
}
.l-cardList.midm .card-info > em + em:before {
  content: "";
  display: block;
  background-color: #787878;
  width: 1px;
  height: 14px;
  margin: 1px 8px;
}

.midmClip.l-content {
  padding-top: 120px;
}
.midmClip .clip-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 36px;
}
.midmClip .clip-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000;
  width: 360px;
  height: 640px;
  padding: 60px 40px;
  color: #fff;
}
.midmClip .clip-item.title {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.midmClip .clip-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  color: inherit;
}
.midmClip .clip-btn {
  flex: none;
  background: transparent;
  border: none;
  border-radius: 0;
  margin-top: auto;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.midmClip .clip-btn::before {
  content: "";
  display: inline-block;
  background: url("../images/icon_btn_move.png") no-repeat 0 50%;
  width: 28px;
  height: 28px;
}

@media (min-width: 1440px) {
  .midmClip .clip-item.is-active {
    width: 600px;
  }
}
@media (max-width: 1439px) {
  .midmClip .clip-list {
    flex-direction: column;
    gap: 30px;
  }
  .midmClip .clip-item {
    width: 100%;
    height: 430px;
  }
}
@media (max-width: 907px) {
  .mainImageArea.midm .mainTextArea h2 {
    margin-top: 252px;
  }
  .l-useCase.midm .btn-seeall {
    top: auto;
  }
  .midmFeature .feature-list {
    flex-direction: column;
    align-items: center;
    height: 740px;
  }
  .midmFeature .feature-item {
    width: 260px;
    margin: -10px auto;
  }
  .midmFeature .feature-title {
    font-size: 22px;
  }
  .midmFeature .feature-title::after {
    width: 20px;
    margin: 12px auto;
  }
  .midmFeature .feature-desc {
    font-size: 14px;
  }
  .midmClip .clip-list {
    gap: 20px;
  }
  .midmClip .clip-item {
    width: 100%;
    height: 260px;
    padding: 30px 20px;
  }
  .midmClip .clip-title {
    font-size: 26px;
    line-height: 40px;
  }
}