@charset "UTF-8";
.mainImageArea.midm {
  background: url("../images/img_midm_visual.png") no-repeat 50% 50%/cover;
}
.mainImageArea.midm .mainTextArea h2 {
  margin-top: 175px;
}
.mainImageArea.midm .mainTextArea .desc > p + p {
  margin-top: 12px;
}

.midmFeature.l-content {
  padding-top: 120px;
}
.midmFeature .feature-list {
  display: flex;
  justify-content: center;
}
.midmFeature .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: no-repeat 50% 50%/cover;
  width: 400px;
  aspect-ratio: 1/1;
  margin: 0 -23px;
  overflow: hidden;
  color: #000;
  transition: none;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.midmFeature .feature-item:hover {
  color: #fff;
  z-index: 1;
  box-shadow: none;
}
.midmFeature .feature-item:hover .feature-title::after {
  background-color: #fff;
}
.midmFeature .feature-item:hover .feature-desc {
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.midmFeature .feature-item:nth-child(1) {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 217, 195, 0.8) 0%, rgba(0, 217, 195, 0.2) 100%);
}
.midmFeature .feature-item:nth-child(1):hover {
  background-image: url("../images/img_midm_feature_01.png");
}
.midmFeature .feature-item:nth-child(2) {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(92, 78, 255, 0.8) 0%, rgba(92, 78, 255, 0.2) 100%);
}
.midmFeature .feature-item:nth-child(2):hover {
  background-image: url("../images/img_midm_feature_02.png");
}
.midmFeature .feature-item:nth-child(3) {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(151, 71, 255, 0.8) 0%, rgba(151, 71, 255, 0.2) 100%);
}
.midmFeature .feature-item:nth-child(3):hover {
  background-image: url("../images/img_midm_feature_03.png");
}
.midmFeature .feature-title {
  line-height: 1.2;
  font-size: 28px;
  font-weight: 700;
  color: inherit;
}
.midmFeature .feature-title::after {
  content: "";
  display: block;
  background-color: #000;
  width: 30px;
  height: 2px;
  margin: 40px auto;
}
.midmFeature .feature-desc {
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: inherit;
}

.l-useCase.midm {
  background: linear-gradient(180deg, rgba(151, 71, 255, 0.3) 0%, rgba(92, 78, 255, 0.15) 50.52%, rgba(53, 243, 232, 0) 100%);
}
.l-useCase.midm .l-content {
  padding-top: 120px;
}
.l-useCase.midm .btn-seeall {
  top: 160px;
}

.l-cardList.midm .l-content {
  padding-top: 120px;
}
.l-cardList.midm .btn-seeall {
  position: absolute;
  top: 160px;
  right: 0;
  margin: 0;
}
.l-cardList.midm .ico-arr {
  right: 30px;
  bottom: 30px;
}
.l-cardList.midm .card-item {
  height: 366px;
  aspect-ratio: auto;
  padding: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.l-cardList.midm .card-item:hover {
  background-color: #f4f4f4;
}
.l-cardList.midm .card-title {
  height: 168px;
}
.l-cardList.midm .card-title .icon {
  flex: none;
  background: #f4f4f4 no-repeat 50% 50%/contain;
  border-radius: 50%;
  width: 64px;
  aspect-ratio: 1/1;
  font-size: 0;
  color: transparent;
}
.l-cardList.midm .card-title .icon.api01 {
  background-image: url("../images/icon_midm_api_01.svg");
}
.l-cardList.midm .card-title .icon.api02 {
  background-image: url("../images/icon_midm_api_02.svg");
}
.l-cardList.midm .card-title .icon.api03 {
  background-image: url("../images/icon_midm_api_03.svg");
}
.l-cardList.midm .card-title .icon.api04 {
  background-image: url("../images/icon_midm_api_04.svg");
}
.l-cardList.midm .card-title .icon.api05 {
  background-image: url("../images/icon_midm_api_05.svg");
}
.l-cardList.midm .card-title .icon.api06 {
  background-image: url("../images/icon_midm_api_06.svg");
}
.l-cardList.midm .card-title .icon.api07 {
  background-image: url("../images/icon_midm_api_07.svg");
}
.l-cardList.midm .card-title .icon.api08 {
  background-image: url("../images/icon_midm_api_08.svg");
}
.l-cardList.midm .card-title .icon.api09 {
  background-image: url("../images/icon_midm_api_09.svg");
}
.l-cardList.midm .card-title .icon.api10 {
  background-image: url("../images/icon_midm_api_10.svg");
}
.l-cardList.midm .card-title .icon.api11 {
  background-image: url("../images/icon_midm_api_11.svg");
}
.l-cardList.midm .card-title .icon.api12 {
  background-image: url("../images/icon_midm_api_12.svg");
}
.l-cardList.midm .card-title .title {
  margin-top: 20px;
}
.l-cardList.midm .card-content {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.l-cardList.midm .card-info {
  position: absolute;
  bottom: 44px;
  left: 30px;
  display: flex;
  align-items: center;
  margin-top: auto;
  color: #787878;
}
.l-cardList.midm .card-info > em {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
}
.l-cardList.midm .card-info > em + em:before {
  content: "";
  display: block;
  background-color: #787878;
  width: 1px;
  height: 14px;
  margin: 1px 8px;
}

.midmClip .mouse__cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  z-index: 1000;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  mix-blend-mode: difference;
  opacity: 0;
}
.midmClip.l-content {
  padding-top: 120px;
}
.midmClip .clip-list {
  display: flex;
  align-items: stretch;
  gap: 36px;
  cursor: none;
}
.midmClip .clip-item {
  flex: 0 0 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000;
  width: 360px;
  height: 640px;
  padding: 60px 40px;
  color: #fff;
  transition: 0.5s;
}
.midmClip .clip-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6) no-repeat 50% 50%;
  overflow: hidden;
  z-index: 0;
}
.midmClip .clip-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.midmClip .clip-title {
  background: linear-gradient(148.02deg, #a764ff 2.73%, #6e63ff 33.71%, #5fffef 62.55%);
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  white-space: nowrap;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 1;
}
.midmClip .clip-btn {
  flex: none;
  background: transparent;
  border: none;
  border-radius: 0;
  margin-top: auto;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  z-index: 1;
}
.midmClip .clip-btn::before {
  content: "";
  display: inline-block;
  background: url("../images/icon_btn_move.png") no-repeat 0 50%;
  width: 28px;
  height: 28px;
}

@media (min-width: 1439px) {
  .midmClip .clip-img {
    opacity: 0;
  }
  .midmClip .clip-item:last-child {
    flex-basis: 380px;
  }
  .midmClip .clip-item.is-active {
    flex: 1 1;
    width: 600px;
    transition: padding 0.5s;
  }
  .midmClip .clip-item.is-active.item-title {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .midmClip .clip-item.is-active:not(.item-title) .clip-title {
    background: transparent;
    color: #fff;
  }
  .midmClip .clip-item.is-active .clip-img {
    opacity: 1;
  }
}
@media (max-width: 1439px) {
  .midmFeature .feature-title {
    font-size: 22px;
  }
  .midmFeature .feature-title::after {
    margin: 20px auto;
  }
  .midmFeature .feature-desc {
    font-size: 14px;
    line-height: 22px;
  }
  .l-cardList.midm .btn-seeall {
    right: 24px;
  }
  .midmClip .clip-list {
    flex-direction: column;
    gap: 30px;
  }
  .midmClip .clip-item {
    width: 100%;
    height: 430px;
  }
  .midmClip .clip-item.item-title {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .midmClip .clip-item:not(.item-title) .clip-title {
    background: transparent;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .l-useCase.midm .btn-seeall {
    top: auto;
  }
  .l-cardList.midm .btn-seeall {
    position: relative;
    top: auto;
    right: auto;
    margin: 20px 0 0 auto;
  }
  .l-cardList.midm .card-title .title {
    font-size: 24px;
  }
  .l-cardList.midm .card-content {
    font-size: 14px;
  }
  .midmFeature .feature-list {
    flex-direction: column;
    align-items: center;
    height: 740px;
  }
  .midmFeature .feature-item {
    width: 260px;
    margin: -10px auto;
  }
  .midmFeature .feature-title::after {
    width: 20px;
    margin: 12px auto;
  }
  .midmClip .clip-list {
    gap: 20px;
  }
  .midmClip .clip-item {
    width: 100%;
    height: 260px;
    padding: 30px 20px;
  }
  .midmClip .clip-title {
    font-size: 26px;
    line-height: 40px;
  }
}