@charset "UTF-8";
.l-cardList .card-item:hover .ico-arr, .l-useCase .case-item:hover .ico-arr {
  background-image: url("../images/icon_arrow_on.svg");
}

main {
  padding: 0;
  min-height: 100vh;
}

/* common */
.br-pc {
  display: initial;
}

.br-mo {
  display: none;
}

.l-content {
  position: relative;
  width: 100%;
  max-width: 1392px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

.l-titlebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}

.l-title {
  color: #000;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
}

.l-desc {
  font-size: 18px;
}

.btn-seeall {
  display: block;
  background: url("../images/icon_seeall.svg") no-repeat right 12px top 17px/24px 24px;
  margin-left: auto;
  padding: 9px 40px 9px 12px;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  transition: none;
}
.btn-seeall:hover {
  background-image: url("../images/icon_seeall_on.svg");
  color: #00d9c3;
}

.ico-arr {
  display: block;
  background: transparent url("../images/icon_arrow.svg") no-repeat 50% 50%/cover;
  width: 42px;
  aspect-ratio: 1/1;
}

/* visual */
.mainImageArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 600px;
  text-align: center;
  overflow: hidden;
  /* owl nav button custom*/
}
.mainImageArea figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.mainImageArea figure span {
  display: block;
  background: no-repeat 50% 50%/cover;
  width: 100%;
  height: 100%;
}
.mainImageArea figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.mainImageArea .owl-theme .owl-dots .owl-dot.active span {
  background-color: #00d9c3;
}
.mainImageArea .owl-carousel .owl-nav button.owl-prev {
  left: 100px;
}
.mainImageArea .owl-carousel .owl-nav button.owl-next {
  right: 100px;
}

.mainTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 200px);
  max-width: 1340px;
  height: 600px;
  margin: 0 auto;
  padding: 80px 0;
  color: #fff;
}
.mainTextArea h2 {
  display: block;
  width: 100%;
  margin-top: 137px;
  line-height: 1;
  font-size: 48px;
  font-weight: 500;
  color: inherit;
  text-align: center;
}
.mainTextArea h2::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 30px;
  height: 4px;
  margin: 20px auto 0;
}
.mainTextArea .fc-primary {
  color: #00ffde;
}
.mainTextArea .desc {
  width: 100%;
  margin-top: 20px;
  min-height: 60px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 200;
  color: inherit;
}
.mainTextArea a {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 25px auto 0 auto;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
}
.mainTextArea a:hover {
  background-color: #fff;
  color: #000;
}

/* Use Case */
.l-useCase .btn-seeall {
  position: absolute;
  top: 200px;
  right: 0;
}
.l-useCase .ico-arr {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.l-useCase .case-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
}
.l-useCase .case-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 514px;
  transition: none;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.l-useCase .case-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #9747ff -1.82%, #5c4eff 48.91%, #00d9c3 100%);
  opacity: 0;
  z-index: 0;
}
.l-useCase .case-item:hover {
  transform: translate(-10px, -10px);
  box-shadow: none;
}
.l-useCase .case-item:hover::before {
  transform: translate(10px, 10px);
  opacity: 1;
}
.l-useCase .case-thumb {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.l-useCase .case-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.l-useCase .case-content {
  position: relative;
  flex: 1;
  background-color: #fff;
  padding: 34px 40px;
  transition: none;
}
.l-useCase .case-content .title {
  line-height: 32px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.l-useCase .case-content .content {
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  transition: none;
}

/* Tech */
.l-cardList .btn-seeall {
  margin: 60px auto 0;
}
.l-cardList .ico-arr {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.l-cardList .card-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 36px;
}
.l-cardList .card-item {
  position: relative;
  background-color: #fff;
  border: 3px solid #fff;
  border-image-slice: 1;
  width: 440px;
  height: 380px;
  min-height: 298px;
  padding: 40px;
  transition: none;
  color: #000;
}
.l-cardList .card-item:hover {
  border-image-source: linear-gradient(126.72deg, #9747ff 0%, #5c4eff 51.04%, #00d9c3 100%);
}
.l-cardList .card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 128px;
}
.l-cardList .card-title .badge {
  flex: none;
  background-color: #f4f4f4;
  border-radius: 80px;
  line-height: 1;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.l-cardList .card-title .title {
  flex: none;
  height: 84px;
  line-height: 42px;
  margin-top: auto;
  font-size: 30px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  color: inherit;
  transition: none;
}
.l-cardList .card-content {
  margin-top: 20px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  color: inherit;
  transition: none;
}

@media (max-width: 1439px) {
  /* owl nav button custom*/
  .mainImageArea .owl-carousel .owl-nav button.owl-prev,
  .mainImageArea .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  .l-content {
    max-width: 768px;
    width: 100vw;
    padding-left: 24px;
    padding-right: 24px;
  }
  .l-title {
    font-size: 24px;
  }
  .btn-seeall {
    background-position: right 12px top 10px;
    background-size: 20px 20px;
    padding: 6px 40px 6px 8px;
    font-size: 18px;
  }
  .mainTextArea h2 {
    width: 100%;
    margin-top: 135px;
    font-size: 36px;
  }
  .mainTextArea h2::after {
    width: 20px;
    height: 2px;
    margin-top: 16px;
  }
  .mainTextArea .desc {
    width: 100%;
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
  }
  .mainTextArea a {
    margin-top: 60px;
  }
  .l-useCase .btn-seeall {
    right: 24px;
  }
  .l-useCase .case-list {
    gap: 30px;
  }
  .l-useCase .case-item {
    flex: 0 1 auto;
    width: calc(50% - 15px);
    height: 422px;
  }
  .l-useCase .case-thumb {
    height: 200px;
  }
  .l-useCase .case-content .title {
    font-size: 24px;
  }
  .l-useCase .case-content .content {
    margin-top: 12px;
    line-height: 22px;
    font-size: 14px;
  }
  .l-cardList .card-list {
    gap: 30px;
  }
  .l-cardList .card-item {
    flex: 0 1 auto;
    width: calc(50% - 15px);
    height: 312px;
    padding: 30px;
  }
  .l-cardList .card-title {
    height: 104px;
  }
  .l-cardList .card-title .title {
    height: 64px;
    line-height: 32px;
    font-size: 24px;
  }
  .l-cardList .card-content {
    line-height: 22px;
    font-size: 14px;
  }
  .l-cardList .ico-arr {
    right: 30px;
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .br-pc {
    display: none;
  }
  .br-mo {
    display: initial;
  }
  .l-content {
    max-width: calc(100vw - 40px);
    padding: 60px 0;
  }
  .btn-seeall {
    background-position: right 6px top 10px;
    background-size: 20px 20px;
    width: 96px;
    padding: 6px 30px 6px 8px;
    font-size: 18px;
  }
  .ico-arr {
    width: 28px;
    height: 28px;
  }
  .mainTextArea {
    width: calc(100vw - 48px);
  }
  .mainTextArea h2 {
    font-size: 24px;
  }
  .mainTextArea .desc {
    line-height: 22px;
    font-size: 14px;
  }
  .mainTextArea a {
    margin-top: 60px;
  }
  .l-useCase .btn-seeall {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
  }
  .l-useCase .ico-arr {
    right: 30px;
    bottom: 30px;
  }
  .l-useCase .case-list {
    gap: 20px;
  }
  .l-useCase .case-item {
    width: calc(100vw - 40px);
    height: 380px;
  }
  .l-useCase .case-thumb {
    height: 160px;
  }
  .l-useCase .case-content .title {
    height: 64px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
  .l-cardList .btn-seeall {
    margin: 20px 0 0 auto;
  }
  .l-cardList .ico-arr {
    right: 30px;
    bottom: 30px;
  }
  .l-cardList .card-list {
    gap: 20px;
  }
  .l-cardList .card-item {
    width: calc(100vw - 40px);
    height: auto;
  }
}