.applications {
  .card-container + .card-container {
    margin-top: 88px;
  }
  .card-swiper-container {
    position: relative;
  }
  .card-title .select-container {
    margin-left: auto;
    @include mobile {
      width: 100%;
    }
  }
  .title-link-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    dt {
      flex: none;
      width: 100px;
    }
    .link-api {
      width: 100%;
    }
  }
  @include mobile {
    .title-link-box .link {
      width: 100%;
      justify-content: flex-start;
    }
  }
  .section-title .author{
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #787878;
    > dt {
      line-height: 26px;
    }
  }
}
