article.multi-column {
  display: flex;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    > p {
      width: 250px;
      text-align: center;
    }
    &-num {
      font-size: 18px;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #00d1ff
    }
    &-title {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
    }
    &-txt {
      margin-top: 18px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &.dbl {
    .item {
      flex-basis: calc(100% / 2)
    }
  }
  &.tri {
    .item {
      flex-basis: calc(100% / 3)
    }
  }
}

.sub-title-container {
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
  }
}

.selector-option {
  display: flex;
  gap: 0 35px;
  &.large-text {
    label {
      .ico.text {
        width: 200px
      }
    }
  }
    label {
      display: flex;
      justify-content: center;
      width: calc((100% - 35px) / 2);
      min-height: 150px;
      margin-top: 30px;
      user-select: none;
      .ico-text {
        width: 150px;
        margin-top: 20px;
        padding-top: 70px;
        background: url("../images/img_demo_text.svg") no-repeat 50% 0%;
        text-align: center;
      }
    }
    input[type=radio] {
      display: none;
    }
    input:checked + label {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

      .ico-text {
        background: url("../images/img_demo_text_active.svg") no-repeat 50% 0%;
        font-weight: 700;
      }
    }
}

.direction {
  position: relative;
  height: 8px;
  margin: 40px 0;
  background: #000000;
  &::after {
    content: "";
    position: absolute;
  }
}

.waveform-area {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  .title {
    height: 40px;
    margin-left: 20px;
    font-weight: 500;
    line-height: 40px;
  }
  #waveform {
    margin-left: 20px;
    flex: 1;
  }
}

.list-info {
  margin-top: 30px;
  padding: 30px 0;
  border: {
    top: 1px solid #ccc;
    bottom: 1px solid #ccc;
  }
  .list-item {
    display: flex;
    .title {
      display: flex;
      flex-direction: column;
      flex-basis: 190px;
      .num {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #00d1ff;
      }
      .txt {
        margin-top: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
    }
    .content {
      flex: 1;
      font-size: 18px;
      line-height: 30px;
      .txt.list {
        display: list-item;
        padding-left: 25px;
        list-style: disc;
        list-style-position: inside;
        text-indent: -25px;
      }
    }
    & + .list-item {
      margin-top: 30px;
    }
  }
}

.title-gray {
  font-weight: 500;
  line-height: 28px;
  color: #787878;
}

.textarea-container {
  color: #787878;
  .textarea {
    width: 100%;
    height: 180px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
}

.list-user-data {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  .list-item {
    display: flex;
    border: 2px solid #ededed;
    background-color: #fff;
    margin: 0;
    width: 100%;
    padding: 15px 20px;
    line-height: 28px;
    .data {
      padding-left: 32px;
      background: url("../images/ico_btn_mod.svg") no-repeat 0% 0%;
    }
    .controls {
      margin-left: auto;;
    }
  }
}

.btn-container {
  .create-summary {
    margin-left: auto;
  }
}

.fileUpload-container .title-gray {
  font-weight: 500;
  font-size: 16px;
}

.fileUpload-container .txt {
  font-size: 16px;
}

.result-multi {
  display: flex;
  gap: 0 20px;
  & .result-item {
    flex-basis: calc((100% - 20px) / 2);
    .textarea {
      height: 450px;
    }
  }
}


@include mobile {
  article.multi-column {
    flex-wrap: wrap;
    &.dbl {
      .item {
        flex-basis: 100%
      }
    }
  }

  .sub-title-container {
    flex-wrap: wrap;
    .title {
      width: 100%
    }
    .btn-container {
      justify-content: flex-end;
      margin-top: 10px;
    }
  }

  .selector-option {
    flex-wrap: wrap;
    gap: 0;
    label {
      width: 100%;
      height: 230px;
    }
  }

  .waveform-area {
    .title {
      width: calc(100% - 60px)
    }
    #waveform {
      width: 100%;
      margin-left: 0;
      flex: auto;
    }
  }
}
