article.multi-column {
  display: flex;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    > p {
      width: 250px;
      text-align: center;
    }
    &-num {
      font-size: 18px;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #00d1ff
    }
    &-title {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
    }
    &-txt {
      margin-top: 18px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &.dbl {
    .item {
      flex-basis: calc(100% / 2)
    }
  }
}

.sub-title-container {
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
  }
}

.selector-option {
  display: flex;
  gap: 0 35px;
    label {
      display: flex;
      justify-content: center;
      width: calc((100% - 35px) / 2);
      margin-top: 30px;
      user-select: none;
      .ico-text {
        width: 220px;
        margin-top: 20px;
        padding-top: 70px;
        background: url("../images/img_demo_text.svg") no-repeat 50% 0%;
        text-align: center;
      }
    }
    input[type=radio] {
      display: none;
    }
    input:checked + label {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

      .ico-text {
        background: url("../images/img_demo_text_active.svg") no-repeat 50% 0%;
        font-weight: 700;
      }
    }
}

.direction {
  position: relative;
  height: 8px;
  margin: 40px 0;
  background: #000000;
  &::after {
    content: "";
    position: absolute;
  }
}

.waveform-area {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  .title {
    height: 40px;
    margin-left: 20px;
    font-weight: 500;
    line-height: 40px;
  }
  #waveform {
    margin-left: 20px;
    flex: 1;
  }
}

@include mobile {
  article.multi-column {
    flex-wrap: wrap;
    &.dbl {
      .item {
        flex-basis: 100%
      }
    }
  }

  .sub-title-container {
    flex-wrap: wrap;
    .title {
      width: 100%
    }
    .btn-container {
      justify-content: flex-end;
      margin-top: 10px;
    }
  }

  .selector-option {
    flex-wrap: wrap;
    gap: 0;
    label {
      width: 100%;
      height: 230px;
    }
  }

  .waveform-area {
    .title {
      width: calc(100% - 60px)
    }
    #waveform {
      width: 100%;
      margin-left: 0;
      flex: auto;
    }
  }
}
