// color
// var(--color, #f4f4f4);
:root {
  --visual-link-background: transparent;
  --visual-link-border: #000;
  --visual-link-color: #000;
  --visual-link-icon: url("../images/btn_ico_guide.svg");
  --visual-link-icon-hover: url("../images/darkmode/btn_ico_guide.svg");
  --visual-link-hover-background: #000;
  --visual-link-hover-color: #fff;
  --card-icon-hits: url("../images/ico_view_24.svg");
  --card-hits-hover-icon: url("../images/darkmode/btn_ico_guide.svg");
}
.dark-theme {
  --visual-link-background: #000;
  --visual-link-border: #fff;
  --visual-link-color: #fff;
  --visual-link-icon: url("../images/darkmode/btn_ico_guide.svg");
  --visual-link-icon-hover: url("../images/btn_ico_guide.svg");
  --visual-link-hover-background: #fff;
  --visual-link-hover-color: #000;
}
// visual
.main .visual-container {
  position: relative;
  background: url("../images/img_visual_main.svg") no-repeat 50% 100%;
  width: 100%;
  height: 427px;
  margin-top: 70px;
  margin-bottom: 109px;
  text-align: center;
  .visual-text {
    margin-bottom: 35px;
    line-height: 70px;
    font-size: 55px;
    font-weight: 700;
  }
  .visual-link {
    display: inline-block;
    border: 2px solid var(--visual-link-border, #000);
    border-radius: 80px;
    background: var(--visual-link-background, transparent)
      var(--visual-link-icon) no-repeat 41px 50%;
    padding: 15px 40px 15px 65px;
    font-weight: 800;
    line-height: 26px;
    transition: all 0.3s;
    &:hover {
      background-image: var(--visual-link-icon-hover);
      border-color: #000;
      background-color: var(--visual-link-hover-background, transparent);
      color: var(--visual-link-hover-color, #000);
    }
  }
}
// card
.main .card-container {
  & + .card-container {
    margin-top: 79px;
  }
  .card {
    .card-head {
      margin-bottom: 27px;
    }
    .card-txt {
      @include ellipsis(3);
      line-height: 42px;
      font-size: 30px;
    }
    .card-detail {
      display: none;
      width: 320px;
      margin-top: 30px;
      font-weight: 500;
      font-size: 24px;
    }
  }
}
// responsive
.main {
  @include desktop {
    // interaction
    .card:hover {
      z-index: 10;
      .card-hover {
        width: 480px;
        height: 480px;
        padding: 60px;
        color: #000;
        .card-view.hits{
          background-image: url("../images/ico_view_24_hover.svg");
          color: #000;
        }
        .badge-txt.new,
        .badge-txt.update {
          color: #fff;
        }
        .card-body .card-detail {
          display: block;
        }
        .card-foot .foot-author{
          color: #000;
        }
      }
    }
    .card-list .card:nth-child(4n):hover .card-hover,
    .swiper-slide-next + .card + .card:hover .card-hover {
      left: auto;
      right: 0;
    }
    .card-hover-1 .card:hover .card-hover {
      border-color: transparent;
      background-color: $color-primary-1;
      .card-txt {
        color: #000;
      }
    }
    .card-hover-2 .card:hover .card-hover {
      border-color: transparent;
      background-color: $color-primary-2;
      .card-txt {
        color: #000;
      }
    }
    .card-hover-3 .card:hover .card-hover {
      border-color: transparent;
      background-color: $color-primary-3;
      .card-txt {
        color: #000;
      }
    }
    .card-swiper-container {
      height: 321px;
    }
    .card-swiper-container .swiper {
      height: 480px;
    }
  }
  @include tablet-only {
    .visual-container {
      height: 427px;
      margin-top: 50px;
      margin-bottom: 118px;
    }
    .card-container {
      padding: 0 50px;
    }
    .card-container + .card-container {
      margin-top: 88px;
    }
  }
  @include mobile {
    .visual-container {
      background: url("../images/img_visual_main_m.svg") no-repeat 50% 100%;
      height: 450px;
      margin-top: 50px;
      margin-bottom: 40px;
      .visual-text {
        margin-bottom: 30px;
        line-height: 42px;
        font-size: 30px;
      }
    }
    .card-container {
      padding: 0 27px;
    }
    .card-container + .card-container {
      margin-top: 60px;
    }
  }
}
