.visual-container {
  position: relative;
  background: url("../images/img_visual_main.svg") no-repeat;
  width: 100%;
  height: 606px;
  padding: 70px 0 120px 0;
  text-align: center;
  .visual-text {
    margin-bottom: 35px;
    line-height: 70px;
    font-size: 55px;
    font-weight: 700;
  }
  .visual-link {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 80px;
    padding: 15px 40px;
    font-weight: 800;
    line-height: 26px;
  }
}
.card-container + .card-container {
  margin-top: 79px;
}

@include tablet-only {
  .visual-container {
    background: url("../images/img_visual_main.svg") no-repeat 50% 50% / contain;
    height: 595px;
    padding: 50px 0 0 0;
  }
  .card-container + .card-container {
    margin-top: 88px;
  }
}
@include mobile {
  .visual-container {
    background: url("../images/img_visual_main.svg") no-repeat 100% 50% / cover;
    height: 575px;
    padding: 50px 0 0 0;
    .visual-text {
      margin-bottom: 30px;
      line-height: 42px;
      font-size: 30px;
    }
  }
  .card-container + .card-container {
    margin-top: 60px;
  }
}