.myGround {
  .container-content {
    padding-top: 0px;
  }
  .tab-item > .txt-notice {
    margin-bottom: 40px;
  }
  .category-box {
    gap: 10px;
    .select-api {
      flex: 1;
    }
  }
  .regist-complete .card-head .badge-txt {
    margin-left: auto;
  }
  .container-edit .txt-notice:not(.color-info) {
    color: #ff6b00;
    &:before {
      background-image: url("../images/ico_txt_notice_orange.svg");
    }
  }
  .title-content-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 40px;
    dd.ipt-container {
      display: flex;
      align-items: center;
      gap: 20px;
      .ipt {
        min-width: 160px;
      }
    }
  }
  @include mobile {
    .title-content-box {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .ipt-container {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
  .title-ipt-box {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    .ipt-container {
      gap: 10px;
      .ipt-tit {
        flex: 0 0 auto;
        width: 150px;
        text-align: right;
      }
    }
  }
  @include mobile {
    .title-ipt-box {
      flex-direction: column;
      align-items: flex-start;
      .ipt-container .ipt-tit {
        text-align: center;
      }
    }
  }
  .thumbnail-box {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    .thumb-box {
      display: none;
      flex: none;
      background-color: #f4f4f4;
      padding: 30px;
      width: 100%;
      &.is-show {
        display: block;
      }
      .file-label {
        width: 155px;
      }
      .ipt {
        width: 100%;
      }
      .thumb-img {
        position: relative;
        width: 700px;
        margin: 20px auto 0;
        > img {
          width: 100%;
        }
      }
      .thumb-remove {
        position: absolute;
        top: 0;
        right: 0;
        background: #ccc url("../images/darkmode/ico_close_22.svg") no-repeat
          50% 50% / 20px 20px;
        width: 40px;
        height: 40px;
        color: transparent;
        font-size: 0;
      }
    }
  }
  @include tablet {
    .thumb-img {
      max-width: 100%;
    }
  }
  @include mobile {
    .thumbnail-box {
      flex-direction: column;
      align-items: flex-start;
      .ipt-container {
        justify-content: flex-start;
        align-items: flex-start;
      }
      .thumb-box {
        padding: 20px 10px;
      }
    }
  }
  // index
  .board.board-mypost-normal {
    @include desktop {
      .board-header,
      .board-link {
        grid-template-columns: 177px 600px repeat(auto-fit, 177px);
      }
    }
    @include tablet {
      .link-grid {
        &[data-column="date"] {
          width: 100%;
        }
      }
    }
  }
  .board.board-mypost-api {
    @include desktop {
      .board-header,
      .board-link {
        grid-template-columns: 600px repeat(auto-fit, 177px);
      }
      .collapse {
        &-content {
          grid-column: auto / span 4;
        }
      }
    }
    @include tablet {
      .link-grid {
        &[data-column="date"] {
          width: 100%;
        }
      }
    }
  }
}
