/* ##############################
# layout - Header
################################*/
:root {
  --1dep-arrow: url("../images/ico_gnb_arrow.svg");
  --1dep-link: url("../images/ico_link_24_000.svg");
  --2dep-background: #f4f4f4;
}
.dark-theme {
  --1dep-arrow: url("../images/darkmode/ico_gnb_arrow.svg");
  --1dep-link: url("../images/ico_link_24_fff.svg");
  --2dep-background: #1f1f1f;
}
.header {
  position: relative;
  background-color: #000;
  color: #fff;
  z-index: 999;
  &-container {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px 0;
    color: inherit;
  }
  .logo {
    flex: none;
    background: url("../images/darkmode/img_logo.svg") no-repeat 50% 50% /
      contain;
    width: 214px;
    height: 28px;
    padding: 10px 0;
    font-size: 0;
    z-index: 9;
  }
  .labs-logo {
    flex: none;
    background: url("../images/darkmode/img_labs_logo.svg") no-repeat 50% 50% /
      contain;
    width: 75px;
    height: 28px;
    margin-left: 8px;
    font-size: 0;
    z-index: 9;
  }
  .btn-gnb {
    display: none;
    position: absolute;
    top: 0px;
    right: 18px;
    background: no-repeat 50% 50%;
    width: 38px;
    height: 80px;
    font-size: 0;
    color: transparent;
    z-index: 9;
    &.open {
      background-image: var(--gnb-icon-open-white);
    }
    &.close {
      position: fixed;
      background-image: var(--gnb-icon-close);
    }
  }
  .header-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    color: #fff;
  }
  .gnb {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    color: inherit;
    &-menu {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 2px 6px;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      &:hover,
      &.is-active {
        text-decoration: underline;
      }
      .ico-link {
        background: url("../images/ico_link_24_fff.svg") no-repeat 50% 50% /
          13px;
        width: 20px;
        height: 20px;
      }
    }
    &-1dep {
      position: relative;
      font-size: 20px;
      font-weight: 700;
      > .gnb-menu {
        &::after {
          content: "";
          display: block;
          background: url("../images/darkmode/ico_gnb_arrow.svg") no-repeat 50%
            50% / contain;
          width: 16px;
          height: 16px;
          margin-left: 2px;
        }
        &:hover::after,
        &.is-active::after {
          transform: rotate(180deg);
        }
      }
    }
    &-2dep {
      display: none;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-left: auto;
    color: #fff;
    .info-menu {
      padding: 10px 0 10px 34px;
      font-size: 18px;
      font-weight: 600;
      color: inherit;
      &.ground {
        background: url("../images/darkmode/ico_gnb_my.svg") no-repeat 0 50%;
      }
      &.logout {
        background: url("../images/ico_gnb_logout.svg") no-repeat 0 50%;
        color: #838383;
      }
      &.login {
        background: url("../images/ico_gnb_login.svg") no-repeat 0 50%;
        color: #838383;
      }
      &.sign {
        padding-left: 0;
        color: #838383;
      }
    }
  }
  .btn-theme {
    display: block;
    flex: 0 0 auto;
    position: relative;
    border: 1px solid var(--header-gnb-toggle-border, #ccc);
    background-color: var(--header-gnb-toggle, #ccc);
    border-radius: 28px;
    width: 80px;
    height: 40px;
    font-size: 0;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      display: block;
      background-color: var(--header-gnb-toggle-icon, #fff);
      border-radius: 28px;
      width: 28px;
      aspect-ratio: 1 / 1;
      transition: all 0.3s;
    }
    &::after {
      content: "W";
      position: absolute;
      top: 5px;
      right: 10px;
      display: block;
      width: 28px;
      aspect-ratio: 1 / 1;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: #fff;
      transition: all 0.3s;
    }
    &.toggle {
      &::before {
        left: 44px;
      }
      &::after {
        content: "B";
        right: 40px;
      }
    }
  }
}

.main .header {
  background-color: transparent;
  color: var(--main-header-color);
  .header-menu {
    color: inherit;
    &::before {
      background-color: var(--gnb-mobile-background);
    }
  }
  .logo {
    background-image: var(--gnb-logo);
  }
  .labs-logo {
    background-image: var(--gnb-logo-labs);
  }
  .btn-gnb.open {
    background-image: var(--gnb-icon-open);
  }
  .btn-gnb.close {
    background-image: var(--gnb-icon-close);
  }
  .btn-theme {
    display: block;
  }
  .gnb-1dep .gnb-menu {
    &::after {
      background-image: var(--1dep-arrow);
    }
    .ico-link {
      background-image: var(--1dep-link);
    }
  }
  .info {
    color: var(--main-header-color);
    .info-menu.ground {
      background-image: var(--gnb-icon-ground);
    }
  }
}

@include desktop {
  // main
  .header {
    &-container {
      max-width: 1390px;
      margin: 0 auto;
    }
    .labs-logo {
      margin-right: 40px;
    }
    .btn-theme {
      margin-left: 20px;
    }
    .gnb-1dep.is-active .gnb-2dep {
      display: flex;
    }
    .gnb-2dep {
      position: absolute;
      top: 36px;
      flex-direction: column;
      gap: 4px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 16px 10px;
      .gnb-menu {
        color: #fff;
        white-space: nowrap;
      }
    }
    .info {
      .info-menu.ground.is-active {
        background-image: url("../images/ico_gnb_my_active.svg");
        color: $color-primary-skyblue;
      }
    }
  }
}
// tablet & mobile
@include tablet {
  .header {
    color: #000;
    &.is-show {
      right: 0;
      background-color: var(--gnb-mobile-background);
      .logo {
        background-image: var(--gnb-logo);
      }
      .labs-logo {
        background-image: var(--gnb-logo-labs);
      }
      .header-menu {
        right: 0;
      }
      .gnb-1dep .gnb-menu {
        &::after {
          background-image: var(--1dep-arrow);
        }
        .ico-link {
          background-image: var(--1dep-link);
        }
      }
      .btn-theme {
        opacity: 0;
      }
      .btn-gnb.open {
        display: none;
      }
      .btn-gnb.close {
        display: block;
      }
    }
    &-container {
      height: 80px;
      padding: 0 30px;
    }
    .btn-theme {
      margin-left: auto;
      margin-right: 35px;
    }
    .btn-gnb.close {
      display: none;
    }
    .btn-gnb.open {
      display: block;
    }
    .header-menu {
      position: fixed;
      top: 80px;
      right: -100vw;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: var(--gnb-mobile-background);
      padding: 0;
      width: 100vw;
      height: calc(100% - 80px);
      overflow-y: auto;
      z-index: 5;
      color: var(--main-header-color);
    }
    .gnb {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 0;
      .gnb-menu {
        width: 100%;
        padding: 16px 40px;
      }
      &-1dep {
        width: 100%;
        &.is-active .gnb-2dep {
          display: block;
        }
      }
      .gnb-2dep {
        background-color: var(--2dep-background);
        .gnb-menu:hover {
          color: $color-primary-skyblue;
        }
      }
    }
    .info {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin: 0;
      padding: 20px 30px;
      color: inherit;
      .info-menu {
        margin: 7px 10px;
        &.ground {
          border: 2px solid var(--visual-link-border);
          border-radius: 80px;
          background-image: var(--gnb-icon-ground);
          background-position: 20px 50%;
          padding: 10px 20px 10px 44px;
          margin: 0 0 60px 0;
          line-height: 22px;
          &.is-active {
            background-image: url("../images/darkmode/ico_gnb_my.svg");
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
}
@include mobile {
  .header {
    &.is-show {
      overflow: visible;
      .labs-logo {
        left: 20px;
      }
    }
    &-container {
      height: 60px;
    }
    .logo {
      width: 160px;
      height: 21px;
    }
    .labs-logo {
      position: fixed;
      top: 74px;
      left: 100vw;
      transition: 0.3s;
    }
    .btn-theme {
      width: 56px;
      height: 30px;
      margin-right: 20px;
      &::before {
        top: 2px;
        left: 2px;
        width: 24px;
      }
      &::after {
        top: 1px;
        right: 2px;
        width: 24px;
        font-size: 16px;
      }
      &.toggle {
        &::before {
          left: 28px;
        }
        &::after {
          right: 26px;
        }
      }
    }
    .btn-gnb {
      background-position-x: 0;
      right: 0;
      width: 40px;
      height: 60px;
    }
    .header-menu {
      top: 0;
      height: 100%;
      &::before {
        content: "";
        flex: none;
        position: sticky;
        top: 0;
        display: block;
        background-color: #fff;
        width: 100%;
        height: 116px;
        z-index: 1;
      }
    }
  }
}
