/* ##############################
# pages - api
################################*/
.api {
  .search-container .search-filter .filter-select {
    width: 250px;
  }
  .card-container {
    display: flex;
    gap: 36px;
  }
  .card-list.type2 {
    flex: 1;
    .card {
      .card-hover {
        padding-bottom: 21px;
      }
      .card-body .card-detail {
        -webkit-line-clamp: 2;
      }
      .card-body .card-badge {
        margin-top: 20px;
        .badge.gpu{
          background-image: url('../images/icon_badge_gpu.svg');
          background-repeat: no-repeat;
          background-position: 12px 4px;
          padding-left: 34px;
        }
      }
      .card-foot.link::before {
        background-size: contain;
        width: 28px;
        height: 28px;
      }
      .card-foot.link-blank::before {
        content: "";
        display: block;
        background: url('../images/ico_link_24_000.svg') no-repeat 50% 50% / 20px 20px;
        width: 28px;
        height: 28px;
      }
    }
  }
  .category {
    flex: none;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f4f4f4;
    width: 321px;
    padding: 40px;
    .ctg {
      &-item {
        display: flex;
        flex-direction: column;
      }
      &-title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .ipt-container {
      flex-direction: column;
      align-items: flex-start;
      .chk .chk-label {
        color: #787878;
        &::before {
          background-color: transparent;
        }
      }
      .chk-ipt:checked + .chk-label {
        color: #000;
        &::before {
          background-color: #000;
        }
      }
    }
  }
  @include tablet-only {
    .card-container {
      flex-direction: column;
    }
    .category {
      width: 100%;
      .ipt-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 40px;
      }
    }
  }
  @include mobile {
    .card-container {
      flex-direction: column;
    }
    .search-container .search-filter .filter-select {
      width: 100%;
    }
    .category {
      width: 100%;
    }
  }
}
