/* ##############################
# pages - builder
################################*/
.midm {
  // index
  @include desktop {
    .search-input.type2 {
      width: 300px;
    }
    .filter-select {
      width: 250px;
    }
    .board {
      .board-header,
      .board-link {
        grid-template-columns: 142px 1fr repeat(3, 142px);
      }
    }
  }
  .section-title {
  }
  // write
  .form-item.flex-direction-row {
    align-items: center;
    .form-item-title {
      flex: none;
      width: 112px;
      margin: 0 10px 0 0;
    }
  }
  .builder {
    &-edit {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 30px 20px;
      border-color: transparent;
      background-color: #f4f4f4;
      padding: 30px 20px;
      margin-top: 20px;
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: 20px;
      &.template {
        flex: 0 0 200px;
        height: 740px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      &.flowchart {
        flex: 1 1 490px;
      }
      &.ui {
        flex: 1 1 490px;
        .btn-txt {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      &.control {
        width: 100%;
        min-height: 182px;
        .builder-content {
          height: 192px;
        }
      }
    }
    &-title {
      flex: none;
      font-size: 18px;
      font-weight: 700;
    }
    &-group {
      display: flex;
      gap: 20px;
      width: 100%;
    }
    &-content {
      flex: 1;
      background-color: #fff;
      min-height: 192px;
      max-height: 692px;
      padding: 10px;
      overflow: auto;
      @include scroll();
    }
  }
  // write > template
  .accodion {
    .acc {
      &-item {
      }
      &-btn {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 6px 20px;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
      &-title {
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        padding: 3px 0;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        .acc-btn::after {
          content: "";
          display: block;
          background: url("../images/ico_select_arrow.svg") no-repeat 50% 50%;
          width: 20px;
          height: 20px;
          margin-left: auto;
          transition: 0.3s;
        }
      }
      &-content {
        margin-bottom: 20px;
        height: 0;
        overflow: hidden;
        font-size: 14px;
        transition: 0.3s;
        .acc-btn {
          &::before {
            content: "";
            display: block;
            background-color: #333;
            border-radius: 50%;
            width: 3px;
            height: 3px;
            margin: 0 10px;
          }
          &:hover {
            background-color: rgba(53, 212, 248, 0.05);
            color: #35d4f8;
            &::before {
              background-color: #35d4f8;
            }
          }
        }
      }
      &-item.is-active {
        .acc-title .acc-btn::after {
          transform: rotate(180deg);
        }
        .acc-content {
          height: auto;
        }
      }
    }
  }
}
@include tablet-only {
  .midm {
    .section-title {
      flex-direction: row;
      align-items: center;
      .btn-container {
        margin: 0 0 0 auto;
      }
    }
  }
}
//************************************
//# Dialog
//************************************
.dialog {
  .df-content.api {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    .api-title {
      margin-bottom: 10px;
      line-height: 22px;
      font-size: 16px;
    }
    .btn-container {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }
}
