/* ##############################
# pages - docs
################################*/
.docs {
  a.underline:hover {
    opacity: 0.8;
  }
  .multi-column {
    > .item {
      flex: 1;
      > p {
        width: auto;
      }
    }
  }
  @include tablet-only {
    .multi-column {
      flex-wrap: wrap;
      > .item {
        min-width: 33.3333%;
      }
    }
  }
  @include mobile {
    .multi-column {
      flex-direction: column;
      > .item {
        padding: 20px 0;
      }
    }
  }
  .badge-container {
    flex-wrap: wrap;
  }
  .code-box {
    position: relative;
    .code {
      background-color: #f5f5f5;
      margin: 10px 0;
      padding: 20px;
      white-space: pre;
      overflow-x: auto;
    }
    .btn-ico.copy {
      position: absolute;
      right: 20px;
      top: 20px;
      background-image: url("../images/ico_file_file_78.svg");
    }
    @include mobile {
      .code {
        padding-top: 50px;
      }
      .btn-ico.copy {
        background-size: 50%;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
      }
    }
  }
  .api-link {
    margin-top: 10px;
    > .form-item {
      flex-direction: row;
      > dt {
        width: 200px;
      }
      dd {
        text-decoration: underline;
      }
    }
  }
}
