/* ##############################
# pages - main
################################*/

$color-primary-green: #13de48;
$color-primary-skyblue: #17d3e1;
$color-primary-orange: #ff6800;
$color-secondary-skyblue: #4ff3ff;

:root {
  --visual-link-background: transparent;
  --visual-link-border: #000;
  --visual-link-color: #000;
  --visual-link-icon: url("../images/btn_ico_guide.svg");
  --visual-link-icon-hover: url("../images/darkmode/btn_ico_guide.svg");
  --visual-link-hover-background: #000;
  --visual-link-hover-color: #fff;
  --btn-see-all: url("../images/ico_link_24_000.svg");
}
.dark-theme {
  --visual-link-background: #000;
  --visual-link-border: #fff;
  --visual-link-color: #fff;
  --visual-link-icon: url("../images/darkmode/btn_ico_guide.svg");
  --visual-link-icon-hover: url("../images/btn_ico_guide.svg");
  --visual-link-hover-background: #fff;
  --visual-link-hover-color: #000;
  --btn-see-all: url("../images/ico_link_24_fff.svg");
}
// visual
.main .footer {
  background-color: transparent;
}
.main .visual-container {
  position: relative;
  background: url("../images/img_visual_main.svg") no-repeat 50% 100%;
  width: 100%;
  height: 427px;
  margin-top: 70px;
  margin-bottom: 109px;
  text-align: center;
  .visual-text {
    margin-bottom: 35px;
    line-height: 70px;
    font-size: 55px;
    font-weight: 700;
  }
  .visual-link {
    display: inline-block;
    border: 2px solid var(--visual-link-border, #000);
    border-radius: 80px;
    background: var(--visual-link-background, transparent)
      var(--visual-link-icon) no-repeat 41px 50%;
    padding: 15px 40px 15px 65px;
    font-weight: 800;
    line-height: 26px;
    transition: all 0.3s;
    &:hover {
      background-image: var(--visual-link-icon-hover);
      border-color: #000;
      background-color: var(--visual-link-hover-background, transparent);
      color: var(--visual-link-hover-color, #000);
    }
  }
}
.main {
  .title-link {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--btn-see-all) no-repeat 100% 50%;
    margin-left: auto;
    padding-right: 29px;
    font-size: 24px;
    font-weight: 500;
    color: var(--color, #000);
    &:hover {
      background-image: url("../images/ico_link_24_hover.svg");
      color: $color-secondary-skyblue;
    }
  }
  .card-container,
  .notice-container {
    position: relative;
    .card-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 30px;
      .title-tit {
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}
// card
.main .card-container {
  & + .card-container {
    margin-top: 79px;
  }
  .card {
    .card-txt {
      @include ellipsis(2);
      line-height: 42px;
      font-size: 30px;
    }
    .card-detail {
      display: none;
      width: 320px;
      margin-top: 30px;
      -webkit-line-clamp: 4;
      line-height: 32px;
      font-weight: 500;
      font-size: 24px;
    }
  }
}
.main .notice-container {
  margin-bottom: 120px;
  .notice {
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
      border-top: 3px solid var(--color, #000);
      border-bottom: 1px solid var(--color, #000);
      margin-top: 40px;
      padding: 30px 40px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }
    &-badge {
      flex: none;
      border: 1px solid var(--color, #000);
      border-radius: 80px;
      width: 114px;
      padding: 6px 0;
      line-height: 1;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
    }
    &-title {
      flex: 1 1 auto;
      max-width: 1032px;
      font-size: 18px;
      font-weight: 700;
      @include ellipsis;
      &:hover {
        color: $color-secondary-skyblue;
        text-decoration: underline;
      }
    }
    &-date {
      flex: none;
      font-size: 18px;
    }
  }
}
// responsive
.main {
  @include desktop {
    // interaction
    .card:hover {
      z-index: 10;
      .card-hover {
        width: 384px;
        height: 384px;
        color: #000;
        .card-view.hits {
          background-image: url("../images/ico_view_24_hover.svg");
          color: #000;
        }
        .badge-txt.primary,
        .badge-txt.secondary {
          color: #fff;
        }
        .badge-midm {
          border-color: #000;
          color: #000;
        }
        .btn-bookmark {
          background-image: url("../images/ico_bookmark_b.svg");
        }
        .card-body .card-detail {
          display: -webkit-box;
        }
        .card-foot .foot-author {
          color: #000;
        }
        .card-foot.link::before {
          background-image: url("../images/ico_arrow_42.svg");
        }
      }
    }
    .card-list .card:nth-child(4n) .card-hover,
    .swiper-slide-next + .card + .card .card-hover {
      left: auto;
      right: 0;
    }
    // Hover color
    .card-hover-1 .card:hover .card-hover {
      border-color: transparent;
      background-color: $color-primary-green;
      .card-txt {
        color: #000;
      }
    }
    .card-hover-2 .card:hover .card-hover {
      border-color: transparent;
      background-color: $color-primary-skyblue;
      .card-txt {
        color: #000;
      }
    }
    .card-hover-3 .card:hover .card-hover {
      border-color: transparent;
      background-color: $color-primary-orange;
      .card-txt {
        color: #000;
      }
    }
    .card-swiper-container {
      height: 321px;
    }
    .card-swiper-container .swiper:hover {
      height: 480px;
    }
  }
  @include tablet-only {
    .card-container,
    .notice-container {
      .title-link {
        right: 60px;
      }
    }
    .visual-container {
      height: 427px;
      margin-top: 50px;
      margin-bottom: 118px;
    }
    .card-container {
      padding: 0 60px;
    }
    .card-container + .card-container {
      margin-top: 88px;
    }
    .notice-container {
      padding: 0 60px;
    }
  }
  @include mobile {
    .card-container,
    .notice-container {
      .title-link {
        position: relative;
        right: auto;
        top: auto;
        background-position: right 6px top 8px;
        background-size: 20px 20px;
        width: 96px;
        margin: 20px 0 0 auto;
        padding: 6px 30px 6px 8px;
        font-size: 18px;
      }
    }
    .visual-container {
      background: url("../images/img_visual_main_m.svg") no-repeat 50% 100%;
      height: 450px;
      margin-top: 50px;
      margin-bottom: 40px;
      .visual-text {
        margin-bottom: 30px;
        line-height: 42px;
        font-size: 30px;
      }
    }
    .card-container {
      padding: 0 27px;
      overflow: hidden;
      .card-title {
        .title-tit {
          font-size: 24px;
        }
        .title-link {
          font-size: 18px;
        }
      }
      .card {
        min-height: 321px;
        .card-txt {
          font-size: 24px;
          line-height: 26px;
        }
      }
    }
    .card-container + .card-container {
      margin-top: 60px;
    }
    .notice-container {
      padding: 0 20px;
      .notice {
        &-list {
          padding: 0;
        }
        &-item {
          flex-direction: column;
          align-items: flex-start;
          padding: 20px 0;
          gap: 16px;
          &:not(:first-child) {
            border-top: 1px solid var(--color, #000);
          }
        }
        &-title {
          max-width: 100%;
          @include ellipsis(2);
        }
        &-date {
          margin-left: auto;
        }
      }
    }
  }
}
