@import "_common";

.mainImageArea.main {
  .mainTextArea {
    h2 {
      @include ellipsis();
    }
    .desc {
      @include ellipsis(2);
    }
  }
}

/* 공지사항 */
.mainNotice {
  &.l-content {
    padding-bottom: 0;
  }
  .notice {
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
      border-top: 3px solid #000;
      border-bottom: 1px solid #000;
      margin-top: 40px;
      padding: 30px 40px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      color: #000;
    }
    &-badge {
      flex: none;
      border: 1px solid #000;
      border-radius: 80px;
      width: 114px;
      padding: 6px 0;
      line-height: 1;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      color: inherit;
    }
    &-title {
      flex: 1 1 auto;
      max-width: 1032px;
      font-size: 18px;
      font-weight: 700;
      color: inherit;
      @include ellipsis;
      &:hover {
        color: #00d9c3;
        text-decoration: underline;
      }
    }
    &-date {
      flex: none;
      font-size: 18px;
      color: inherit;
    }
  }
}
/* Tech */
.l-cardList.main {
  background: linear-gradient(
    180deg,
    rgba(53, 243, 232, 0.3) 0%,
    rgba(151, 71, 255, 0.3) 100%
  );
  .card-item:hover {
    background-color: #000;
    color: #fff;
  }
}
/* Genie Developer */
.mainGenieDeveloper {
  .ico-arr {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
  .gd-list {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  .gd-item {
    position: relative;
    display: flex;
    width: 100%;
    height: 334px;
    color: #000;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
    &::before {
      content: "";
      flex: none;
      display: block;
      background: transparent no-repeat 50% 50% / contain;
      width: 234px;
      aspect-ratio: 1 / 1;
      margin: 30px;
      color: #000;
    }
    &.api::before {
      background-image: url("../images/img_main_api.png");
    }
    &.data::before {
      background-image: url("../images/img_main_data.png");
    }
    &:hover {
      background-color: #000;
      color: #fff;
      box-shadow: none;
      @extend %icon-hover;
      &.api::before {
        background-image: url("../images/img_main_api_on.png");
      }
      &.data::before {
        background-image: url("../images/img_main_data_on.png");
      }
    }
  }
  .gd-content {
    padding: 40px;
    color: inherit;
    .title {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 700;
      color: inherit;
    }
    .content {
      margin-top: 20px;
      line-height: 30px;
      font-size: 18px;
      font-weight: 400;
      color: inherit;
      word-break: keep-all;
      transition: none;
    }
  }
}
/* Facebook */
.mainFacebook {
  background: linear-gradient(180deg, #5c4eff 0%, #012c80 100%);
  .l-title {
    color: #fff;
  }
  .fb-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 33px;
  }
  .fb-item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 440px;
    height: 496px;
    transition: none;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 0;
    }
    .fb-thumb {
      flex: none;
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: none;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
    .fb-content {
      position: relative;
      flex: 1;
      padding: 40px;
      transition: none;
      .content {
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 18px;
        font-weight: 400;
        color: #000;
        @include ellipsis(4);
        transition: none;
      }
      .date {
        font-size: 18px;
        font-weight: 400;
        color: #787878;
        transition: none;
      }
    }
    &:hover {
      &::before {
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        background-image: linear-gradient(
          329.91deg,
          #00d9c3 0%,
          #5c4eff 49.56%,
          #9747ff 100%
        );
      }
      .fb-thumb::after {
        opacity: 1;
      }
      .fb-content {
        background-color: #000;
        .content,
        .date {
          color: #fff;
        }
      }
    }
  }
}
// pc
@media (min-width: $pc) {
  .mainNotice {
    &.l-content {
      padding-top: 120px;
    }
    .btn-seeall {
      top: 110px;
    }
  }
}
// tablet
@media (max-width: $tablet) {
  .mainImageArea.main .mainTextArea .desc {
    height: 72px;
  }
  .mainNotice {
    &.l-content {
      padding-top: 120px;
    }
    .btn-seeall {
      top: 115px;
    }
  }
  .mainGenieDeveloper {
    .gd-list {
      flex-direction: column;
      gap: 30px;
    }
  }
  .mainFacebook {
    .fb-list {
      gap: 20px;
    }
    .fb-item {
      flex: 0 1 auto;
      width: calc(50% - 15px);
      height: 386px;
      .fb-thumb {
        height: 200px;
      }
      .fb-content {
        padding: 30px;
        .content {
          line-height: 22px;
          font-size: 14px;
        }
        .date {
          font-size: 14px;
        }
      }
    }
  }
}
// mobile
@media (max-width: $mobile) {
  .mainImageArea.main .mainTextArea .desc {
    height: 66px;
  }
  .mainNotice {
    .btn-seeall {
      top: auto;
    }
    .notice {
      &-list {
        padding: 0;
      }
      &-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        gap: 16px;
        &:not(:first-child) {
          border-top: 1px solid #000;
        }
      }
      &-title {
        max-width: 100%;
        @include ellipsis(2);
      }
      &-date {
        margin-left: auto;
      }
    }
  }
  .mainGenieDeveloper {
    .ico-arr {
      right: 30px;
      bottom: 30px;
    }
    .gd-list {
      gap: 20px;
    }
    .gd-item {
      flex-direction: column;
      height: 516px;
      padding: 30px;
      &::before {
        width: 220px;
        margin: 0 auto;
      }
    }
    .gd-content {
      padding: 0;
      margin: 30px 0 0;
      .title {
        font-size: 28px;
      }
      .content {
        line-height: 22px;
        font-size: 14px;
      }
    }
  }
  .mainFacebook {
    .fb-item {
      width: calc(100vw - 40px);
      height: 348px;
      .fb-thumb {
        height: 160px;
      }
    }
  }
}
