///************************************
//# Header 고도화 style
//************************************
@mixin container-width {
  width: 100%;
  max-width: 1392px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(10px);
  padding: 26px 0;
  z-index: 9999;
  &.is-scroll {
    background-color: #000;
  }
}
.header_inner {
  display: flex;
  align-items: center;
  height: 28px;
  @include container-width;
  padding: 0 30px;
}

// logo
.logo_nav_wrapper {
  z-index: 9;
  .logo {
    display: block;
    background: transparent url("../images/header_logo.svg") no-repeat 50% 50% /
      contain;
    width: 150px;
    height: 28px;
    font-size: 0;
    color: transparent;
  }
}
.logo_nav_wrapper_ground {
  z-index: 9;
  .logo_ground {
    display: block;
    background: transparent url("../images/logo_developer.svg");
    width: 122px;
    height: 28px;
    margin: 0 6px;
    font-size: 0;
    color: transparent;
    &:hover,
    &:active {
      background-image: url("../images/logo_developer_on.svg");
    }
  }
}

// mobile hamburger menu
.openCloseMenu {
  flex: none;
  display: none;
  position: relative;
  background-color: transparent;
  width: 20px;
  min-width: auto;
  height: 20px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  z-index: 9;
  &:hover {
    background-color: transparent;
  }
  > span {
    position: absolute;
    left: 2px;
    border-radius: 2px;
    background-color: #fff;
    width: 16px;
    height: 2px;
    transition: all 0.3s;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 12px;
    }
  }
}

.menuArea {
  flex: 1;
}
.nav_wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  // 1depth
  .header_nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    > li {
      position: relative;
      > a {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 8px 6px;
        font-size: 20px;
        font-weight: 700;
        color: inherit;
        &::after {
          content: "";
          display: block;
          width: 17px;
          height: 17px;
          background: url("../images/icon_gnb_arrow.png") 50% 50% no-repeat;
          transition: transform 0.3s;
        }
        &:hover,
        &:active {
          text-decoration: underline;
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  // 2depth
  ul.on {
    li {
      display: block;
    }
    a {
      display: block;
      margin: 2px 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.75;
      color: #fff;
      &:hover,
      &:active {
        color: #00d9c3;
        text-decoration: underline;
      }
    }
  }
  ul.off {
    display: none;
  }
  // info
  .header_items {
    display: flex;
    align-items: center;
    li {
      font-size: 18px;
      font-weight: 500;
    }
    a {
      display: block;
      color: inherit;
    }
    .userIcon,
    .logout,
    .login {
      display: flex;
      align-items: center;
      gap: 10px;
      &::before {
        content: "";
        display: block;
        background: transparent no-repeat 50% 50% / cover;
        width: 24px;
        height: 24px;
      }
    }
    .userIcon::before {
      background-image: url("../images/icon_gnb_my.png");
    }
    .logout::before {
      background-image: url("../images/icon_gnb_logout.png");
    }
    .login::before {
      background-image: url("../images/icon_gnb_login.png");
    }
  }
}
// pc
@media (min-width: 1440px) {
  .nav_wrapper nav ul.on {
    position: fixed;
    top: 62px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 16px 10px;
    li {
      margin: 2px 0;
    }
  }
  .header_items {
    margin-left: auto;
    gap: 20px;
  }
}
// tablet
@media (max-width: 1439px) {
  header.is-open {
    .logo_nav_wrapper .logo {
      background-image: url("../images/header_logo_on.svg");
    }
    .logo_nav_wrapper_ground .logo_ground {
      background-image: url("../images/logo_developer_on.svg");
    }
    .openCloseMenu > span {
      background-color: #000;
      &:nth-child(1) {
        top: 7px;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 7px;
        transform: rotate(-135deg);
      }
    }
    .menuArea {
      left: 0;
    }
  }
  .openCloseMenu {
    display: flex;
  }
  .menuArea {
    position: fixed;
    top: 0px;
    left: 100vw;
    display: block;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 5;
    &::before {
      content: "";
      position: sticky;
      top: 0;
      display: block;
      background-color: #fff;
      width: 100%;
      height: 80px;
      z-index: 1;
    }
    .nav_wrapper nav {
      flex-direction: column;
      align-items: flex-start;
      color: #000;
      li {
        width: 100%;
      }
      .header_nav,
      .header_items {
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        margin: 0;
        a {
          width: 100%;
          padding: 16px 40px;
          color: inherit;
        }
      }
      ul.on {
        background-color: #f4f4f4;
      }
      .header_nav > li > a::after {
        background-image: url("../images/icon_gnb_arrow_on.png");
      }
      .header_items {
        margin-top: 40px;
        color: #838383;
        .userIcon {
          color: #000;
          &::before {
            background-image: url("../images/icon_gnb_my_on.png");
          }
        }
        .logout::before {
          background-image: url("../images/icon_gnb_logout_on.png");
        }
        .login::before {
          background-image: url("../images/icon_gnb_login_on.png");
        }
      }
    }
  }
}
// mobile
@media (max-width: 907px) {
  header {
    height: 60px;
    padding: 19px 0;
    &.is-open {
      .logo_nav_wrapper_ground {
        opacity: 1;
      }
    }
  }
  .header_inner {
    height: auto;
    padding: 0 20px;
  }
  .logo_nav_wrapper .logo {
    width: 112px;
    height: 21px;
  }
  .logo_nav_wrapper_ground {
    position: absolute;
    top: 74px;
    opacity: 0;
  }
  .menuArea::before {
    height: 116px;
  }
}
