///************************************
//# Mi:dm page css
//************************************
@import "common";

.mainImageArea.midm {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(94.2deg, #9748ff 0%, #5f4eff 50.52%, #35f3e8 100%);
  .mainTextArea {
    h2 {
      margin-top: 175px;
    }
    .desc > p + p {
      margin-top: 12px;
    }
  }
}

.midmFeature {
  &.l-content {
    padding-top: 120px;
  }
  .feature {
    &-list {
      display: flex;
      justify-content: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: no-repeat 50% 50% / cover;
      width: 400px;
      aspect-ratio: 1 / 1;
      margin: 0 -23px;
      overflow: hidden;
      color: #000;
      transition: none;
      &:hover {
        color: #fff;
        z-index: 1;
        .feature-title::after {
          background-color: #fff;
        }
        .feature-desc {
          text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
        }
      }
      &:nth-child(1) {
        background-image: radial-gradient(
          50% 50% at 50% 50%,
          rgba(0, 217, 195, 0.8) 0%,
          rgba(0, 217, 195, 0.2) 100%
        );

        &:hover {
          background-image: url("../images/img_midm_feature_01.png");
        }
      }
      &:nth-child(2) {
        background-image: radial-gradient(
          50% 50% at 50% 50%,
          rgba(92, 78, 255, 0.8) 0%,
          rgba(92, 78, 255, 0.2) 100%
        );
        &:hover {
          background-image: url("../images/img_midm_feature_02.png");
        }
      }
      &:nth-child(3) {
        background-image: radial-gradient(
          50% 50% at 50% 50%,
          rgba(151, 71, 255, 0.8) 0%,
          rgba(151, 71, 255, 0.2) 100%
        );
        &:hover {
          background-image: url("../images/img_midm_feature_03.png");
        }
      }
    }
    &-title {
      line-height: 1.2;
      font-size: 28px;
      font-weight: 700;
      color: inherit;
      &::after {
        content: "";
        display: block;
        background-color: #000;
        width: 30px;
        height: 2px;
        margin: 40px auto;
      }
    }
    &-desc {
      text-align: center;
      line-height: 1.2;
      font-size: 18px;
      color: inherit;
    }
  }
}
.l-useCase.midm {
  background: linear-gradient(
    180deg,
    rgba(151, 71, 255, 0.3) 0%,
    rgba(92, 78, 255, 0.15) 50.52%,
    rgba(53, 243, 232, 0) 100%
  );
  .l-content {
    padding-top: 120px;
  }
  .btn-seeall {
    top: 160px;
  }
}

.l-cardList.midm {
  .l-content {
    padding-top: 120px;
  }
  .ico-arr {
    right: 30px;
    bottom: 30px;
  }
  .card-item {
    height: 346px;
    aspect-ratio: auto;
    padding: 30px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #f4f4f4;
    }
  }
  .card-title {
    height: 148px;
    .icon {
      flex: none;
      background: #f4f4f4 no-repeat 50% 50% / contain;
      border-radius: 50%;
      width: 64px;
      aspect-ratio: 1 / 1;
      font-size: 0;
      color: transparent;
      @function numName($num) {
        @if ($num >= 10) {
          @return $num;
        } @else {
          @return "0#{$num}";
        }
      }
      @for $i from 01 to 13 {
        $name: numName($i);
        &.api#{$name} {
          background-image: url("../images/icon_midm_api_#{$name}.png");
        }
      }
    }
    .title {
      height: 64px;
      font-size: 28px;
      line-height: 32px;
    }
  }
  .card-content {
    font-size: 16px;
    @include ellipsis(2);
  }
  .card-info {
    position: absolute;
    bottom: 44px;
    left: 30px;
    display: flex;
    align-items: center;
    margin-top: auto;
    color: #787878;
    > em {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 16px;
    }
    > em + em:before {
      content: "";
      display: block;
      background-color: #787878;
      width: 1px;
      height: 14px;
      margin: 1px 8px;
    }
  }
}
.midmClip {
  .mouse__cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    mix-blend-mode: difference;
    opacity: 0;
  }
  &.l-content {
    padding-top: 120px;
  }
  .clip {
    &-list {
      display: flex;
      align-items: stretch;
      gap: 36px;
      cursor: none;
    }
    &-item {
      flex: 0 0 360px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #000;
      width: 360px;
      height: 640px;
      padding: 60px 40px;
      color: #fff;
      transition: 0.5s;
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6) no-repeat 50% 50%;
      overflow: hidden;
      z-index: 0;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }
    &-title {
      background: linear-gradient(
        148.02deg,
        #a764ff 2.73%,
        #6e63ff 33.71%,
        #5fffef 62.55%
      );
      font-size: 42px;
      font-weight: 700;
      line-height: 62px;
      white-space: nowrap;
      color: transparent;
      background-clip: text;
      z-index: 1;
    }
    &-btn {
      flex: none;
      background: transparent;
      border: none;
      border-radius: 0;
      margin-top: auto;
      padding: 0;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      text-decoration: underline;
      z-index: 1;
      &::before {
        content: "";
        display: inline-block;
        background: url("../images/icon_btn_move.png") no-repeat 0 50%;
        width: 28px;
        height: 28px;
      }
    }
  }
}

// pc
@media (min-width: $pc) {
  .midmClip {
    .clip-img {
      opacity: 0;
    }
    .clip-item:last-child {
      flex-basis: 380px;
    }
    .clip-item.is-active {
      flex: 1 1;
      width: 600px;
      transition: padding 0.5s;
      &.item-title {
        background-color: #fff;
        border: 1px solid #ccc;
        color: #000;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      }
      &:not(.item-title) .clip-title {
        background: transparent;
        color: #fff;
      }
      .clip-img {
        opacity: 1;
      }
    }
  }
}
// tablet
@media (max-width: $tablet) {
  .midmFeature {
    .feature {
      &-title {
        font-size: 24px;
        &::after {
          margin: 20px auto;
        }
      }
      &-desc {
        font-size: 14px;
      }
    }
  }
  .midmClip {
    .clip-list {
      flex-direction: column;
      gap: 30px;
    }
    .clip-item {
      width: 100%;
      height: 430px;
      &.item-title {
        background-color: #fff;
        border: 1px solid #ccc;
        color: #000;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      }
      &:not(.item-title) .clip-title {
        background: transparent;
        color: #fff;
      }
    }
  }
}
// mobile
@media (max-width: $mobile) {
  .l-useCase.midm .btn-seeall {
    top: auto;
  }
  .l-cardList.midm {
    .card-title .title {
      font-size: 24px;
    }
    .card-content {
      font-size: 14px;
    }
  }
  .midmFeature {
    .feature-list {
      flex-direction: column;
      align-items: center;
      height: 740px;
    }
    .feature-item {
      width: 260px;
      margin: -10px auto;
    }
    .feature-title {
      font-size: 22px;
      &::after {
        width: 20px;
        margin: 12px auto;
      }
    }
    .feature-desc {
      font-size: 14px;
    }
  }
  .midmClip {
    .clip-list {
      gap: 20px;
    }
    .clip-item {
      width: 100%;
      height: 260px;
      padding: 30px 20px;
    }
    .clip-title {
      font-size: 26px;
      line-height: 40px;
    }
  }
}
