@import "_common";

main {
  padding: 0;
  min-height: 100vh;
}
/* common */
.br-pc {
  display: initial;
}
.br-mo {
  display: none;
}
.l-content {
  position: relative;
  width: 100%;
  max-width: 1392px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}
.l-titlebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}
.l-title {
  color: #000;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
}
.l-desc {
  font-size: 18px;
}
.btn-seeall {
  display: block;
  background: url("../images/icon_seeall.svg") no-repeat right 12px top 15px;
  width: 130px;
  margin-left: auto;
  padding: 9px 40px 9px 12px;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  transition: none;
  &:hover {
    background-image: url("../images/icon_seeall_on.svg");
    color: #00d9c3;
  }
}
.ico-arr {
  display: block;
  background: transparent url("../images/icon_arrow.svg") no-repeat 50% 50% /
    cover;
  width: 42px;
  aspect-ratio: 1 / 1;
}

/* visual */
.mainImageArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 600px;
  text-align: center;
  overflow: hidden;
  figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    span {
      display: block;
      background: no-repeat 50% 50% / cover;
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  /* owl nav button custom*/
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: #00d9c3;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 100px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 100px;
  }
}
.mainTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 80px 0;
  color: #fff;
  h2 {
    display: block;
    width: 100%;
    margin-top: 137px;
    line-height: 1;
    font-size: 48px;
    font-weight: 500;
    color: inherit;
    text-align: center;
    &::after {
      content: "";
      display: block;
      background-color: #fff;
      width: 30px;
      height: 4px;
      margin: 20px auto 0;
    }
  }
  .fc-primary {
    color: #00ffde;
  }
  .desc {
    width: 100%;
    margin-top: 20px;
    min-height: 60px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
    color: inherit;
  }
  a {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 25px auto 0 auto;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 700;
    color: inherit;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

/* Use Case */
.l-useCase {
  .btn-seeall {
    position: absolute;
    top: 200px;
    right: 0;
  }
  .ico-arr {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
  .case {
    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 36px;
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 440px;
      height: 514px;
      transition: none;
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          90deg,
          #9747ff -1.82%,
          #5c4eff 48.91%,
          #00d9c3 100%
        );
        opacity: 0;
        z-index: 0;
      }
      &:hover {
        transform: translate(-10px, -10px);
        box-shadow: none;
        &::before {
          transform: translate(10px, 10px);
          opacity: 1;
        }
        @extend %icon-hover;
      }
    }
    &-thumb {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
      }
    }
    &-content {
      position: relative;
      flex: 1;
      background-color: #fff;
      padding: 34px 40px;
      transition: none;
      .title {
        font-size: 30px;
        font-weight: 700;
        color: #000;
        @include ellipsis;
      }
      .content {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        color: #000;
        @include ellipsis(2);
        transition: none;
      }
    }
  }
}
/* Tech */
.l-cardList {
  .btn-seeall {
    margin: 60px auto 0;
  }
  .ico-arr {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
  .card {
    &-list {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 36px;
    }
    &-item {
      position: relative;
      background-color: #fff;
      border: 3px solid #fff;
      border-image-slice: 1;
      width: 440px;
      aspect-ratio: 1 / 1;
      min-height: 298px;
      padding: 40px;
      transition: none;
      color: #000;
      &:hover {
        border-image-source: linear-gradient(
          126.72deg,
          #9747ff 0%,
          #5c4eff 51.04%,
          #00d9c3 100%
        );
        @extend %icon-hover;
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 128px;
      .badge {
        flex: none;
        background-color: #f4f4f4;
        border-radius: 80px;
        line-height: 1;
        padding: 6px 12px;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
      .title {
        height: 84px;
        line-height: 42px;
        margin-top: auto;
        font-size: 30px;
        font-weight: 700;
        @include ellipsis(2);
        color: inherit;
        transition: none;
      }
    }
    &-content {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
      @include ellipsis(3);
      color: inherit;
      transition: none;
    }
  }
}

// tablet
@media (max-width: $tablet) {
  /* owl nav button custom*/
  .mainImageArea .owl-carousel .owl-nav {
    button.owl-prev,
    button.owl-next {
      display: none;
    }
  }
  .l-content {
    max-width: 768px;
    width: 100vw;
    padding-left: 24px;
    padding-right: 24px;
  }
  .mainTextArea {
    h2 {
      width: 100%;
      margin-top: 135px;
      font-size: 36px;
      &::after {
        width: 20px;
        height: 2px;
        margin-top: 16px;
      }
    }
    .desc {
      width: 100%;
      margin-top: 16px;
      line-height: 24px;
      font-size: 16px;
    }
    a {
      margin-top: 60px;
    }
  }
  .l-useCase {
    .btn-seeall {
      right: 24px;
    }
    .case-list {
      gap: 30px;
    }
    .case-item {
      flex: 0 1 auto;
      width: calc(50% - 15px);
      height: 422px;
    }
    .case-thumb {
      height: 200px;
    }
    .case-content {
      .title {
        font-size: 24px;
      }
      .content {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }
  .l-cardList {
    .card-list {
      gap: 30px;
    }
    .card-item {
      flex: 0 1 auto;
      width: calc(50% - 15px);
      padding: 30px;
    }
    .card-title {
      .title {
        height: 64px;
        font-size: 24px;
        line-height: 32px;
      }
    }
    .card-content {
      font-size: 14px;
    }
    .ico-arr {
      right: 30px;
      bottom: 30px;
    }
  }
}
// mobile
@media (max-width: $mobile) {
  .br-pc {
    display: none;
  }
  .br-mo {
    display: initial;
  }
  .l-content {
    max-width: calc(100vw - 40px);
    padding: 60px 0;
  }
  .btn-seeall {
    background-position: right 6px top 10px;
    background-size: 20px 20px;
    width: 96px;
    padding: 6px 30px 6px 8px;
    font-size: 18px;
  }
  .ico-arr {
    width: 28px;
    height: 28px;
  }
  .mainTextArea {
    h2 {
      font-size: 24px;
    }
    .desc {
      line-height: 22px;
      font-size: 14px;
    }
    a {
      margin-top: 60px;
    }
  }
  .l-useCase {
    .btn-seeall {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 20px;
    }
    .ico-arr {
      right: 30px;
      bottom: 30px;
    }
    .case-list {
      gap: 20px;
    }
    .case-item {
      width: calc(100vw - 40px);
    }
    .case-content {
      .content {
        font-size: 14px;
      }
    }
  }
  .l-cardList {
    .btn-seeall {
      margin: 20px 0 0 auto;
    }
    .ico-arr {
      right: 30px;
      bottom: 30px;
    }
    .card-list {
      gap: 20px;
    }
    .card-item {
      width: calc(100vw - 40px);
      padding: 30px;
    }
    .card-title .title {
      font-size: 28px;
    }
    .card-content {
      font-size: 14px;
    }
  }
}
